# Configuration for theme-specific resources:
AliasMatch ^/vufind2/themes/([0-9a-zA-Z-_]*)/css/(.*)$ /path-to/NDL-VuFind2/themes/$1/css/$2
AliasMatch ^/vufind2/themes/([0-9a-zA-Z-_]*)/files/(.*)$ /path-to/NDL-VuFind2/themes/$1/files/$2
AliasMatch ^/vufind2/themes/([0-9a-zA-Z-_]*)/images/(.*)$ /path-to/NDL-VuFind2/themes/$1/images/$2
AliasMatch ^/vufind2/themes/([0-9a-zA-Z-_]*)/js/(.*)$ /path-to/NDL-VuFind2/themes/$1/js/$2
<Directory ~ "^/path-to/NDL-VuFind2/themes/([0-9a-zA-Z-_]*)/(css|files|images|js)/">
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
  </IfModule>
  <IfModule mod_authz_core.c>
    Require all granted
  </IfModule>
  AllowOverride All
</Directory>

# Configuration for general VuFind base:
Alias /vufind2 /path-to/NDL-VuFind2/public
<Directory /path-to/NDL-VuFind2/public/>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
  </IfModule>
  <IfModule mod_authz_core.c>
    Require all granted
  </IfModule>
  AllowOverride All

  # Uncomment the following lines, if you wish to use the Shibboleth authentication
  #AuthType shibboleth
  #require shibboleth

  RewriteEngine On
  RewriteBase /vufind2

  # If using VuDL, uncomment the following line, fill in your appropriate Fedora
  # server and port, and make sure that Apache mod_proxy and mod_proxy_http are
  # enabled.
  #RewriteRule ^files/(.*)/(.*) http://your-fedora-server/fedora/objects/$1/datastreams/$2/content [P]

  # Get rid of cookies (e.g. session) when using API functions
  RewriteRule (^api/|/api/) - [E=VUFIND_API_CALL:1]
  RequestHeader unset Cookie env=VUFIND_API_CALL
  Header unset Set-Cookie env=VUFIND_API_CALL
  Header unset Set-Cookie env=REDIRECT_VUFIND_API_CALL

  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^.*$ - [NC,L]
  RewriteRule ^.*$ index.php [NC,L]

  php_value short_open_tag On

  # Uncomment this line to put VuFind into development mode in order to see more detailed messages:
  SetEnv VUFIND_ENV development

  # Uncomment this line if you want to use the XHProf profiler; this is a developer-oriented option
  # that most users will not need.  Make sure the XHProf PHP libraries are available on your include
  # path.  See http://vufind2.org/jira/browse/VUFIND-419 for more details.
  #SetEnv VUFIND_PROFILER_XHPROF http://url/to/your/xhprof/web/interface

  # This line points to the local override directory where you should place your customized files
  # to override VuFind core features/settings.  Set to blank string ("") to disable.
  SetEnv VUFIND_LOCAL_DIR /path-to/NDL-VuFind2/local

  # This line specifies additional Zend Framework 2 modules to load after the standard VuFind module.
  # Multiple modules may be specified separated by commas.  This mechanism can be used to override
  # core VuFind functionality without modifying core code.
  SetEnv VUFIND_LOCAL_MODULES FinnaSearch,FinnaTheme,Finna,FinnaCustom
</Directory>
