<phpunit bootstrap="./bootstrap.php" backupGlobals="false">
  <testsuites>
    <testsuite name="VuFind">
      <directory>src</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../../src</directory>
    </whitelist>
  </filter>
</phpunit>
