# GNU Emacs temporary files
\#*
.\#*
*~

.php_cs_cache
.phpstan_cache
.vagrant
.vscode/*
/downloads
/Gruntfile.local.js
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit.result.cache
node_modules
public/swagger-ui
