# GNU Emacs temporary files
\#*
.\#*
*~

.php_cs_cache
.vagrant
.vscode/*
/downloads
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit.result.cache
node_modules

# OS Created Files

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# IDE Files
.metadata/*
.settings/*
.project
.buildpath
.ExternalToolBuilders
.idea
.vscode

# Local VuFind files
local/cache/covers/large/*
local/cache/covers/medium/*
local/cache/covers/small/*
local/cache/languages/*
local/cache/objects/*
local/cache/searchspecs/*
local/config/finna/*.ini
local/config/finna/*.yaml
local/config/finna/*.json
local/config/finna/*.wsdl
local/config/vufind/*.ini
local/config/vufind/*.yaml
local/config/vufind/*.wsdl
local/httpd-vufind.conf
local/import/import.properties
local/import/import_auth.properties
local/languages/finna/*-datasources.ini
themes/finna2/css/finna.css
themes/custom/css/finna.css
*.diff
vufind.bat
public/swagger-ui
