sudo: false
language: php
php:
  - 7.1
  - 7.2
  - 7.3

env:
  - VUFIND_HOME=$PWD VUFIND_LOCAL_DIR=$PWD/local

before_script:
  - phpenv config-rm xdebug.ini
  - phpenv rehash
  - composer install
  - npm install -g eslint@"<5.0.0"
  - npm install -g jshint@"2.9.6"
  - npm install

cache:
  directories:
    - downloads
    - .php_cs_cache
    - $HOME/.composer/cache/files

script:
  - vendor/bin/phing eslint eslint-finna jshint phpunitfast phpcs-console php-cs-fixer-dryrun
