language: php
php:
  - 5.4

env:
  - VUFIND_HOME=$PWD VUFIND_LOCAL_DIR=$PWD/local

before_script:
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash

script:
  - phpcs --standard=PEAR --ignore=*/config/*,*/tests/* --extensions=php $PWD/module

