# Environment variables for Docker

FINNA_DOCUMENT_ROOT=/opt/vufind2

# If you use Docker as root, these should probably be absolute paths to your
# regular user's home directory.
SSH_IDENTITY_FILE=~/.ssh/id_ed25519
SSH_KNOWN_HOSTS=~/.ssh/known_hosts
SSH_CONFIG=~/.ssh/config

SOCKS5_PROXY_PORT=1081
# Set as development or preproduction host as needed.
SOCKS5_PROXY_DST=

# Comma-separated list of jump hosts. Configure your ~/.ssh/config with the
# appropriate keys, usernames etc.
SSH_JUMP_SEQUENCE=host1,host2
