// Use this for all general accordion styles
// For collapsibles in Record Tabs see record-tabs.scss


// Accordion / Collapse: Toggler background and arrow
.accordion-toggler {
  background: $toggler;
  display: $accordion-toggler-display;
  padding: $accordion-toggler-padding;
  text-align: $accordion-toggler-text-align;
  width: $accordion-toggler-width;

  &::after {
    // this gets filled below
    content: '';
    float: right;
    font-family: FontAwesome, sans-serif;
  }
}

.accordion-toggler:hover,
.accordion-toggler:focus,
.accordion-toggler[aria-expanded='true'] {
  background: $toggler-active;
}

.accordion-toggler[aria-expanded='true']::after {
  color: $accordion-toggler-icon-content-expanded-color;
  content: $accordion-toggler-icon-content-expanded;
}

.accordion-toggler[aria-expanded='false']::after {
  content: $accordion-toggler-icon-content-closed;
}


// Collapse on tables:
// normally, .collapse.in elements get assigned 'display: block',
// for tables it must be: 'display: table' or tables won't be 100% wide
table.collapse.in {
  display: table;
}
