// Use this for footer-related styles
// For footer 'background-color', 'border' and 'padding-bottom' see finc.scss
footer {
  border-top: $footer-border-top;
  padding-top: $footer-padding-top;

  a {
    text-decoration: $footer-link-text-decoration;
  }

  // Left-align footer lists to their headings
  ul {
    padding-left: $footer-ul-padding-left;
  }
}

.powered-by,
.poweredBy {
  font-size: $footer-poweredby-font-size;
  padding: $footer-poweredby-padding;

  img {
    height: $footer-poweredby-img-height;
    margin-left: $footer-poweredby-img-margin-left;
    margin-right: $footer-poweredby-img-margin-right;
  }

  a:hover {
    @include outline();
  }
}

