// Use this file to style all active filters elements in header
// The structure is like so:
// <!-- Outer container -->
// <div class="active-filters">
//   <!-- vertical bar for Reset all button and Show-all-filters-toggler
//   <div class="filters-toggle-bar">
//     <!-- Reset all button -->
//     <a class="reset-filters-btn" ....
//     <!-- Show-all-filters-toggler -->
//     <a class="filters-toggle" data-target="#active-filters-mobile" > ..
//     <div class="clearfix"></div>
//   </div>
//   <!-- Outer container for all individual filters -->
//   <div id="active-filters-mobile" class="filters filters-bar">
//     <div class="title-value-pair">
//       <!-- Filtergroup title -->
//       <span class="filters-title">
//       <!-- Individual filters' outer container -->
//       <span class="filter-value filters-or">
//         <!-- Individual filter -->
//         <a class="search-filter-remove" ...

// set general text decoration on filters
.filters {
  button,
  a {
    text-decoration: $search-filter-text-decoration;
  }
}

.active-filters {
  // Outer container for all filters, reset button and show-all-filters-toggler
  // overwrite BS values where necessary
  background-color: $active-filters-outer-container-background-color;
  border: $active-filters-outer-container-border;
  display: $active-filters-outer-container-display;
  margin-bottom: $active-filters-outer-container-margin-bottom;
  padding: $active-filters-outer-container-padding;

  @media print {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;

    h2 {
      margin-bottom: 0;
      padding-bottom: 0;
      position: unset;
    }

    a.reset-filters-btn,
    .filters-toggle-bar,
    .filters-toggle,
    .clearfix {
      display: none;
    }

    .filters,
    .filters .filter-value {
      display: inline;
      min-height: unset !important;
      padding: 0 !important;
    }
  }



  // Outer container for all _individual_ filters
  .filters {
    padding-left: $active-filters-filter-padding-left;

    // Show filters on XS by default (no collapsed toggler)
    &.collapse {
      @media (max-width: $screen-xs-max) {
        display: flex;
        // Always display flex sub-elements below each other on XS
        flex-direction: column;
        height: auto !important;
      }

      @media print {
        display: block;
      }
    }

    // Make filter group title bold for clarity
    .filters-title {
        font-weight: 600;
    }

    // Individual filters' outer container
    // Make this the same height as .reset-filters-btn and other navigation elements
    // for better usability - keep '.filters' for specifity (overwriting BS3)

    // unset BS values for proper focus highlighting of contained anchor
    .filter-value {
      background: transparent;
      margin: 0;
      padding: 0;


      // define styles for contained anchor
      a {
        // the background filter value in BS3 is '$list-group-active-bg'
        background: $search-filter-values-remove-bg;
        display: inline-block;
        height: $navigation-element-default-height;
        margin-bottom: $search-filters-margin-bottom;
        padding: $search-filters-padding;
        vertical-align: $search-filter-remove-button-vertical-align;

        &:focus,
        &:hover {
          background: $search-filter-remove-hover-bg;
          color: $search-filter-remove-hover-color;
          // overwrite outline-offset ('a:focus')
          outline-offset: 0;
        }
      }
    }
  }

  // keep '.search-filter-dropdown' for specifity to overwrite BS
  .search-filter-dropdown .dropdown-menu .filter-value a {
    width: 100%;
  }

  // show-all-filters-toggler
  .filters-toggle {
    float: $search-filter-all-filters-toggle;
    text-decoration: $search-filter-text-decoration;

    @media (max-width: $screen-xs-max) {
      cursor: default;
    }

    // Hide collapse icon on XS, because active filters section is always open!
    @media (max-width: $screen-xs-max) {
      &::after {
        content: '';
      }
      &.collapsed::after {
        content: '';
      }
    }
  }
}


// Container for 'Reset filters' button
.filters-toggle-bar {
  // Place 'reset filters' to the right of the xs-only h2 and stacked on devices smaller than 420px
  @media (max-width: $screen-xs-max) {
    display: inline-flex;
  }

  @media screen and (max-width: 420px) {
    width: 100%;
  }

  @media screen and (min-width: 421px) and (max-width: $screen-xs-max) {
    width: 55%;

    // right-align flex content
    a {
      margin-left: auto;
    }
  }
}


// This is the 'reset all'-button
.reset-filters-btn {
  background-color: $search-filter-remove-all-bg;
  color: $search-filter-remove-all-color;
  float: $search-filter-remove-all-float;

  &:focus,
  &:hover {
    background: $sidebar-item-active-hover-bg;
    color: $sidebar-facet-active-hover-color;
  }
}

// Set focus and hover styles for individual filter items' ('.search-filter-remove')
.search-filter-remove,
.search-filter-remove:visited, {
  color: $search-filter-values-remove-color;

  &:focus,
  &:hover {
    // Keep '.active-filters' for specifity to overwrite BS
    .active-filters & {
      background: $search-filter-remove-hover-bg;
      color: $search-filter-remove-hover-color;
      text-decoration: inherit;

    }
  }


  // Set color of the individual filters when FOCUS is ON OUTER container
  .filters .filter-value:focus &,
  .filters .filter-value:hover & {
    background: $search-filter-remove-hover-bg;
    color: $search-filter-remove-hover-color;


    // x-icon color when outer container is focussed
    &::after {
      color: $search-filter-remove-icon-hover-color;
    }
  }


  // This is the colored, button-like element with the 'x' icon
  .text {
    // Create ellipsis for overlong filter text
    display: $search-filter-remove-button-text-display;
    max-width: $search-filter-remove-button-text-max-width;
    overflow: $search-filter-remove-button-text-overflow;
    text-overflow: $search-filter-remove-button-text-text-overflow;
    white-space: $search-filter-remove-button-text-white-space;
  }


  // Set icon content
  &::after {
    content: $search-filter-remove-icon;
    display: $search-filter-remove-icon-display;
    margin-top: $search-filter-remove-icon-top-margin;
    vertical-align: $search-filter-remove-icon-vertical-align;

    // Move 'x' to the right of the buttons in dropdown
    .search-filter-dropdown & {
      padding: $search-filter-remove-icon-in-dropdown-padding;
      position: $search-filter-remove-icon-in-dropdown-position;
      right: $search-filter-remove-icon-in-dropdown-distance-from-right;
    }
  }
}


// Style for dropdowns (activated when more than n item(s) are set in filters.phtml):
// Unset the vertical alignment from BS to align dropdowns AND indiv. buttons
// The relevant definition is '.searchForm .btn {vertical-align: top;}'
.search-filter-dropdown {

  button[id^='dropdown-toggle-'] {
    // set 'float' to 'none' to make vertical align work
    float: $search-filter-dropdown-button-float;
    vertical-align: $search-filter-dropdown-button-vertical-align;
  }
}

.title-value-pair {
  margin-right: 0;
}

.search-filter-remove {
  // Align with dropdown (if one is present)
  margin-top: 0;
}
