// Use this file to style all your header and header navbar elements

// HEADER and NAVBAR FIXED have the same width as rest of the page
// (the header can also run the full width of the viewport!)

// Set header and navbar background color
header,
.navbar {
  background-color: $header-bg-color;
}

// Set header, navbar and breadcrumbs widths + placement
header,
.navbar,
.breadcrumbs {
  // For a full-width header change '$header-navbar-breadcrumbs-margin' in customVariables
  // and all the media queries below;
  // if you're not using a fixed navbar, also change the settings for '.navbar' above
  margin: $header-navbar-breadcrumbs-margin;

  // set width to width of BS container
  @media (min-width: $screen-sm-min) {
    //width: $container-sm; // Fixme: Variable doesn't exist
  }

  @media (min-width: $screen-md-min) {
    //width: $container-md; // Fixme: Variable doesn't exist
  }

  @media (min-width: $screen-lg-min) {
    //width: $container-lg; // Fixme: Variable doesn't exist
  }
}

// Define surrounding container for navbar as a flexible container
// '.banner' also contains the logo and the search container
// See also below: .'navbar-header ...'
.banner {
  // important for subsequent flex elements, change variable for non-flex display
  display: $container-for-navbar-display-as;

  // stack elements on top of each other on XS, change variable for non-flex display
  @media (max-width: $screen-xs-max) {
    flex-direction: $container-for-navbar-flex-direction-xs;
  }
}

// Define fixed Navbar features (Header): When using a fixed header + autocomplete,
// increase the z-index in autocomplete-results to a value higher than that of the fixed navbar (1030)!
.navbar-fixed {
  background-color: $navbar-fixed-bg-color;
}

// Keep navbar on left, when off-canvas is active, and give it the same appearance as ever
// the '.active' class is set on body when the user hits the button to display the sidebar
.navbar-fixed-top {
  border-bottom: $navbar-fixed-top-border-bottom-width;


  .offcanvas.active & {
    margin-top: -$navbar-height-xs;
    position: relative;
  }
}

// Navbar min-height is defined in BS (use customVariables to adjust);
// however, there is no definition for small devices, so we introduce it here
.navbar {
  background-color: $navbar-bg-color;
  // Navbar gets a minimum-height of 50px by default,
  // activate and change '$navbar-height' in customVariables.scss;
  // set height, instead of min-height, or navbar may spill over breadcrumbs when
  // body -> padding-top would need to be taller than navbar minimum-height
  min-height: $navbar-height;

  // Set min height for xs
  @media (max-width: $screen-xs-max) {
    min-height: $navbar-height-xs;
  }

  // Set min height for navbar on small, allow for a stacked search box
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    min-height: $navbar-height-sm;
  }

  // Style menu section with book bag, my account, language selector for XS
  .navbar-nav {
    @media (max-width: $screen-xs-max) {
      // avoid BG bleed on small
      margin-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin-right: -$navbar-padding-x; // Fixme: was ...-horizontal instead of ...-x
    }
  }
}

// *****************************************************************
// ************ Library Name and Hamburger menu contents ***********
// *****************************************************************

.navbar-header {
  flex: $hamburger-menu-flex;

  // ensure proper margins on XS in conjunction with 'flex-direction: column' on '.banner', see above
  @media (max-width: $screen-xs-max) {
    .container > & {
      margin-left: $hamburger-menu-margin-left-xs;
      margin-right: $hamburger-menu-margin-right-xs;
    }
  }
}

// Library name - we give it the same padding as a button, so if fits in with the header
.navbar-brand {
  float: $library-name-float;
  padding: $library-name-padding;

  @media (max-width: $screen-xs-max) {
    height: $library-name-height-xs;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding-right: $library-name-padding-right-sm;
  }

  &:focus,
  &:hover {
    @include outline();
    outline-offset: $library-name-focus-hover-outline-offset;
  }

  img {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      height: $library-name-img-height-sm;
      max-width: $library-name-img-height-max-width-sm;
    }
  }
}

// Hamburger menu toggler
.navbar-toggle {
  margin-bottom: $hamburger-menu-margin-bottom;
  margin-right: $hamburger-menu-margin-right;
  margin-top: $hamburger-menu-margin-top;

  &:focus,
  &:hover {
    background-color: $navbar-default-toggle-hover-bg;
  }

  // toggler icon size
  .fa {
    font-size: $hamburger-menu-icon-font-size;
  }
}


// *****************************************************************
// ************ Menu items on the right + Opened menu on XS ********
// *****************************************************************

// Make right-hand header parts fit with search box on SM devices - see also .search.container
#header-collapse {

  @media (min-width: $screen-sm-min) {
    // Make smaller to fit with search box and right-hand nav-elements
    flex: $header-menu-flex-sm-up;
    // position to the right!
    order: $header-menu-flex-order-sm-up;
    padding-top: $header-menu-padding-top-sm-up;
  }
}

// Define look in opened state
.navbar-collapse {
  //// Define header navbar on mobile
  &.collapse.in,
  &.collapsing {
    @media (max-width: $screen-xs-max) {
      background-color: $navbar-bg-color-xs;
      margin-bottom: $navbar-xs-openend-margin-bottom;
    }

    @media (max-width: $screen-sm-max) {
      // margin-top: -($navbar-height-xs) - 10px; // pull over searchbox
      // position: $navbar-opened-on-xs-position;
      // Use the following formula to allow for separately calculated $navbar-height in themes
      // top: calc(#{$navbar-height-xs} * 1.5);

      a.btn {
        text-align: left;
      }
    }
  }
}



// *****************************************************************
// ************ Navbar button sizes ********************************
// *****************************************************************

// applies to anchors with '.btn' class only (such as 'my account') (<a class="btn" ...>)
// - this is to make them look the same as the 'find' button
.nav > li > a.btn {
  @include button-size($padding-y, $padding-x, $font-size-base, $btn-border-radius-base); // Fixme: was ...-base-vertical, ...-base-horizontal / instead of -...y and ...-x
  line-height: $line-height-base;

  // make buttons fit on SM
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    // 6px 2px
    padding: $btn-header-nav-padding-sm;
  }

  &:focus,
  &:hover {
    // Same hover-color must be applied to 'Advanced Search' button
    background-color: $btn-header-nav-focus-hover-background-color;
    color: $btn-header-nav-focus-hover-color;
    outline: $btn-header-nav-focus-hover-outline;
  }
}



// *****************************************************************
// ************ Bookbag/Cart/Clip board ****************************
// *****************************************************************

// Remove cart text to make search box fit on intermediate tablets
.cart-label {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: none;
  }
}


// *****************************************************************
// ************ Language selector **********************************
// *****************************************************************

// Outer language menu container
.language {
  &.dropdown {
    margin-right: $language-selector-dropdown-margin-right;
  }

  // Inner language menu container
  .dropdown-menu {
    background-color: $language-selector-dropdown-menu-background-color;
    border: $language-selector-dropdown-menu-border;
    min-width: $language-selector-dropdown-menu-min-width;

    // Language menu buttons
    .btn:hover,
    .btn:focus {
      background-color: $btn-language-hover-bg;
      color: $btn-language-hover-color;
    }

    .active .btn:hover {
      background-color: $btn-language-active-hover-bg;
      color: $btn-language-hover-color;
    }

    // Use this when you have language anchors with '.btn' classes (<a class="btn" ...>)
    // see also '.oneLanguage .btn' below
    a {
      color: $language-selector-dropdown-menu-link-color;

      &.btn {
        @include button-size($padding-y, $padding-x, $font-size-base, $btn-border-radius-base); // Fixme: was ...-base-vertical, ...-base-horizontal / instead of -...y and ...-x
        line-height: $line-height-base;
        padding-left: $language-selector-dropdown-menu-btn-padding-left;
        padding-right: $language-selector-dropdown-menu-btn-padding-right;

        &:focus,
        &:hover {
          background-color: $language-selector-dropdown-menu-btn-focus-hover-background-color;
        }
      }
    }
  }
}

// show language button over entire width for XS (in hamburger menu)
@media (max-width: $screen-xs-max) {
  #langmenu {
    width: 100%;
  }

  .language.dropdown {
    margin-right: 0;
  }
}

// Language select when there is only one language
// keep '.dropdown-menu' for specifity
.oneLanguage.dropdown-menu {
  display: $language-selector-one-language-only-display;
  margin-top: $language-selector-one-language-only-margin-top;
  position: $language-selector-one-language-only-position;

  .btn {
    background: $language-selector-one-language-only-btn-background;
    color: $language-selector-one-language-only-btn-color;

    @media (max-width: $screen-xs-max) {
      background-color: $language-selector-one-language-only-btn-background-color-xs;
      // Align with other entries
      padding-left: $language-selector-one-language-only-btn-padding-left-xs;
      text-align: $language-selector-one-language-only-btn-text-align-xs;
      // Pull to full width on XS
      width: $language-selector-one-language-only-btn-width-xs;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      float: $language-selector-one-language-only-btn-float-sm;
      padding: $language-selector-one-language-only-btn-padding-sm;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      float: $language-selector-one-language-only-btn-float-md;
      padding: $language-selector-one-language-only-btn-padding-md;
    }
  }

  // Capitalize language short codes such as 'en'
  .visible-sm-only,
  .visible-sm-md-only {
    text-transform: capitalize;
  }
}


