// Use this for all home page styles

// Add top margin for better looks
.searchHomeContent {
  margin-top: $home-page-margin-top;

  // Wells are containers that wrap content such as Wikipedia entries
  .well {
    @media (max-width: $screen-xs-max) {
      background-color: $home-page-well-xs-background-color;
      border: $home-page-well-xs-border;
      box-shadow: $home-page-well-xs-box-shadow;
      min-height: $home-page-well-xs-min-height;
      padding: $home-page-well-xs-padding;
    }
  }
}




// *****************************************************************
// ************ Browsing section ***********************************
// *****************************************************************
.browse-container {
  padding-top: $browse-container-padding-top;

  @media (max-width: $screen-xs-max) {
    margin-top: $browse-container-xs-margin-top;
  }
}

// Browsing suggestion lists on home page (prevent torn-apart look when 2 columns only)
.browsesuggest.columns + .columns:last-child {
  float: $home-page-browse-suggest-2-columns-only-last-child-float;
}

.browse-item.active {
  &:focus,
  &:hover {
    background-color: $home-page-browse-item-active-focus-hover-background-color;
    text-decoration: $home-page-browse-item-active-focus-hover-text-decoration;
  }
}


// *****************************************************************
// ************ Browsing section lists *****************************
// *****************************************************************
// Sets the number of columns in which the facets on home page should be displayed
.home-facet-container {
  display: table;
  width: 100%;
}
