// defines labels in search results and elsewhere
// PLS NOTE: The labels.scss from Bootstrap does not have the '!default'
// flags it may therefore be important to use '!important' in the instances to overwrite
.label,
.result-formats .format {
  // use '$label-radius', which in finc defaults to '0'
  border-radius: $label-radius;
  display: $label-result-format-status-display;
  font-weight: $label-result-format-status-font-weight;
  margin-top: $label-result-format-status-margin-top;
  padding: $label-result-format-status-padding;
}
