// Use this for:
// style-based icons,
// media type-sprites,
// status indicators,
// my account-icons and
// coloured labels styles


// *****************************************************************
// ************ Style-based Icons **********************************
// *****************************************************************

.record,
.result {
  .media-left,
  .media-right {
    &.record-icon img {
      display: inline-block;
      max-width: none;
      width: $thumbnail-width-small;
    }
  }

  .media-left {
    @media (max-width: $screen-sm-max) {
      margin: 0;
    }
  }

  // cover
  .ajaxcover .spinner {
    height: 0;
    position: absolute;
  }

  .cover-container {
    min-width: 6em;
  }
  // cover - END
}


// *****************************************************************
// ************ Sprites for Media Icons ****************************
// *****************************************************************

.sprite-media-icon {
  background: url('../../../finc/images/sprite-mediaicons.png') 0 0 repeat;
  float: left;
  height: 54px;
  width: 50px;
}

////// 1st row of sprite
.book {
  background-position: 0 0;
}

.thesis {
  background-position: -50px 0;
}

.ebook {
  background-position: -100px 0;
}

.sets {
  background-position: -150px 0;
}

.electronic {
  background-position: -250px 0;
}

////// 2nd row of sprite
.journal {
  background-position: 0 -55px;
}

.electronicjournal {
  background-position: -50px -55px;
}

.newspaper {
  background-position: -100px -55px;
}

.manuscript {
  background-position: -150px -55px;
}

.braille {
  background-position: -200px -55px;
}

.microfilm {
  background-position: -250px -55px;
}

////// 3rd row of sprite
.software {
  background-position: 0 -110px;
}

.software-set {
  background-position: -100px -110px;
}

.kit {
  background-position: -100px -110px;
}

.image {
  background-position: -150px -110px;
}

.slide {
  background-position: -200px -110px;
}

.globe {
  background-position: -250px -110px;
}

////// 4th row of sprite
.film {
  background-position: 0 -165px;
}

.dvd {
  background-position: -50px -165px;
}

.video {
  background-position: -100px -165px;
}

.video-set {
  background-position: -100px -165px;
}

.map {
  background-position: -200px -165px;
}

.unknown {
  background-position: -250px -165px;
}

////// 5th row of sprite
.audio {
  background-position: 0 -220px;
}

.cd {
  background-position: -50px -220px;
}

.audiotape {
  background-position: -100px -220px;
}

.musicalscore {
  background-position: -150px -220px;
}

.chart {
  background-position: -200px -220px;
}

.physicalobject {
  background-position: -250px -220px;
}

////// 6th row of sprite
.audio-set {
  background-position: 0 -275px;
}




// *****************************************************************
// ************ Status-indicating colors ***************************
// *****************************************************************
// For icons on status-colored BG see below
.text-danger,
.text-info,
.text-success,
.text-warning {
  padding: .5em;
}

.text-success {
  background-color: $state-success-bg;
  margin-bottom: 0;
}

.text-danger {
  background-color: $state-danger-bg;
}




// *****************************************************************
// ************ Icons & numbers in MyAccount facets & Login link ***
// *****************************************************************

// Warning signs in MyAccount sidebar and warning sign in front of Login/MyAccount in header:
// bell, clock, exclamation triangle
.fa-bell,
.fa-clock-o,
.fa-exclamation-triangle {

  &.text-danger,
  &.text-success,
  &.text-warning {
    // make BG of all icons transparent and render icon itself
    // in respective colors (see individual icons below)
    background: $sidebar-my-account-danger-success-warning-background;
    padding: $sidebar-my-account-danger-success-warning-padding;

    // icon in header navbar on Hover
    .btn:focus &,
    .btn:hover & {
      color: inherit;
    }
  }
}



// Warning signs in MyAccount sidebar
.fa-bell,
.fa-clock-o {
  &.text-success {
    color: $icon-with-text-success-color;
  }

  &.text-warning {
    color: $icon-with-text-warning-color;
  }
}

// Warning sign in front of Login/MyAccount in header
.fa-exclamation-triangle {
  &.text-danger {
    color: $icon-with-text-warning-color;
    // keep padding at 0 or alignment in header nav will be messed up
    padding: $icon-exclamation-triangle-in-header-padding;
  }
}

