// Use this for all off-canvas-related styles


// *****************************************************************
// ************ Off-canvas Icons ***********************************
// *****************************************************************
// For variables, see customVariables.scss

.offcanvas-left {
  // Back-button in opened off-canvas sidebar
  .close-offcanvas::after {
    content: $off-canvas-left-close-icon-content;
  }

  // Off-canvas toggler button in normal pages
  .search-filter-toggle::before {
    content: $off-canvas-left-open-icon-content;
  }
}

.offcanvas-right {
  // Back-button in opened off-canvas sidebar
  .close-offcanvas::before {
    content: $off-canvas-right-close-icon-content;
  }

  .search-filter-toggle::after {
    content: $off-canvas-right-open-icon-content;
  }
}


// *****************************************************************
// ************ Off-canvas in Sidebar ******************************
// *****************************************************************

// Off-Canvas button in sidebar (record view)
.close-offcanvas {
  // make same as toolbar padding, below
  margin-right: $record-view-toolbar-button-padding;
  text-align: left;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  // Make outline look identical on all sides
  &:focus {
    outline-offset: 0;
  }
}


.offcanvas-left {
  .record {
    .media-left.img-col {
      // push record view icon to right (Desktop) on left-aligned sidebars - pls NOTE: required offcanvas = true
      @media (min-width: $screen-sm-min) {
        float: $off-canvas-left-media-icon-on-right-sm-up-float;
        margin-left: $off-canvas-left-media-icon-on-right-sm-up-margin-left;
        margin-right: $off-canvas-left-media-icon-on-right-sm-up-margin-right;
        padding-right: $off-canvas-left-media-icon-on-right-sm-up-padding-right;
      }
    }
  }
}


// make 100% wide to avoid conflict with other elements, for back-toggler see below
.offcanvas-toggler,
.offcanvas-toggler button {
  width: 100%;
}

.offcanvas-toggler {
  @media print {
    display: none;
  }
}


// *****************************************************************
// ************ Sidebar with offcanvas active **********************
// *****************************************************************

// keep '.container' for specifity
.offcanvas.active .container .sidebar {
  &.left {
    // make room for button left-side borders
    padding-right: $off-canvas-active-sidebar-padding;
  }

  &.right {
    // make room for button right-side borders
    padding-left: $off-canvas-active-sidebar-padding;
  }
}


// *****************************************************************
// ************ Offcanvas Overlay **********************************
// *****************************************************************
.offcanvas-overlay {
  // Overwrite BS Theme components/offcanvass.scss lines 32ff
  // so definitions will be valid for tablet too
  @media screen and (max-width: $offcanvas-default-max-width) {
    background-color: $overlay-color;
    cursor: pointer;
    display: none;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .5s;
    width: 100%;
    z-index: $off-canvas-overlay-z-index;

    .offcanvas.active & {
      display: block;
      opacity: 1;
      transition: opacity .5s;
    }

    .offcanvas.active.offcanvas-left & {
      right: -$offcanvas-offset;
    }

    .offcanvas.active.offcanvas-right & {
      left: -$offcanvas-offset;
    }
  }
}

// *****************************************************************
// ************ Tabs View in Result List ***************************
// *****************************************************************

// Result list with 'tabs view' on
// When item is clicked in 'Tabs View', the item is displayed
// as a tab - but erroneously an offcanvas-button appears on XS
// To test this, turn on
// [List]
// view=tabs
// in searches.ini

.template-name-results .tab-content .offcanvas-toggler {
  display: none;
}


