// Use this for all pagination/pager element styles (result list AND record view)

// *****************************************************************
// ************ Pagination for result list *************************
// *****************************************************************

// Pagination & Searchtools get the same centered display
.pagination {
  @include content-centered-display-as-table;

  @media print {
    display: none;
  }

  // Fix pagination on XS to display fewer items and remove first and last
  @media (max-width: $screen-xs-max) {
    li {
      // hide last and first page buttons
      &.first,
      &.last,
        // select 7th to 11th child
      &:nth-child(n+10):nth-child(-n+13) {
        display: none;
      }
    }
  }
}


// *****************************************************************
// ************ Pagination/pager in record/details view ************
// *****************************************************************
// The pager occurs in record/view but also in collection/view
.pager {
  margin-bottom: $pager-margin-bottom;

  // make enough room, so pager doesn't get pulled under the header
  @media (max-width: $screen-xs-max) {
    margin-top: $pager-margin-top-xs;
  }

  a {
    text-decoration: $pager-text-decoration;
  }

  .disabled {
    display: none;
  }

  li {
    > a,
    > span {
      background-color: $pager-bg;
      border: 1px solid $pager-border;
      border-radius: $pager-border-radius;
    }

    > a:hover,
    > a:focus {
      background-color: $pager-hover-bg;
      color: $pager-hover-color;
      text-decoration: $btn-text-decoration;
    }
  }
}

