// Use this for all record element styles (record view)
// excluding record tabs -> see _record-tabs.scss

.record .media {
  display: unset;
}

// center access icon / cover on (mobile) record view by using full view port width: #23135
.record .media-left,
.record .media-right {
  @media (max-width: $screen-xs-max) {
    margin: auto;
    width: revert;
  }
}

// set style and postition for default JS-book bag button #25691
// prevent jumping book bag button for reload or showing next record in detail view
.cartProcessorNoJs {
  position: absolute;

  input {
    color: $link-color;
    background-color: transparent;
    border: none;
    left: 21px;
    position: absolute;
    top: 3px;
  }
}