// Use this for all resolver-link-related styles

// Redi link-resolver traffic lights
.resolver .show-availability {
  display: $resolver-links-show-availability-display;
}

.traffic-light {
  display: $traffic-light-display;
  padding: $traffic-light-padding;
  vertical-align: $traffic-light-vertical-align;

  // This defines the look of the squares inside the traffic lights bar
  // This first definition is general will be overridden by the definitions below
  span {
    // temporary color, will be overwritten by first, second, third items below
    background-color: $traffic-light-inner-items-background-color;
    border-top: $traffic-light-inner-items-border-top;
    display: $traffic-light-inner-items-display;
    height: $traffic-light-inner-items-height;
    margin: $traffic-light-inner-items-margin;
    padding-right: $traffic-light-inner-items-padding-right;
    width: $traffic-light-inner-items-width;

    &.last {
      margin-right: $traffic-light-inner-items-last-margin-right;
    }
  }

  // Override general settings with 'access denied' traffic light settings
  &.access-denied {
    span {
      &.first {
        background-color: $traffic-light-access-denied-inner-first-background-color;
      }

      &.second {
        background-color: $traffic-light-access-denied-inner-second-background-color;
      }

      &.last {
        background-color: $traffic-light-access-denied-inner-last-background-color;
      }
    }
  }

  // Override general settings with 'access limited' traffic light settings
  &.access-limited {
    span {
      &.first {
        background-color: $traffic-light-access-limited-inner-first-background-color;
      }

      &.second {
        background-color: $traffic-light-access-limited-inner-second-background-color;
      }

      &.last {
        background-color: $traffic-light-access-limited-inner-last-background-color;
      }
    }
  }

  // Override general settings with 'access open' traffic light settings
  &.access-open {
    span {

      &.first {
        background-color: $traffic-light-access-open-inner-first-background-color;
      }

      &.second {
        background-color: $traffic-light-access-open-inner-second-background-color;
      }

      &.last {
        background-color: $traffic-light-access-open-inner-last-background-color;
      }
    }
  }
}
