// Use this for all tables-related styles

// *****************************************************************
// ************ General styles *************************************
// *****************************************************************

.table {
  // add border to tables -- otherwise we'd have to rewrite all tables with table-bordered
  border: $table-border;
  // make columns adapt to content
  table-layout: $table-layout;

  // Remove top borders (_tables.scss)
  thead,
  tbody,
  tfoot {
    > tr {
      > th,
      > td {
        border-top: $table-elements-border-top;
      }
    }
  }

  // Tables in Tabs, Record View etc
  .tab-content & {
    width: $table-in-tabs-width;
  }

}

// *****************************************************************
// ************ Responsive data tables *****************************
// *****************************************************************
// 1. for small resolutions (e.g. search history table)
@media screen and (max-width: $screen-xs-max) {
  // Force table around, exc. solrMarc staffview
  .table-resp-data:not(.citation) {
    display: flex;
    max-width: 90vw !important;
  }

  .table-resp-data {
    border: 0;
    display: block;
  }

  // .table-resp-data (default) -- is applied to XS
  .table-resp-data {
    @include table-resp-data;
  }

  // limit width for staff view
  .tab-pane.details-tab.active {
    max-width: 80vw;
    overflow-x: auto;
  }
}

// 2. for medium (md) resolutions (e.g. fines table)
@media screen and (max-width: $screen-md-max) {
  .table-resp-data-md {
    @include table-resp-data;
  }
}

