<phpunit bootstrap="./bootstrap.php" backupGlobals="false">
  <testsuites>
    <testsuite name="AllUnitTests">
      <directory>../../*/tests/unit-tests/src</directory>
    </testsuite>
    <testsuite name="AllIntegrationTests">
      <directory>../../*/tests/integration-tests/src</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../src/VuFind</directory>
      <directory suffix=".php">../../VuDL/src</directory>
      <directory suffix=".php">../../VuFindAdmin/src</directory>
      <directory suffix=".php">../../VuFindConsole/src</directory>
      <directory suffix=".php">../../VuFindDevTools/src</directory>
      <directory suffix=".php">../../VuFindHttp/src</directory>
      <directory suffix=".php">../../VuFindSearch/src</directory>
      <directory suffix=".php">../../VuFindTheme/src</directory>
    </whitelist>
  </filter>
</phpunit>
