parameters:
    paths:
        - %currentWorkingDirectory%/module
        - %currentWorkingDirectory%/packages
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/packages/DEBIAN
              # Analysis would crash on PHP 8 due to a signature change in PDO
            - %currentWorkingDirectory%/module/VuFind/src/VuFind/ILS/Driver/Voyager.php
    tmpDir: %currentWorkingDirectory%/.phpstan_cache
    ignoreErrors:
        - '#Class VuFind\\Hierarchy\\Driver\\Hierarchy[a-zA-Z0-9]+ not found#'
        - '#Class VuFind\\Content\\[a-zA-Z0-9]+\\SyndeticsPlus not found#'
        - '#Class VuFind\\Content\\[a-zA-Z0-9]+\\Amazon[a-zA-Z0-9]* not found#'
    level: 0
    parallel:
        processTimeout: 600.0
