/***********************************************
*
* overrides.css
*
* by Benjamin Schnabel
*
* This file contains the stlyesheet overrides.
*
*******************************/

mark {
  background-color: lighten(#ffff66, 20%);
  border-radius: $border-radius-sm;
}

.background {
  background-color: $body-bg;
  position: absolute;
  z-index: -1000;
  display: block;
  width: 100%;
  height: 270px;

  .background-stripe {
    width: 100%;
    background-color: $body-bg;
    height: 52px;
  }
}

.background-small {
  height: 200px;
}

.background-footer {
  @extend .background;
  background-color: theme-color("primary");
  height: 1000px;
  left: 0;
  margin-top: -20px;
  overflow: hidden;

  .background-stripe {
    width: 100%;
    background-color: theme-color("secondary");
    height: 52px;
  }
}

a.navbar-brand, nav > .nav > li > a {
  color: $gray-500;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: $gray-500;
  background: $gray-200;
}


.blog {
  text-align: justify;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Lato";
}

.badge {
  color: $white;
}

.badge-light {
  color: $black;
}

.save-record {
  float: right;
}

.savedLists {
  float: right;
}

section.section-home {
  /* margin-top: 25px; */
  background: white;
}

.panel-home {
  width: 100%;
  margin: 0 auto 0;

  //background: url(/themes/ixTheoThemeNew/images/searchbar3.jpg);
  //background-size: cover;
  min-height: 600px;
  //XXX margin-bottom: 30px;

  h1 {
    text-align: center;
    padding: 0 $paragraph-margin-bottom; //FIXME
    margin: 0 auto;
    font-size: 400%;

    a {
      color: #fff;
      text-decoration: none;
      text-shadow: 4px 4px 10px rgba(50, 50, 50, 1);
    }
  }

  /* searchbox image */
  .searchbox-image {
    position:  absolute;
    display:  block;
    width: 100%;
    max-height: 600px;
    overflow: auto;
    height: auto;
    object-fit: cover;
  }

  small {
    display: block;
    text-align: center;
    margin: 5px 0 auto;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 1);
  }

  .checkbox {
    display: inline;
    float: right;
    margin: 7px;
  }

  .btn-primary {
    border-color: #CCCCCC;
  }
}


.searchbox_home {
  margin: auto auto 0;
}

.input-group .searchForm_lookfor:not(:first-child):not(:last-child) {
  border-radius: $input-border-radius 0 0 $input-border-radius;
}

.search-button {
  border: 1px solid $table-border-color;
}

.twitter-typeahead .tt-dropdown-menu {
  max-width: 400px;
}

.btn-default {
  text-align: left;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background: white;
  color: black;
}

.result {
  margin: 20px 0px;
}

.panel-gray {
  @extend .panel-body !optional;
  background: #F5F5F5;
  border-radius: $border-radius;
}


@media (max-width: 1199px) {
  .background {
    height: 135px;
  }
}

@media (max-width: 991px) {
  header .container.navbar {margin-bottom: 0px;}
}

@media (max-width: 767px) {
  header .container.navbar {margin-bottom: 0px;}
  .panel-home h1 {
    padding: 0 $paragraph-margin-bottom;
    margin: 20px auto;
    width: 100%;
  }
  .background {
    height: 195px;
  }
  .searchForm {
    margin: auto auto 20px;
    width: 100%;

    .input-group {
      display: block;

      input {
        border-radius: $input-border-radius $input-border-radius 0 0 !important;
      }

      .input-group-btn {
        display: block;
        white-space: normal;
        width: auto;

        select {
          margin-left: 0px;
          margin-top: -1px;
          width: 100%;
        }

        .search-button {
          margin-left: 0px;
          margin-top: -1px;
          border-radius: 0 0 $input-border-radius $input-border-radius !important;
          width: 100%;
        }
      }
    }
  }

  .panel-home h1 {
    font-size: 180%;
  }
}

@media (min-width: 768px) {
  .form-control {
    max-width: 100%;
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  overflow: hidden;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Mehr';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Weniger';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/* for the searchbox */
.vertical-center {
  transform: translateY(50%);
}

.nav-pills li {
  background: $gray-600;
  margin: 10px 10px 0 0;
  /*box-shadow: 2px 2px 5px rgba(50, 50, 50, 1); */

  a {
    color: $white;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
  }

  a:hover {
    color: $white;

    text-decoration: underline;
  }
}
li .dropdown {

}

.searchbar {
  box-shadow: 2px 2px 10px rgba(50, 50, 50, 1);

}

.search-button {
  box-shadow: 2px 2px 10px rgba(50, 50, 50, 1);
}

ul .dropdown-menu {
  padding: 0;
}

.dropdown-menu li {
  box-shadow: none;
  margin: 0;
}

.dropdown-menu > .active a, .dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: $gray-800;
}

hr {
  border-top: 1px solid $white;
}

.bottom-menu li {
  list-style-type: none;
  font-weight: bold;
  line-height: 28px; //FIXME: in variables.less
  font-size: 14px; //FIXME: use em & in variables.less

  a, a:hover{
    color: $gray-600;
    text-decoration: none;
    font-weight: bold;
  }
}

/* footer */
.footer {
  padding: 2.25rem 0;
}

/* Footer Menu */
.footer-menu li {
  list-style-type: none;
  margin: 0 10px;
  display: inline;

  a {
    color: $gray-600;
    text-decoration: none;
  }

  a:hover {
      color: $gray-500;
      text-decoration: underline !important;
  }
}

/* Footer Bottom */
#footer-bottom {
  border-top: 2px solid $white;
  padding: 36px 0;
  font-size: $font-size-sm;
  color:  $gray-600;
}

/* Home Information */

.background-lightblue {
  background: $gray-200;
}

/* Panels */
.panel-inverse{
  background-color: $gray-700;
  color: #fff;
  border: 0;
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
}

.panel-image-wrapper {
  max-height: 205px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.panel-image {
  width: 100%;
  height: auto;
  max-height: 166px;
  overflow: hidden;
  object-fit: cover;
}

.panel-content {
  padding: 10px;

}

.panel-inverse .panel-content h4{
  text-transform: uppercase;
}

.panel-content .btn-inverse {
  background-color: #32414B;
  color: #fff;
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  &::after {
    font-family: fontAwesome;
    content: "\00a0\00a0\f061";
  }
  &:hover {
    color: #fff;
  }
}

.btn-default {
  border-color: theme-color("primary");
  color: theme-color("primary");
}

.panel-content .btn-default {
  border-color: theme-color("primary");
  color: theme-color("primary");
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
  &::after {
    font-family: fontAwesome;
    content: "\00a0\00a0\f061";
  }
  &:hover {
    color: theme-color("primary");
  }
}
.panel-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 23%; //FIXME
  height: 400px; //FIXME
}

.panel-button {
  height: 23%; //FIXME
  width: 100%;
  margin: 0 0 10px;
  padding: 0;
  a {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    align-content: center;
    height: 100%;
    display: flex;
    vertical-align: middle;
    line-height: normal;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.panel-top {
  height: 400px;
  max-width: 23%; //FIXME
}

.panel-bottom {
  height: 380px;
  max-width: 23%; //FIXME
}

/* Read more button */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Mehr';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Weniger';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

.title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.main {
  //margin-top: 700px;
}

/* adjust height of the Logo Image */
.logo-img {
  top: 4px;
  position: absolute;
}

.custom-select {
  background: $white !important;
}
/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 15px;
}

/* breadcrumbs */
.breadcrumb-wrapper{
  border-bottom: 1px solid #ddd;
  color: $gray-600;
}

.breadcrumb-item a {
  color: $gray-600;
}

/* scroll down button */

.scroll-down a {
  padding-top: 60px;
  transition: opacity .3s;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.scroll-down a span {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.scroll-down a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

/* pager */

.pager {
  list-style: none;
}


/* header image */
.header-image {
  width: 100%;
  max-height: 600px;
  overflow: auto;
  height: auto;
  object-fit: cover;
}