.row-home {
    background: transparent url(/themes/krimdok2/images/background_fid.jpg) no-repeat;
    /*background: transparent url(/themes/krimdok2/images/crimescene.jpg) no-repeat;*/
    /*background: transparent url(/themes/krimdok2/images/panzerknacker.jpg) no-repeat;*/
    background-position: center center;
    /*background-size: contain;*/
    background-size: cover;
}

/*
.panel-home {
  h1 {
    a {
      color: black;
      text-shadow: initial;
    }
  }

  h4 {
    color: black;
    text-shadow: initial;
    font-weight: bold;
  }
}
*/

/*
.background-lightblue {
    background: #600000;
}
*/

.logo-img {
    display: none !important;
}
