.panel-home {
    min-height: 200px;
    padding-top: 50px;
}

.section-home {
    background-color: @gray-200;
}

h1 {
    font-size: 30px;
}

div.title {
    /* will only be visible on low res, see overrides-media.less */
    display: none;
}

.panel-button a {
    font-size: 1.2em;
}

.panel-default, .panel-inverse, .panel-buttons {
   border: 5px solid @gray-200;
   -webkit-box-shadow: none;
}

.panel-default-link {
    color: @gray-900;
    :hover {
        color: @brand-primary;
        text-decoration-color: @brand-primary;
        text-decoration: underline;
    }
}

.panel-inverse {
    a {
        color: white;
        text-decoration: underline;
    }
}

#tf-img-logo {
    display: none !important;
}

.btn-panel-more {
    background-color: @brand-primary;
    color: white;
}

.breadcrumb-wrapper {
    display: none;
}

.mainbody {
    padding-top: 10px;
}

.glyphicon-envelope {
    font-size: 25px;
}

mark {
    /*background: transparent;
    color: @brand-tertiary;*/
}

.searchtools {
    display: none;
}


/* TODO: Check if values need to be changed to variables if stakeholder says layout is OK */
.btn-primary, .btn-panel-more {
    background-color: #a51e37;
}

.js-facet-item:not(.active) > .text {
    color: #a51e37;
}

.facet > .badge {
    background-color: #7b7d84;
}

/* hyperlink color fixes */
a:hover, .template-name-content .container a:not(.panel-default-link) {
    color: #a51e37;
}

.panel-default-link {
    color: #32414b;
}

.panel-inverse-link {
    color: white;
}

.panel-default-link:hover, .panel-inverse-link:hover {
    color: #7b7d84;
}

.partner {
    padding-bottom: 20px;
}

/* jqcloud */
div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #a51e37; }
div.jqcloud span.w10 { color: #FF9DB6; }
div.jqcloud span.w9 { color: #F26B84; }
div.jqcloud span.w8 { color: #BF3851; }
div.jqcloud span.w7 { color: #FF9DB6; }
div.jqcloud span.w6 { color: #F26B84; }
div.jqcloud span.w5 { color: #BF3851; }
div.jqcloud span.w4 { color: #FF9DB6; }
div.jqcloud span.w3 { color: #F26B84; }
div.jqcloud span.w2 { color: #BF3851; }
div.jqcloud span.w1 { color: #720004; }