      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 newsfeed">
            <p class="lead"><a href="https://sourceforge.net/p/vufind/news/">News</a></p>
            <ul>
              <li><a href="https://vufind.org/wiki/changelog#release_811_-_10_3_2022">Release 8.1.1 - 10/3/2022</a></li>
              <li><a href="https://vufind.org/wiki/changelog#release_81_-_7_18_2022">Release 8.1 - 7/18/2022</a></li>
              <li><a href="https://vufind.org/wiki/changelog#release_804_-_2_28_2022">Release 8.0.4 - 2/28/2022</a></li>
              <li><a href="https://vufind.org/wiki/changelog#release_803_-_12_20_2021">Release 8.0.3 - 12/20/2021</a></li>
              <li><a href="https://vufind.org/wiki/changelog#release_802_-_11_29_2021">Release 8.0.2 - 11/29/2021</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6">
            <img src="images/falvey_logo.png" alt="Falvey Memorial Library">
            <p>VuFind® is developed and maintained by <a href="https://www.library.villanova.edu/">Villanova University's Falvey Memorial Library</a>.</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <script type="text/javascript" src="https://www.openhub.net/p/10977/widgets/project_factoids_stats.js"></script>
          </div>
        </div>
      </div>
    </div>
    <!-- GITHUB RIBBON -->
    <a href="https://github.com/vufind-org/vufind" class="visible-lg"><img style="position: absolute; top: 0; left: 0; border: 0; height: 100px" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://morpheus.library.villanova.edu/piwik/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '12']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  </body>
</html>
