      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="flex w-content nowrap">
          <div class="flex-1">
            <a href="https://vufind.org/wiki/changelog">Release Schedule</a>
          </div>
          <div class="flex-1">
            <a href="https://github.com/vufind-org/vufind">GitHub</a>
          </div>
        </div>

        <p class="footer__statement">
          VuFind® is developed and maintained by an <a href="https://vufind.org/wiki/community">international community of contributors</a> with support from the <a href="https://openlibraryfoundation.org/">Open Library Foundation</a> and the generous <a href="https://vufind.org/wiki/community:membership_levels_and_benefits">sponsors</a> below.
        </p>

        <div class="footer__sponsors">
          <div class="flex-1">
            <a class="footer__sponsor-link" href="https://library.villanova.edu">
              <img
                class="footer__sponsor-img"
                src="{{ site.baseurl }}/assets/images/sponsors/VU508Black.webp"
                alt="Falvey Library, Villanova University"
              >
            </a>
          </div>

          <div class="flex-1">
            <a class="footer__sponsor-link" href="https://www.hebis.de/">
              <img
                class="footer__sponsor-img"
                src="{{ site.baseurl }}/assets/images/sponsors/hebis-de.svg"
                alt="hebis.de"
              >
            </a>
          </div>

          <div class="flex-1">
            <a class="footer__sponsor-link" href="https://lts.lehigh.edu/">
              <img
                class="footer__sponsor-img"
                src="{{ site.baseurl }}/assets/images/sponsors/lehigh-lts.svg"
                alt="Lehigh University Library"
              >
            </a>
          </div>
        </div>
      </div>
    </div>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://morpheus.library.villanova.edu/piwik/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '12']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  </body>
</html>
