<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VuFind® - Search. Discover. Share.</title>
    <link href="{{ site.baseurl }}/images/vufind-favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="{{ site.baseurl }}/less/style.css" rel="stylesheet" type="text/css">
    <script src="{{ site.baseurl }}/js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="header">
      <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/images/vf-beta.png"/></a>
      <br class="visible-xs visible-sm"/>
      <!--<a href="{{ site.baseurl }}/ddoc.html">Design Doc</a>-->
      <a href="{{ site.baseurl }}/about.html">About</a>
      <a href="{{ site.baseurl }}/features.html">Features</a>
      <a href="{{ site.baseurl }}/downloads.html">Downloads</a>
      <a href="https://vufind.org/wiki/installation">Getting Started</a>
      <a href="https://vufind.org/wiki">Documentation</a>
      <a href="{{ site.baseurl }}/schedule.html">Events</a>
      <a href="{{ site.baseurl }}/support.html">Support</a>
      <a href="https://github.com/vufind-org/vufind" class="hidden-lg">GitHub</a>
    </div>
    <!--
    <div class="header-announcement">
      <p>
        <a href="https://vufind.org/wiki/community:conferences:summit_2022">Join us for the virtual VuFind Summit 2022!</a>
        September 7-8 from <abbr id="gmt-time" title="9/7/22, 9:00 AM local time">13:00-16:00 GMT</abbr>.
      </p>
    </div>
    <script>
      const formatter = new Intl.DateTimeFormat('default', { dateStyle: 'short', timeStyle: 'short' });
      const startTime = new Date(Date.UTC(2022, 9-1, 7, 13, 0, 0));
      const localStartTime = formatter.format(startTime);
      document.getElementById("gmt-time")
          .setAttribute("title", `${localStartTime} local time`);
    </script>
    -->
    <div class="body">
      <div class="container">
