.searchForm .keyboard-selection{
  top: 6px;

  button.dropdown-toggle {
    color: $input-color;
    background-color: white;

    &:hover, &:focus {
      color: $input-color;
      background-color: $header-light;
    }

  }

  .btn-primary{
    height: 20px;
  }
}

.keyboard-box{
  color: $input-color;
}
