@import 'customVariables';
@import 'customMixins';

* {
  background-color: $white;
  color: $black;
}

// hide following urls
a[href]::after {
  content: '';
}

// print margins
.container {
  margin: 0;
}

// print utilities
.hidden-print,
.hidden-print * {
  display: none !important;
}

//// Make full width for printing
@media print {
  body {
    padding: 0;
  }

  .main .container,
  .main .container-fluid,
  footer .container {
    border: 0;
  }

  .search-controls,
  .search-query-time {
    display: none;
  }

  .search-results-col {
    width: 100%;

    .record-icon {
      display: none;
    }
  }

  .record-list li {
    border-bottom: 1px solid grey;
    margin-bottom: 2rem;
  }

  .result-body {
    width: 90%;
  }

  .result-body h2 {
    line-height: normal !important;
  }

  .result-body h2 a {
    text-decoration: none !important;
  }

  .result-body h2 .title {
    font-size: 1.5rem;
  }

  .media-body {
    line-height: 1.75;

    .middle {
      width: 88%;
    }
  }

  .print-full-width {
    width: 100%;

    .nav-tabs > li.active > a,
    .tab-content,
    .table {
      border: 0;
    }

    .holdings,
    .description,
    .details {
      font-size: 120%;
      font-weight: bold;
    }
  }

  .info-col table {
    border: 0;
  }

  .record[class^='source'] {
    border: 0;
  }

  .record-tab:not(.active) {
    display: none;
  }

  .record-tabs .table {
    border: 0;
  }

  .tab-content > .active {
    display: inline;
  }

  .result:nth-of-type(2n) {
    background-color: $snow;
  }

  .result {
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    .format,
    .status .label {
      border-color: transparent;
      clear: none !important;
      display: inline !important;
      font-size: 100%;
      margin-bottom: 0;
      margin-top: 0 !important;
      padding: 0;
      vertical-align: bottom !important;
    }
  }


  .alert {
    border-color: transparent;
    margin-bottom: 0;
    padding: 0;
  }

  .status .label {
    border: 0;
    clear: none;
    display: inline;
    text-align: left;
  }

  .savedLists a,
  .savedLists a:visited {
    color: $black !important;
  }

  // Full-text access links in result list
  a.fulltext[href]::after {
    content: " (" attr(href) ") " !important;
  }
}

