.fa-grid:before {
  content: "\f00a";
}

.group [class^=col-] {
  padding-left: 0;
}

.icon-bar {
  background-color: #888;
}

label.list-group-item {
  border-radius: 0;
  font-weight: normal;
  margin-top: 0;
  padding-left: 35px;
}

.list-group-item.title {
  font-weight: bold;
}

#modal .modal-body > h2:first-child {
  display: none;
}

.tab-content {
  padding: 4px;
}

.twitter-typeahead {
  background: #FFF;
  padding: 8px 0 10px;
  border-radius: 3px;
}

.twitter-typeahead .tt-hint {
  display: none;
}

.tt-dropdown-menu {
  margin-bottom: 20px;
  padding-left: 0;
  margin-top: 10px;
}

.tt-suggestion {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.tt-suggestion:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.tt-suggestion:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tt-suggestion > .badge {
  float: right;
}

.tt-suggestion > .badge + .badge {
  margin-right: 5px;
}

.tt-suggestion.tt-cursor {
  background-color: #619144;
  color: #FFF;
}

.tt-suggestion p {
  margin: 0;
}

.badge a {
  color: #FFF;
}

.browse.list-group .list-group-item {
  word-wrap: break-word;
}

.browse.list-group .list-group-item.view-record {
  border-top: 0;
  font-size: 85%;
  padding: 2px 4px;
  text-align: right;
}

.result a.title {
  font-weight: bold;
}

.result .left img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .result .left {
    padding: 0;
  }

  .result a {
    text-decoration: underline;
  }
}

@media (max-width: 400px) {
  .result .left {
    width: 40%;
  }

  .result .middle {
    width: 60%;
  }

  .result .right {
    display: none;
  }
}

.sidebar .title.collapsed {
  cursor: pointer;
}

.sidebar .title.collapsed.collapsed {
  border-radius: 3px;
}

.sidebar .collapse .list-group-item,.sidebar .collapsing .list-group-item {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.sidebar .collapse .list-group-item[id^=more],.sidebar .collapsing .list-group-item[id^=more] {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.slider .slider-track {
  background: #999;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.4);
}

.slider .slider-track .slider-handle {
  background: #619144;
  background-image: none;
  border: 1px solid #619144;
  box-shadow: none;
  opacity: .8;
}

.slider .slider-track .slider-handle:hover,.slider .slider-track .slider-handle:active,.slider .slider-track .slider-handle:focus {
  opacity: 1;
  background: #FFF;
  border-color: #999;
}

.slider .slider-track .slider-handle:active,.slider .slider-track .slider-handle:focus {
  border-color: #619144;
}

.slider .slider-track .slider-selection {
  background: #eee;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
}

.table {
  word-wrap: break-word;
  table-layout: fixed;
}

body {
  background: #619144;
  font-size: 13px;
}

body a,body .btn-link {
  color: #06C;
}

body a:hover,body .btn-link:hover {
  color: #09F;
}

@media (max-width: 768px) {
  body {
    padding: 6px;
  }

  body header {
    margin-top: 0;
  }

  body .label {
    font-size: 85%;
  }
}

@media (min-width: 768px) {
  .badge {
    font-size: 85%;
    margin-top: 1px;
  }

  .label {
    padding-top: .3em;
  }
}

.btn:not(.btn-danger):not(.btn-info):not(.btn-link):not(.btn-primary):not(.btn-success):not(.btn-warning) {
  background: #eee;
  background-image: linear-gradient(#fff, #ddd);
  border: 1px solid #999;
  color: #222;
  text-shadow: 0 1px 0 #fff;
}

.btn:not(.btn-danger):not(.btn-info):not(.btn-link):not(.btn-primary):not(.btn-success):not(.btn-warning):hover {
  background: #12538b;
  border: 1px solid #12538b;
  color: #FFF;
  text-shadow: none;
}

.btn-danger,.btn-danger:hover {
  border-color: #77120f;
  font-weight: bold;
}

.btn-info,.btn-info:hover {
  border-color: #123d4b;
  font-weight: bold;
}

.btn-primary,.btn-primary:hover {
  border-color: #4a6e34;
  font-weight: bold;
}

.btn-success,.btn-success:hover {
  border-color: #015101;
  font-weight: bold;
}

.btn-warning,.btn-warning:hover {
  border-color: #724300;
  font-weight: bold;
}

h2 {
  margin: 0 8px 8px;
}

input[type=checkbox] {
  margin-top: 2px;
  margin: 0 auto;
  padding: 0 2px;
}

.nav > li > a {
  padding: 5px 10px;
}

.nav-pills {
  display: table;
  margin: 0 auto;
}

.pagination {
  display: table;
  margin: 18px auto;
}

.pagination > li > a,.pagination > li > span {
  padding: 4px 12px 3px 12px;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
  background: #619144;
  border-color: #619144;
}

.panel-heading {
  padding: 0;
}

.panel-heading a {
  cursor: pointer;
  display: inline-block;
  padding: 6px;
  width: 100%;
}

.row:not(.top-row) {
  padding: 6px 4px;
  margin: 0 -4px;
}

.row.result:nth-child(even) {
  background: #eee;
}

.row.result:last-child {
  margin-bottom: 1em;
}

.tab-content {
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-top: 0;
}

.container {
  background: #FFF;
  padding: 0;
}

header {
  margin-top: 18px;
}

header .fa.fa-bars {
  font-size: 21px;
}

header .navbar {
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
}

header .navbar #searchForm {
  display: none !important;
}

header .navbar .navbar-brand {
  background-image: url('../images/vufind_logo.png');
  color: transparent;
  height: 65px;
  margin-top: 5px;
  width: 170px;
}

header .navbar .navbar-brand:hover,header .navbar .navbar-brand:active,header .navbar .navbar-brand:focus {
  color: transparent;
}

header .navbar .navbar-nav > li > a {
  padding: 12px 6px;
}

@media (max-width: 768px) {
  header .navbar .navbar-nav > li > a {
    padding: 8px 24px;
  }
}

header .navbar .navbar-right {
  margin-top: 12px;
}

@media (max-width: 768px) {
  header .navbar .navbar-right {
    margin: 0;
  }
}

header .searchbox {
  display: block !important;
  margin: 0;
}

@media (max-width: 767px) {
  header #header-collapse .navbar-right li {
    text-align: right;
  }

  header #searchForm_type {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

header .breadcrumb {
  border: 1px solid #ccc;
  border-radius: 0;
  border-width: 1px 0;
  font-size: 12px;
  margin-bottom: 2px;
}

[name=searchForm] {
  margin: 6px 8px 8px;
  padding: 0;
}

[name=searchForm] .btn-primary,[name=searchForm] .form-control {
  font-size: 14px;
  height: 32px;
  padding: 5px 8px;
}

@media (min-width: 768px) {
  [name=searchForm] .search-query {
    width: 400px;
  }
}

[name=searchForm] .nav-tabs {
  border-bottom: 0;
}

[name=searchForm] .nav-tabs li a {
  margin-bottom: -1px;
  border-bottom: 0;
  padding-bottom: 6px;
}

[name=searchForm] .nav-tabs li a:hover {
  background: none;
  border-color: transparent;
  text-decoration: underline;
}

[name=searchForm] .nav-tabs li.active a,[name=searchForm] .nav-tabs li.active a:hover {
  background: #FFF;
  border-color: #619144;
  border-bottom: 0;
  text-decoration: none;
  z-index: 5;
}

.main .container {
  padding: 0 4px 18px;
}

footer {
  margin-bottom: 36px;
}

footer .container {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #ddd;
  padding-top: 18px;
}

footer hr {
  display: none;
}

footer p {
  margin: 0;
}

footer ul {
  padding-left: 30px;
}

#hierarchyRecord {
  background: #FFF;
}

.bulkActionButtons {
  margin-bottom: 6px;
}

.left {
  text-align: center;
}

.result .savedLists {
  margin: 0 0 4px 0;
  padding: 4px 0 4px 6px;
}

.result .savedLists ul {
  padding-left: 18px;
}

.searchHomeContent {
  margin: 1em auto;
  width: 90%;
}

#advSearchForm .search {
  margin: 0;
}

.sidebar .list-group {
  margin-bottom: 5px;
}

.sidebar .list-group label.list-group-item {
  padding-left: 26px;
}

.sidebar .list-group label.list-group-item input[type=checkbox] {
  margin-top: 2px;
}

.sidebar .list-group-item {
  padding: 7px 10px 6px;
}

.sidebar .list-group-item.active {
  background: #ff9500;
  border-color: #ff9500;
  color: #FFF;
}

.sidebar .list-group-item.active:hover {
  background: #ff9500;
  border-color: #ff9500;
}

.sidebar .list-group-item.active .badge {
  color: #ff9500;
}

.sidebar .slider-container {
  margin: 4px auto 10px;
  width: 95%;
}

.sidebar .slider-container .slider-handle {
  background: #619144;
  opacity: 1;
}

.sidebar .list-group-item .badge a,.top-row .badge a {
  color: #FFF;
}

.sidebar .list-group-item .badge a:hover,.top-row .badge a:hover {
  color: #a41915;
}

#custom_recaptcha_widget {
  display: table;
}

#custom_recaptcha_widget embed {
  display: none;
}

#custom_recaptcha_widget #recaptcha_image {
  border: 1px solid #000;
  padding: 6px;
  margin: 1em 0;
}

#custom_recaptcha_widget #recaptcha_response_field {
  margin: 0 .5em;
}

#custom_recaptcha_widget > div > a {
  display: inline-block;
  float: left;
  margin: 5px 10px 5px 0;
}

ul.random {
  list-style: none;
  padding: 0;
  margin: 0px;
  text-align: justified;
}

ul.random li {
  padding-bottom: 10px;
}

ul.random li img {
  margin: 0 auto 1em auto;
}

ul.random.image,ul.random.mixed {
  text-align: center;
}

ul.random.image li img {
  margin: 0 auto;
}

.twitter-typeahead {
  background: #FFF;
  padding: 7px 0 10px;
  border-radius: 3px;
}

.tt-dropdown-menu {
  margin: 2px;
}

[id^=list].list-group .col-sm-9 {
  margin: 0;
}