{
  "forms": {
    
    "FeedbackSite": {
      "enabled": true,
      "title": "Feedback",
      "recipient": {
        "name": "Your Library",
        "email": "email@domain.com"
      },
      "allowLocalOverride": false,
      "onlyForLoggedUsers": false,
      "emailSubject": "feedback_email_subject",
      "response": "Thank you for your feedback.",
      "senderInfoRequired": true, 
      "help": {
        "pre": "feedback_help_pre",
        "post": "feedback_help_post"
      },
      "fields": [
        {
          "name": "receiver",
          "type": "select",
          "label": "feedback_receiver",
          "options": [
              "Library 1",
              "Library 2",
              "Library 3",
              "Library 4",
              "Library 5"
          ]
        },
        {
          "name": "subject",
          "type": "select",
          "label": "feedback_category",
          "options": [
             "feedback_category_general" ,
             "feedback_category_metadata",
             "feedback_category_services",
             "feedback_category_usability",
             "feedback_category_technical"
          ]
        },
        {
          "name": "message",
          "type": "textarea",
          "label": "Comments",
          "required": true,
          "settings": [
          ]
        },
        {
          "name": "url",
          "type": "url",
          "label": "URL",
          "settings": [
            [ "placeholder", "https://..." ]
          ]
        }
      ]
    },

    "AcquisitionRequest": {
      "onlyLogged": false,
      "enabled": true,
      "emailSubject": "Acquisition Request",
      "title": "Acquisition Request",
      "response": "Thank you for your feedback.",
      "recipient": {
        "name": "Your Library",
        "email": "email@domain.com"
      },
      "help": {
        "pre": "acquisition_request_info_pre",
        "post": "acquisition_request_info_post"
      },
      "fields": [
        {
          "name": "receiver",
          "type": "select",
          "label": "acquisition_request_receiver",
          "required": true,
          "optionGroups": [
              {
                "label": "Library 1",
                "options": [
                    "Branch 1" ,
                    "Branch 2",
                    "Branch 3"
                ]
              },
              {
                "label": "Library 2",
                "options": [
                    "Branch 1" ,
                    "Branch 2"
                ]
              }
          ]
        },
        {
          "name": "title",
          "type": "text",
          "label": "Title",
          "required": true
        },
        {
          "name": "author",
          "type": "text",
          "label": "Author",
          "required": true
        },

        {
          "name": "format",
          "type": "text",
          "label": "Format",
          "required": true
        }
      ]
    }

  }
}
