/* remove customized dropdown icons arrows for ie9 and lower since we cannot hide them */
.jump-menu-style.controls:before, .jump-menu-style.prefilter-select:before {
	content:'';
	background: none;
}
/* fallback for non spinning icon */
.fa-spinner, .imagepopup-container .image:not(.loaded):before {
	background: url('../../../themes/finna/images/throbber.gif') no-repeat;
	width: 20px;
	height: 20px;
	content:'';
}
.fa-spinner:before {
	content:'';
}
/* line-height bug fix */
th, td, .truncate-field {
	line-height: 1.5em !important; 
}
/* fallback for clear slider area in slider-selection */
.slider .slider-track, .slider .slider-track .slider-selection {	
	filter: none;	
}
.finna-main-tabs .nav-tabs li, .finna-main-tabs .nav-tabs li a {
	height: 100%;
	box-sizing: content-box;	
}
i.jstree-icon:hover {
	cursor: pointer;
}
@media (max-width: 991px) {
	.finna-main-tabs .nav-tabs li a {
		height: 50px;	
	}
}
