@use "radix";

// Core palette

$back: radix.$sage-02;
$soft: light-dark(white, black);
$edge: radix.$grass-07;
$mute: radix.$sage-11;
$text: radix.$sage-12;
$bold: light-dark(black, white);

$ui: radix.$grass-04;
$ui-hover: radix.$grass-05;

$vibrant-bg: radix.$grass-02;
$vibrant-edge: radix.$grass-07;
$vibrant-mute: radix.$grass-11;
$vibrant-text: radix.$grass-12;
