// Radix colors

$amber-01: light-dark(oklch(0.994 0.003 84.62), oklch(0.1836 0.013 77.27));
$amber-02: light-dark(oklch(0.9862 0.024 100.26), oklch(0.2117 0.018 78.68));
$amber-03: light-dark(oklch(0.969 0.069 100.36), oklch(0.2575 0.044 74.56));
$amber-04: light-dark(oklch(0.9454 0.104 98.19), oklch(0.2962 0.071 76.25));
$amber-05: light-dark(oklch(0.9184 0.133 98.4), oklch(0.3369 0.081 76.41));
$amber-06: light-dark(oklch(0.8812 0.124 93.24), oklch(0.3871 0.078 75.09));
$amber-07: light-dark(oklch(0.8274 0.122 86.18), oklch(0.4532 0.082 74.55));
$amber-08: light-dark(oklch(0.7582 0.14 76.7), oklch(0.536 0.096 73.57));
$amber-09: light-dark(oklch(0.8562 0.178 81.37), oklch(0.8562 0.178 81.37));
$amber-10: light-dark(oklch(0.8315 0.168 80.94), oklch(0.9015 0.206 96.98));
$amber-11: light-dark(oklch(0.5692 0.144 67.28), oklch(0.8706 0.175 85.07));
$amber-12: light-dark(oklch(0.3519 0.049 53.74), oklch(0.9349 0.072 85.99));

$blue-01: light-dark(oklch(0.9932 0.003 247.64), oklch(0.1932 0.026 256.79));
$blue-02: light-dark(oklch(0.9815 0.01 243.26), oklch(0.213 0.03 258.84));
$blue-03: light-dark(oklch(0.96 0.02 236.71), oklch(0.2741 0.067 253.96));
$blue-04: light-dark(oklch(0.9373 0.037 239.03), oklch(0.317 0.1 248.3));
$blue-05: light-dark(oklch(0.906 0.053 242.8), oklch(0.3649 0.108 249.72));
$blue-06: light-dark(oklch(0.8638 0.069 243.18), oklch(0.4161 0.112 251.66));
$blue-07: light-dark(oklch(0.8092 0.088 243.34), oklch(0.4748 0.121 252.84));
$blue-08: light-dark(oklch(0.7348 0.121 243), oklch(0.5413 0.14 253.21));
$blue-09: light-dark(oklch(0.6493 0.193 251.81), oklch(0.6493 0.193 251.81));
$blue-10: light-dark(oklch(0.6211 0.184 251.92), oklch(0.689 0.17 251.46));
$blue-11: light-dark(oklch(0.5577 0.189 253.01), oklch(0.7679 0.135 248.84));
$blue-12: light-dark(oklch(0.324 0.097 258.96), oklch(0.9072 0.051 238.27));

$bronze-01: light-dark(oklch(0.9915 0.001 15.92), oklch(0.1806 0.005 41.55));
$bronze-02: light-dark(oklch(0.9806 0.007 42.99), oklch(0.2147 0.005 41.54));
$bronze-03: light-dark(oklch(0.9528 0.01 44.26), oklch(0.2545 0.008 42.65));
$bronze-04: light-dark(oklch(0.9252 0.014 43.57), oklch(0.2911 0.01 45.5));
$bronze-05: light-dark(oklch(0.8954 0.018 42.64), oklch(0.3294 0.013 43.31));
$bronze-06: light-dark(oklch(0.8599 0.023 43.4), oklch(0.3744 0.016 44.26));
$bronze-07: light-dark(oklch(0.8113 0.03 41.94), oklch(0.4299 0.02 44.84));
$bronze-08: light-dark(oklch(0.7418 0.039 41.18), oklch(0.4986 0.024 45.17));
$bronze-09: light-dark(oklch(0.6275 0.046 44.29), oklch(0.6275 0.046 44.29));
$bronze-10: light-dark(oklch(0.588 0.045 42.44), oklch(0.6687 0.045 44.29));
$bronze-11: light-dark(oklch(0.5105 0.044 38.37), oklch(0.7918 0.043 44.5));
$bronze-12: light-dark(oklch(0.3292 0.029 35.24), oklch(0.9151 0.017 50.3));

$brown-01: light-dark(oklch(0.9943 0.002 63.24), oklch(0.1785 0.005 81.55));
$brown-02: light-dark(oklch(0.9832 0.006 65.73), oklch(0.2131 0.007 51.62));
$brown-03: light-dark(oklch(0.9541 0.013 67.82), oklch(0.2536 0.013 53.48));
$brown-04: light-dark(oklch(0.9261 0.02 66.85), oklch(0.2884 0.018 55.42));
$brown-05: light-dark(oklch(0.8969 0.029 65.79), oklch(0.3247 0.024 55.88));
$brown-06: light-dark(oklch(0.8624 0.039 65.47), oklch(0.3702 0.032 57.69));
$brown-07: light-dark(oklch(0.8153 0.053 64.22), oklch(0.429 0.041 59.83));
$brown-08: light-dark(oklch(0.7467 0.072 62.45), oklch(0.5086 0.053 62.17));
$brown-09: light-dark(oklch(0.6327 0.078 60.77), oklch(0.6327 0.078 60.77));
$brown-10: light-dark(oklch(0.5967 0.072 59.28), oklch(0.6744 0.075 61.48));
$brown-11: light-dark(oklch(0.5121 0.058 55.46), oklch(0.7982 0.063 62.51));
$brown-12: light-dark(oklch(0.3315 0.018 46.98), oklch(0.9176 0.036 75.67));

$crimson-01: light-dark(oklch(0.9938 0.003 356.31), oklch(0.1893 0.014 354.17));
$crimson-02: light-dark(oklch(0.9818 0.008 357.23), oklch(0.2068 0.022 352.9));
$crimson-03: light-dark(oklch(0.9541 0.026 356.27), oklch(0.2557 0.059 353.88));
$crimson-04: light-dark(oklch(0.9252 0.041 356.3), oklch(0.2931 0.094 354.06));
$crimson-05: light-dark(oklch(0.8928 0.054 355.77), oklch(0.3326 0.104 354.75));
$crimson-06: light-dark(oklch(0.855 0.065 355.57), oklch(0.3818 0.109 355.49));
$crimson-07: light-dark(oklch(0.8078 0.078 354.8), oklch(0.4501 0.12 356.71));
$crimson-08: light-dark(oklch(0.75 0.099 354.12), oklch(0.5419 0.148 358.34));
$crimson-09: light-dark(oklch(0.6343 0.213 1.3), oklch(0.6343 0.213 1.3));
$crimson-10: light-dark(oklch(0.608 0.211 2.36), oklch(0.6637 0.197 1.95));
$crimson-11: light-dark(oklch(0.5521 0.207 4.49), oklch(0.7874 0.167 6.72));
$crimson-12: light-dark(oklch(0.3408 0.113 356.83), oklch(0.9088 0.054 346.66));

$cyan-01: light-dark(oklch(0.9921 0.004 219.25), oklch(0.1913 0.017 219.89));
$cyan-02: light-dark(oklch(0.9803 0.009 202.89), oklch(0.2141 0.018 225.41));
$cyan-03: light-dark(oklch(0.9581 0.026 203.61), oklch(0.2722 0.044 222.47));
$cyan-04: light-dark(oklch(0.9319 0.041 204.74), oklch(0.315 0.063 222.14));
$cyan-05: light-dark(oklch(0.8998 0.054 206.49), oklch(0.3617 0.07 221.51));
$cyan-06: light-dark(oklch(0.8593 0.066 207.67), oklch(0.4135 0.075 221.73));
$cyan-07: light-dark(oklch(0.8045 0.082 209.58), oklch(0.4777 0.083 221.41));
$cyan-08: light-dark(oklch(0.727 0.11 211.67), oklch(0.5577 0.098 220.71));
$cyan-09: light-dark(oklch(0.6609 0.122 221.49), oklch(0.6609 0.122 221.49));
$cyan-10: light-dark(oklch(0.6267 0.114 221.32), oklch(0.698 0.12 219.12));
$cyan-11: light-dark(oklch(0.5403 0.127 223.72), oklch(0.7856 0.115 213.4));
$cyan-12: light-dark(oklch(0.3317 0.053 218.57), oklch(0.9093 0.057 211.73));

$gold-01: light-dark(oklch(0.9937 0.001 106.42), oklch(0.1822 0.002 106.62));
$gold-02: light-dark(oklch(0.9809 0.009 97.34), oklch(0.2165 0.006 92.49));
$gold-03: light-dark(oklch(0.9534 0.012 94.69), oklch(0.2549 0.008 88.28));
$gold-04: light-dark(oklch(0.9257 0.015 93.18), oklch(0.2908 0.01 86.76));
$gold-05: light-dark(oklch(0.8958 0.019 90.73), oklch(0.3289 0.011 83.66));
$gold-06: light-dark(oklch(0.8596 0.025 88.38), oklch(0.3736 0.014 82.43));
$gold-07: light-dark(oklch(0.8101 0.032 83.41), oklch(0.4294 0.016 80.92));
$gold-08: light-dark(oklch(0.7386 0.042 78.17), oklch(0.4983 0.02 79.5));
$gold-09: light-dark(oklch(0.6206 0.049 78.13), oklch(0.6206 0.049 78.13));
$gold-10: light-dark(oklch(0.5877 0.047 77.42), oklch(0.6622 0.047 77.18));
$gold-11: light-dark(oklch(0.5039 0.039 78.1), oklch(0.794 0.041 77.18));
$gold-12: light-dark(oklch(0.3321 0.019 81.67), oklch(0.9151 0.014 77.44));

$grass-01: light-dark(oklch(0.994 0.005 146.39), oklch(0.1883 0.014 155.81));
$grass-02: light-dark(oklch(0.982 0.009 145.93), oklch(0.211 0.014 151.48));
$grass-03: light-dark(oklch(0.9608 0.023 145.27), oklch(0.2671 0.03 150.73));
$grass-04: light-dark(oklch(0.9342 0.037 146.18), oklch(0.3191 0.052 150.41));
$grass-05: light-dark(oklch(0.9013 0.053 146.35), oklch(0.3668 0.062 149.91));
$grass-06: light-dark(oklch(0.8578 0.071 146.83), oklch(0.4164 0.072 149.34));
$grass-07: light-dark(oklch(0.7985 0.095 147.47), oklch(0.4683 0.084 148.89));
$grass-08: light-dark(oklch(0.7165 0.13 148.35), oklch(0.5238 0.097 148.25));
$grass-09: light-dark(oklch(0.6516 0.147 147.37), oklch(0.6516 0.147 147.37));
$grass-10: light-dark(oklch(0.6138 0.142 147.32), oklch(0.6898 0.145 147.64));
$grass-11: light-dark(oklch(0.5268 0.13 147.18), oklch(0.7798 0.142 148.46));
$grass-12: light-dark(oklch(0.3268 0.053 148.58), oklch(0.911 0.078 144.91));

$gray-01: light-dark(oklch(0.9909 0 0), oklch(0.178 0 0));
$gray-02: light-dark(oklch(0.981 0 0), oklch(0.2134 0 180));
$gray-03: light-dark(oklch(0.9535 0 0), oklch(0.2537 0 180));
$gray-04: light-dark(oklch(0.9296 0 167.47), oklch(0.2832 0 191.31));
$gray-05: light-dark(oklch(0.9079 0 180), oklch(0.313 0 180));
$gray-06: light-dark(oklch(0.8838 0 0), oklch(0.349 0 180));
$gray-07: light-dark(oklch(0.8508 0 213.69), oklch(0.4023 0 164.05));
$gray-08: light-dark(oklch(0.791 0 180), oklch(0.4877 0 180));
$gray-09: light-dark(oklch(0.6435 0 0), oklch(0.5379 0 225));
$gray-10: light-dark(oklch(0.6085 0 0), oklch(0.5843 0 191.31));
$gray-11: light-dark(oklch(0.5031 0 187.13), oklch(0.77 0 180));
$gray-12: light-dark(oklch(0.243 0 180), oklch(0.9489 0 0));

$green-01: light-dark(oklch(0.9943 0.004 159.06), oklch(0.1888 0.013 163.27));
$green-02: light-dark(oklch(0.9816 0.009 155.31), oklch(0.2127 0.016 162.22));
$green-03: light-dark(oklch(0.9588 0.023 156.38), oklch(0.2714 0.039 162.67));
$green-04: light-dark(oklch(0.9325 0.036 156.6), oklch(0.3182 0.057 161.54));
$green-05: light-dark(oklch(0.8995 0.05 157.22), oklch(0.3648 0.066 161.11));
$green-06: light-dark(oklch(0.857 0.065 157.89), oklch(0.4134 0.073 160.73));
$green-07: light-dark(oklch(0.7977 0.084 159.02), oklch(0.4674 0.083 159.91));
$green-08: light-dark(oklch(0.7144 0.112 160.6), oklch(0.5275 0.096 159.19));
$green-09: light-dark(oklch(0.6405 0.133 157.75), oklch(0.6405 0.133 157.75));
$green-10: light-dark(oklch(0.6112 0.126 158.31), oklch(0.6755 0.141 157.56));
$green-11: light-dark(oklch(0.529 0.133 158.33), oklch(0.7797 0.166 157.23));
$green-12: light-dark(oklch(0.3218 0.047 164.62), oklch(0.9048 0.083 158.28));

$indigo-01: light-dark(oklch(0.9942 0.001 286.37), oklch(0.1907 0.025 276.72));
$indigo-02: light-dark(oklch(0.9829 0.008 271.38), oklch(0.2088 0.03 275.95));
$indigo-03: light-dark(oklch(0.9607 0.017 268.55), oklch(0.2722 0.069 267.84));
$indigo-04: light-dark(oklch(0.9353 0.034 268.49), oklch(0.319 0.093 267.04));
$indigo-05: light-dark(oklch(0.9032 0.051 269.98), oklch(0.3618 0.105 267.5));
$indigo-06: light-dark(oklch(0.863 0.071 271.51), oklch(0.4037 0.111 268.34));
$indigo-07: light-dark(oklch(0.8068 0.087 271.37), oklch(0.4503 0.12 268.8));
$indigo-08: light-dark(oklch(0.7301 0.113 270.52), oklch(0.5027 0.137 268.41));
$indigo-09: light-dark(oklch(0.5436 0.191 267.08), oklch(0.5436 0.191 267.08));
$indigo-10: light-dark(oklch(0.5112 0.195 266.48), oklch(0.5899 0.176 269.19));
$indigo-11: light-dark(oklch(0.5097 0.173 267.11), oklch(0.7772 0.123 273.28));
$indigo-12: light-dark(oklch(0.3126 0.086 268.56), oklch(0.911 0.043 269.99));

$iris-01: light-dark(oklch(0.9945 0.003 286.35), oklch(0.1928 0.022 284.19));
$iris-02: light-dark(oklch(0.9812 0.009 284.1), oklch(0.2085 0.029 286.54));
$iris-03: light-dark(oklch(0.9614 0.018 283.8), oklch(0.2728 0.069 278.58));
$iris-04: light-dark(oklch(0.9351 0.035 283.44), oklch(0.3188 0.102 276.1));
$iris-05: light-dark(oklch(0.9045 0.053 283.77), oklch(0.3581 0.109 277.41));
$iris-06: light-dark(oklch(0.8646 0.07 283.11), oklch(0.3988 0.112 279.64));
$iris-07: light-dark(oklch(0.8079 0.088 282.85), oklch(0.448 0.12 280.78));
$iris-08: light-dark(oklch(0.7292 0.118 281.48), oklch(0.5073 0.138 281.09));
$iris-09: light-dark(oklch(0.5403 0.184 278.3), oklch(0.5403 0.184 278.3));
$iris-10: light-dark(oklch(0.5086 0.186 277.49), oklch(0.5867 0.172 281.19));
$iris-11: light-dark(oklch(0.5104 0.173 279.69), oklch(0.7757 0.131 286.56));
$iris-12: light-dark(oklch(0.3145 0.099 277.36), oklch(0.9142 0.042 286.98));

$jade-01: light-dark(oklch(0.9945 0.004 172.63), oklch(0.188 0.014 166.3));
$jade-02: light-dark(oklch(0.9815 0.009 160.3), oklch(0.2158 0.018 166.11));
$jade-03: light-dark(oklch(0.9596 0.022 161.88), oklch(0.2724 0.042 166.82));
$jade-04: light-dark(oklch(0.9339 0.034 163.54), oklch(0.3164 0.057 168.02));
$jade-05: light-dark(oklch(0.9019 0.046 164.78), oklch(0.3618 0.064 168.52));
$jade-06: light-dark(oklch(0.8592 0.059 166.88), oklch(0.4108 0.068 169.69));
$jade-07: light-dark(oklch(0.8003 0.077 169.53), oklch(0.4685 0.075 170.64));
$jade-08: light-dark(oklch(0.7209 0.103 173.37), oklch(0.5369 0.088 171.8));
$jade-09: light-dark(oklch(0.6421 0.115 170.85), oklch(0.6421 0.115 170.85));
$jade-10: light-dark(oklch(0.6134 0.11 170.61), oklch(0.6776 0.125 169.87));
$jade-11: light-dark(oklch(0.5289 0.127 167.17), oklch(0.7854 0.156 167.1));
$jade-12: light-dark(oklch(0.3257 0.041 169.78), oklch(0.9027 0.078 166.98));

$lime-01: light-dark(oklch(0.9924 0.004 120.67), oklch(0.1804 0.014 120.26));
$lime-02: light-dark(oklch(0.9817 0.01 116.7), oklch(0.208 0.019 128.97));
$lime-03: light-dark(oklch(0.9594 0.043 119.1), oklch(0.2662 0.034 132.18));
$lime-04: light-dark(oklch(0.9321 0.069 120.38), oklch(0.3165 0.047 131.83));
$lime-05: light-dark(oklch(0.8974 0.087 121.84), oklch(0.3634 0.058 131.64));
$lime-06: light-dark(oklch(0.853 0.099 123.38), oklch(0.4116 0.069 131.4));
$lime-07: light-dark(oklch(0.7946 0.111 125.31), oklch(0.4644 0.08 131.16));
$lime-08: light-dark(oklch(0.7236 0.135 128.06), oklch(0.5243 0.095 130.86));
$lime-09: light-dark(oklch(0.8875 0.175 126.09), oklch(0.8875 0.175 126.09));
$lime-10: light-dark(oklch(0.8589 0.188 126.73), oklch(0.9418 0.175 123.73));
$lime-11: light-dark(oklch(0.5438 0.111 128.63), oklch(0.8678 0.156 124.78));
$lime-12: light-dark(oklch(0.3537 0.057 121.18), oklch(0.9464 0.082 122.62));

$mauve-01: light-dark(oklch(0.9918 0.002 321.13), oklch(0.1799 0.004 307.79));
$mauve-02: light-dark(oklch(0.9832 0.003 311.22), oklch(0.2152 0.004 307.84));
$mauve-03: light-dark(oklch(0.9556 0.006 314.24), oklch(0.255 0.006 306.48));
$mauve-04: light-dark(oklch(0.9316 0.008 310.01), oklch(0.2845 0.008 307.75));
$mauve-05: light-dark(oklch(0.909 0.01 306.61), oklch(0.3138 0.009 306.95));
$mauve-06: light-dark(oklch(0.886 0.012 303.95), oklch(0.3501 0.01 303.98));
$mauve-07: light-dark(oklch(0.8536 0.014 300.59), oklch(0.4016 0.012 304.45));
$mauve-08: light-dark(oklch(0.7936 0.019 293.52), oklch(0.4919 0.016 300.74));
$mauve-09: light-dark(oklch(0.6458 0.019 292.62), oklch(0.5405 0.017 293.97));
$mauve-10: light-dark(oklch(0.6106 0.018 293.07), oklch(0.5862 0.017 295.36));
$mauve-11: light-dark(oklch(0.5048 0.016 296.08), oklch(0.7698 0.014 296.61));
$mauve-12: light-dark(oklch(0.2446 0.013 298.05), oklch(0.9494 0.003 286.35));

$mint-01: light-dark(oklch(0.9928 0.005 183.68), oklch(0.1884 0.012 192.27));
$mint-02: light-dark(oklch(0.982 0.01 178.66), oklch(0.2101 0.017 196.61));
$mint-03: light-dark(oklch(0.9595 0.03 179.57), oklch(0.2687 0.039 192.53));
$mint-04: light-dark(oklch(0.933 0.047 178.98), oklch(0.3135 0.058 191.65));
$mint-05: light-dark(oklch(0.8994 0.061 178.72), oklch(0.3594 0.063 188.94));
$mint-06: light-dark(oklch(0.8559 0.072 178.68), oklch(0.4104 0.067 186.27));
$mint-07: light-dark(oklch(0.7979 0.085 178.22), oklch(0.4709 0.073 183.35));
$mint-08: light-dark(oklch(0.722 0.107 177.69), oklch(0.5401 0.085 179.56));
$mint-09: light-dark(oklch(0.8696 0.1 177.97), oklch(0.8696 0.1 177.97));
$mint-10: light-dark(oklch(0.8412 0.1 177.77), oklch(0.9162 0.08 179.36));
$mint-11: light-dark(oklch(0.5118 0.095 176.02), oklch(0.7955 0.118 176.38));
$mint-12: light-dark(oklch(0.3497 0.051 181.44), oklch(0.9305 0.057 168.49));

$olive-01: light-dark(oklch(0.9931 0.002 149.08), oklch(0.1797 0.004 128.34));
$olive-02: light-dark(oklch(0.983 0.003 144.76), oklch(0.2117 0.004 128.29));
$olive-03: light-dark(oklch(0.9561 0.004 141.14), oklch(0.2516 0.005 129.01));
$olive-04: light-dark(oklch(0.932 0.004 142.11), oklch(0.2807 0.006 131.44));
$olive-05: light-dark(oklch(0.9095 0.005 139.33), oklch(0.3101 0.007 131.45));
$olive-06: light-dark(oklch(0.8855 0.006 141.14), oklch(0.3464 0.008 134.43));
$olive-07: light-dark(oklch(0.8517 0.006 141.14), oklch(0.3986 0.01 136.03));
$olive-08: light-dark(oklch(0.7921 0.007 140.55), oklch(0.4877 0.012 140.78));
$olive-09: light-dark(oklch(0.6404 0.011 136.53), oklch(0.5352 0.018 139.61));
$olive-10: light-dark(oklch(0.6054 0.012 136.54), oklch(0.5812 0.016 140.06));
$olive-11: light-dark(oklch(0.5001 0.011 139.89), oklch(0.7659 0.013 139.5));
$olive-12: light-dark(oklch(0.2419 0.011 138.23), oklch(0.947 0.003 144.76));

$orange-01: light-dark(oklch(0.9922 0.003 40.73), oklch(0.1864 0.012 53.75));
$orange-02: light-dark(oklch(0.9787 0.015 70.83), oklch(0.2088 0.019 67.38));
$orange-03: light-dark(oklch(0.9576 0.037 78.11), oklch(0.2575 0.045 59.54));
$orange-04: light-dark(oklch(0.9203 0.081 74.16), oklch(0.2933 0.08 58.65));
$orange-05: light-dark(oklch(0.8904 0.107 70.84), oklch(0.3346 0.087 58.09));
$orange-06: light-dark(oklch(0.8573 0.11 64.43), oklch(0.3863 0.087 55.15));
$orange-07: light-dark(oklch(0.8053 0.113 59.88), oklch(0.4534 0.095 53.06));
$orange-08: light-dark(oklch(0.7454 0.132 54.82), oklch(0.5405 0.116 49.75));
$orange-09: light-dark(oklch(0.689 0.191 44.8), oklch(0.689 0.191 44.8));
$orange-10: light-dark(oklch(0.6622 0.194 43.49), oklch(0.7414 0.199 46.32));
$orange-11: light-dark(oklch(0.5919 0.186 46.95), oklch(0.799 0.163 50.77));
$orange-12: light-dark(oklch(0.3501 0.069 40.82), oklch(0.9248 0.052 66.22));

$pink-01: light-dark(oklch(0.9941 0.004 336.25), oklch(0.1907 0.017 334.93));
$pink-02: light-dark(oklch(0.9831 0.009 339.97), oklch(0.2074 0.031 338.17));
$pink-03: light-dark(oklch(0.9543 0.027 340.64), oklch(0.2614 0.061 337.46));
$pink-04: light-dark(oklch(0.9251 0.042 340.66), oklch(0.2994 0.098 340.14));
$pink-05: light-dark(oklch(0.8931 0.054 340.86), oklch(0.338 0.104 340.64));
$pink-06: light-dark(oklch(0.8554 0.067 340.9), oklch(0.389 0.107 341.55));
$pink-07: light-dark(oklch(0.8091 0.083 341.21), oklch(0.4587 0.119 342.62));
$pink-08: light-dark(oklch(0.7517 0.107 341.63), oklch(0.5454 0.145 344.11));
$pink-09: light-dark(oklch(0.6167 0.208 346.05), oklch(0.6167 0.208 346.05));
$pink-10: light-dark(oklch(0.5957 0.207 346.5), oklch(0.65 0.197 346.18));
$pink-11: light-dark(oklch(0.5566 0.206 347.33), oklch(0.7887 0.19 350.74));
$pink-12: light-dark(oklch(0.35 0.129 345.45), oklch(0.9053 0.059 343.23));

$plum-01: light-dark(oklch(0.9933 0.005 316.87), oklch(0.19 0.017 326.98));
$plum-02: light-dark(oklch(0.9831 0.009 325.99), oklch(0.21 0.031 327.68));
$plum-03: light-dark(oklch(0.9569 0.027 325.49), oklch(0.2657 0.062 326.67));
$plum-04: light-dark(oklch(0.9292 0.044 324.87), oklch(0.3065 0.088 325.27));
$plum-05: light-dark(oklch(0.8985 0.057 324.37), oklch(0.3434 0.095 324.63));
$plum-06: light-dark(oklch(0.8603 0.072 323.91), oklch(0.3889 0.097 324.2));
$plum-07: light-dark(oklch(0.8092 0.091 323.15), oklch(0.4565 0.106 323.43));
$plum-08: light-dark(oklch(0.7418 0.12 321.88), oklch(0.5451 0.128 322.16));
$plum-09: light-dark(oklch(0.5789 0.188 322.09), oklch(0.5789 0.188 322.09));
$plum-10: light-dark(oklch(0.5527 0.181 322.1), oklch(0.616 0.182 322.12));
$plum-11: light-dark(oklch(0.5213 0.173 322.02), oklch(0.7859 0.154 322.06));
$plum-12: light-dark(oklch(0.3376 0.125 321.41), oklch(0.9062 0.055 325.83));

$purple-01: light-dark(oklch(0.993 0.004 325.35), oklch(0.1915 0.022 315.98));
$purple-02: light-dark(oklch(0.9823 0.009 313.12), oklch(0.2131 0.031 314.34));
$purple-03: light-dark(oklch(0.9591 0.024 313.27), oklch(0.2663 0.062 312.03));
$purple-04: light-dark(oklch(0.9328 0.039 312.06), oklch(0.3082 0.083 310.65));
$purple-05: light-dark(oklch(0.9007 0.054 311.57), oklch(0.3445 0.091 310.13));
$purple-06: light-dark(oklch(0.8596 0.071 311.03), oklch(0.3877 0.097 309.66));
$purple-07: light-dark(oklch(0.804 0.093 309.93), oklch(0.4496 0.108 308.73));
$purple-08: light-dark(oklch(0.7331 0.123 307.97), oklch(0.5409 0.133 307.07));
$purple-09: light-dark(oklch(0.5555 0.183 305.88), oklch(0.5555 0.183 305.88));
$purple-10: light-dark(oklch(0.5242 0.176 305.69), oklch(0.5959 0.177 306.35));
$purple-11: light-dark(oklch(0.516 0.174 305.7), oklch(0.7851 0.156 307.9));
$purple-12: light-dark(oklch(0.3223 0.11 303.8), oklch(0.9109 0.049 310.95));

$red-01: light-dark(oklch(0.9935 0.003 22.75), oklch(0.188 0.013 19.39));
$red-02: light-dark(oklch(0.9832 0.008 16.02), oklch(0.2048 0.022 14.74));
$red-03: light-dark(oklch(0.9561 0.021 16.23), oklch(0.2504 0.064 13.11));
$red-04: light-dark(oklch(0.9281 0.047 16.68), oklch(0.2888 0.096 14.29));
$red-05: light-dark(oklch(0.8961 0.062 17.33), oklch(0.3316 0.107 15.53));
$red-06: light-dark(oklch(0.857 0.075 17.87), oklch(0.3826 0.111 16.93));
$red-07: light-dark(oklch(0.8072 0.089 18.44), oklch(0.4506 0.121 18.91));
$red-08: light-dark(oklch(0.745 0.113 19.09), oklch(0.5436 0.147 21.44));
$red-09: light-dark(oklch(0.6254 0.193 22.98), oklch(0.6254 0.193 22.98));
$red-10: light-dark(oklch(0.5999 0.195 23.89), oklch(0.6646 0.177 23.09));
$red-11: light-dark(oklch(0.5572 0.198 25.13), oklch(0.7837 0.162 22.29));
$red-12: light-dark(oklch(0.3391 0.109 16.68), oklch(0.9022 0.053 6.14));

$ruby-01: light-dark(oklch(0.9938 0.003 356.31), oklch(0.1888 0.014 2.9));
$ruby-02: light-dark(oklch(0.9834 0.008 8.41), oklch(0.2077 0.016 5.29));
$ruby-03: light-dark(oklch(0.9536 0.022 8.56), oklch(0.2538 0.06 6.54));
$ruby-04: light-dark(oklch(0.928 0.042 8.46), oklch(0.2921 0.089 5.5));
$ruby-05: light-dark(oklch(0.8964 0.055 8.16), oklch(0.3327 0.1 6.4));
$ruby-06: light-dark(oklch(0.8581 0.066 7.84), oklch(0.382 0.105 7.59));
$ruby-07: light-dark(oklch(0.8101 0.08 7.49), oklch(0.4483 0.117 9.02));
$ruby-08: light-dark(oklch(0.7488 0.101 6.86), oklch(0.5438 0.145 11.06));
$ruby-09: light-dark(oklch(0.6284 0.195 13.19), oklch(0.6284 0.195 13.19));
$ruby-10: light-dark(oklch(0.6013 0.196 13.39), oklch(0.6635 0.179 13.69));
$ruby-11: light-dark(oklch(0.5489 0.199 13.92), oklch(0.7861 0.161 17.01));
$ruby-12: light-dark(oklch(0.3412 0.11 10.04), oklch(0.9054 0.053 355.83));

$sage-01: light-dark(oklch(0.9923 0.003 160.4), oklch(0.1792 0.004 167.38));
$sage-02: light-dark(oklch(0.9808 0.003 171.2), oklch(0.2111 0.004 160.17));
$sage-03: light-dark(oklch(0.955 0.003 170.38), oklch(0.2512 0.004 164.2));
$sage-04: light-dark(oklch(0.9312 0.003 170.38), oklch(0.2812 0.005 164.87));
$sage-05: light-dark(oklch(0.9092 0.004 167.67), oklch(0.3107 0.005 167.44));
$sage-06: light-dark(oklch(0.8851 0.004 167.67), oklch(0.3471 0.006 167.42));
$sage-07: light-dark(oklch(0.8511 0.004 169.85), oklch(0.3992 0.008 167.38));
$sage-08: light-dark(oklch(0.7924 0.005 169.48), oklch(0.4882 0.009 169.81));
$sage-09: light-dark(oklch(0.6393 0.01 172.38), oklch(0.5329 0.018 170.77));
$sage-10: light-dark(oklch(0.6048 0.01 172.84), oklch(0.5793 0.016 170.51));
$sage-11: light-dark(oklch(0.5007 0.008 175.92), oklch(0.766 0.01 167.51));
$sage-12: light-dark(oklch(0.2398 0.012 166.78), oklch(0.9473 0.002 167.71));

$sand-01: light-dark(oklch(0.9937 0.001 106.42), oklch(0.1776 0.002 106.63));
$sand-02: light-dark(oklch(0.9822 0.001 106.43), oklch(0.2129 0.002 106.58));
$sand-03: light-dark(oklch(0.9555 0.002 97.61), oklch(0.2531 0.003 106.62));
$sand-04: light-dark(oklch(0.9322 0.003 100.56), oklch(0.2828 0.004 99.02));
$sand-05: light-dark(oklch(0.9099 0.004 95.91), oklch(0.3124 0.004 100.73));
$sand-06: light-dark(oklch(0.8855 0.005 98.34), oklch(0.3491 0.006 102.24));
$sand-07: light-dark(oklch(0.8525 0.006 96.6), oklch(0.4007 0.007 96.1));
$sand-08: light-dark(oklch(0.7918 0.008 96.5), oklch(0.4901 0.01 91.73));
$sand-09: light-dark(oklch(0.6413 0.01 106.69), oklch(0.5346 0.011 94.07));
$sand-10: light-dark(oklch(0.6057 0.01 106.68), oklch(0.5811 0.011 94.05));
$sand-11: light-dark(oklch(0.4979 0.008 106.68), oklch(0.7666 0.009 97.38));
$sand-12: light-dark(oklch(0.2434 0.008 96.31), oklch(0.9483 0.003 106.45));

$sky-01: light-dark(oklch(0.9933 0.005 211.91), oklch(0.1898 0.024 257.09));
$sky-02: light-dark(oklch(0.9799 0.01 217.67), oklch(0.2161 0.029 258.45));
$sky-03: light-dark(oklch(0.9606 0.024 219.58), oklch(0.2711 0.054 251.88));
$sky-04: light-dark(oklch(0.9356 0.036 220.39), oklch(0.3222 0.07 247.75));
$sky-05: light-dark(oklch(0.9028 0.047 221.37), oklch(0.3725 0.079 245.75));
$sky-06: light-dark(oklch(0.861 0.058 222.87), oklch(0.4269 0.087 243.56));
$sky-07: light-dark(oklch(0.8058 0.072 225.65), oklch(0.488 0.098 240.69));
$sky-08: light-dark(oklch(0.7294 0.096 227.98), oklch(0.5574 0.114 237.22));
$sky-09: light-dark(oklch(0.8614 0.103 217.81), oklch(0.8614 0.103 217.81));
$sky-10: light-dark(oklch(0.8377 0.104 219.57), oklch(0.9081 0.073 214.92));
$sky-11: light-dark(oklch(0.5256 0.108 232.54), oklch(0.7926 0.099 231.67));
$sky-12: light-dark(oklch(0.3511 0.057 241.61), oklch(0.9337 0.053 214.37));

$slate-01: light-dark(oklch(0.9912 0.001 286.37), oklch(0.1789 0.004 285.99));
$slate-02: light-dark(oklch(0.9824 0.003 286.35), oklch(0.2133 0.004 264.41));
$slate-03: light-dark(oklch(0.9557 0.004 281.88), oklch(0.2534 0.006 261.19));
$slate-04: light-dark(oklch(0.9314 0.006 282.96), oklch(0.2827 0.007 259.52));
$slate-05: light-dark(oklch(0.9101 0.008 283.59), oklch(0.3114 0.008 259.73));
$slate-06: light-dark(oklch(0.8876 0.009 281.79), oklch(0.3459 0.01 256.52));
$slate-07: light-dark(oklch(0.8534 0.012 280.85), oklch(0.3977 0.012 253.77));
$slate-08: light-dark(oklch(0.7939 0.016 278.12), oklch(0.4899 0.016 247.63));
$slate-09: light-dark(oklch(0.6456 0.016 277.83), oklch(0.537 0.015 261.15));
$slate-10: light-dark(oklch(0.6098 0.016 273.24), oklch(0.583 0.014 263.32));
$slate-11: light-dark(oklch(0.5026 0.014 263.44), oklch(0.7677 0.01 261.27));
$slate-12: light-dark(oklch(0.2413 0.01 249.52), oklch(0.9488 0.003 264.57));

$teal-01: light-dark(oklch(0.9939 0.005 177.55), oklch(0.1889 0.012 184.5));
$teal-02: light-dark(oklch(0.9812 0.009 179), oklch(0.2165 0.017 189.31));
$teal-03: light-dark(oklch(0.9606 0.027 180.32), oklch(0.2737 0.038 186.35));
$teal-04: light-dark(oklch(0.9346 0.042 180.22), oklch(0.3173 0.055 187));
$teal-05: light-dark(oklch(0.9004 0.054 180.5), oklch(0.3625 0.06 186.52));
$teal-06: light-dark(oklch(0.8558 0.064 181.42), oklch(0.4137 0.065 185.38));
$teal-07: light-dark(oklch(0.7974 0.076 182.21), oklch(0.4732 0.074 184.55));
$teal-08: light-dark(oklch(0.7211 0.097 183.46), oklch(0.5389 0.087 183.55));
$teal-09: light-dark(oklch(0.6488 0.113 182.01), oklch(0.6488 0.113 182.01));
$teal-10: light-dark(oklch(0.6195 0.11 181.2), oklch(0.6869 0.123 180.32));
$teal-11: light-dark(oklch(0.5296 0.124 179.04), oklch(0.7888 0.147 175.66));
$teal-12: light-dark(oklch(0.3269 0.05 185.02), oklch(0.9051 0.072 175.26));

$tomato-01: light-dark(oklch(0.9935 0.003 22.75), oklch(0.1869 0.012 19.59));
$tomato-02: light-dark(oklch(0.9842 0.007 31.02), oklch(0.2077 0.017 32.02));
$tomato-03: light-dark(oklch(0.9544 0.022 30.88), oklch(0.2537 0.054 26.94));
$tomato-04: light-dark(oklch(0.926 0.047 31.76), oklch(0.2911 0.087 28.17));
$tomato-05: light-dark(oklch(0.8921 0.063 31.49), oklch(0.3314 0.097 28.66));
$tomato-06: light-dark(oklch(0.8524 0.077 32.01), oklch(0.3801 0.099 30.01));
$tomato-07: light-dark(oklch(0.8028 0.094 32.17), oklch(0.4474 0.107 31.46));
$tomato-08: light-dark(oklch(0.7415 0.118 32.07), oklch(0.5378 0.13 32.94));
$tomato-09: light-dark(oklch(0.627 0.194 33.31), oklch(0.627 0.194 33.31));
$tomato-10: light-dark(oklch(0.604 0.195 33.26), oklch(0.665 0.179 34.15));
$tomato-11: light-dark(oklch(0.5665 0.198 32.81), oklch(0.7843 0.164 36.02));
$tomato-12: light-dark(oklch(0.3461 0.08 30.53), oklch(0.8986 0.047 31.11));

$violet-01: light-dark(oklch(0.9921 0.003 308.03), oklch(0.1914 0.026 290.52));
$violet-02: light-dark(oklch(0.983 0.009 295.04), oklch(0.2113 0.032 299.46));
$violet-03: light-dark(oklch(0.9628 0.019 296.58), oklch(0.2709 0.066 293.92));
$violet-04: light-dark(oklch(0.934 0.039 295.38), oklch(0.3121 0.093 291.75));
$violet-05: light-dark(oklch(0.9039 0.057 294.12), oklch(0.3484 0.099 291.4));
$violet-06: light-dark(oklch(0.8641 0.072 293.86), oklch(0.3897 0.102 291.82));
$violet-07: light-dark(oklch(0.8065 0.09 293.47), oklch(0.4446 0.111 291.57));
$violet-08: light-dark(oklch(0.7291 0.119 292.43), oklch(0.5163 0.131 290.2));
$violet-09: light-dark(oklch(0.5418 0.179 288.1), oklch(0.5418 0.179 288.1));
$violet-10: light-dark(oklch(0.5107 0.177 287.64), oklch(0.5882 0.17 289.68));
$violet-11: light-dark(oklch(0.508 0.159 288.59), oklch(0.7782 0.137 293.62));
$violet-12: light-dark(oklch(0.3127 0.098 286.76), oklch(0.9116 0.045 292.61));

$yellow-01: light-dark(oklch(0.9928 0.005 106.49), oklch(0.1811 0.013 86.01));
$yellow-02: light-dark(oklch(0.9884 0.025 102.92), oklch(0.2088 0.017 92.09));
$yellow-03: light-dark(oklch(0.974 0.084 104.36), oklch(0.259 0.047 90.29));
$yellow-04: light-dark(oklch(0.9527 0.117 101.74), oklch(0.2926 0.069 94.2));
$yellow-05: light-dark(oklch(0.9251 0.141 98.2), oklch(0.3334 0.079 94.59));
$yellow-06: light-dark(oklch(0.8809 0.134 95.42), oklch(0.3843 0.077 93.3));
$yellow-07: light-dark(oklch(0.8355 0.12 92.79), oklch(0.4516 0.081 91.5));
$yellow-08: light-dark(oklch(0.7661 0.137 89.85), oklch(0.5349 0.095 89.93));
$yellow-09: light-dark(oklch(0.9266 0.209 102.14), oklch(0.9266 0.209 102.14));
$yellow-10: light-dark(oklch(0.8967 0.185 97.53), oklch(0.9711 0.182 109.36));
$yellow-11: light-dark(oklch(0.5744 0.136 81.69), oklch(0.9002 0.166 101.64));
$yellow-12: light-dark(oklch(0.3578 0.046 86.63), oklch(0.9413 0.075 101.04));
