// Radix colors

$lime-01: light-dark(oklch(0.9924 0.004 120.67), oklch(0.1804 0.014 120.26));
$lime-02: light-dark(oklch(0.9817 0.01 116.7), oklch(0.208 0.019 128.97));
$lime-03: light-dark(oklch(0.9594 0.043 119.1), oklch(0.2662 0.034 132.18));
$lime-04: light-dark(oklch(0.9321 0.069 120.38), oklch(0.3165 0.047 131.83));
$lime-05: light-dark(oklch(0.8974 0.087 121.84), oklch(0.3634 0.058 131.64));
$lime-06: light-dark(oklch(0.853 0.099 123.38), oklch(0.4116 0.069 131.4));
$lime-07: light-dark(oklch(0.7946 0.111 125.31), oklch(0.4644 0.08 131.16));
$lime-08: light-dark(oklch(0.7236 0.135 128.06), oklch(0.5243 0.095 130.86));
$lime-09: light-dark(oklch(0.8875 0.175 126.09), oklch(0.8875 0.175 126.09));
$lime-10: light-dark(oklch(0.8589 0.188 126.73), oklch(0.9418 0.175 123.73));
$lime-11: light-dark(oklch(0.5438 0.111 128.63), oklch(0.8678 0.156 124.78));
$lime-12: light-dark(oklch(0.3537 0.057 121.18), oklch(0.9464 0.082 122.62));

$olive-01: light-dark(oklch(0.9931 0.002 149.08), oklch(0.1797 0.004 128.34));
$olive-02: light-dark(oklch(0.983 0.003 144.76), oklch(0.2117 0.004 128.29));
$olive-03: light-dark(oklch(0.9561 0.004 141.14), oklch(0.2516 0.005 129.01));
$olive-04: light-dark(oklch(0.932 0.004 142.11), oklch(0.2807 0.006 131.44));
$olive-05: light-dark(oklch(0.9095 0.005 139.33), oklch(0.3101 0.007 131.45));
$olive-06: light-dark(oklch(0.8855 0.006 141.14), oklch(0.3464 0.008 134.43));
$olive-07: light-dark(oklch(0.8517 0.006 141.14), oklch(0.3986 0.01 136.03));
$olive-08: light-dark(oklch(0.7921 0.007 140.55), oklch(0.4877 0.012 140.78));
$olive-09: light-dark(oklch(0.6404 0.011 136.53), oklch(0.5352 0.018 139.61));
$olive-10: light-dark(oklch(0.6054 0.012 136.54), oklch(0.5812 0.016 140.06));
$olive-11: light-dark(oklch(0.5001 0.011 139.89), oklch(0.7659 0.013 139.5));
$olive-12: light-dark(oklch(0.2419 0.011 138.23), oklch(0.947 0.003 144.76));

$teal-01: light-dark(oklch(0.9939 0.005 177.55), oklch(0.1889 0.012 184.5));
$teal-02: light-dark(oklch(0.9812 0.009 179), oklch(0.2165 0.017 189.31));
$teal-03: light-dark(oklch(0.9606 0.027 180.32), oklch(0.2737 0.038 186.35));
$teal-04: light-dark(oklch(0.9346 0.042 180.22), oklch(0.3173 0.055 187));
$teal-05: light-dark(oklch(0.9004 0.054 180.5), oklch(0.3625 0.06 186.52));
$teal-06: light-dark(oklch(0.8558 0.064 181.42), oklch(0.4137 0.065 185.38));
$teal-07: light-dark(oklch(0.7974 0.076 182.21), oklch(0.4732 0.074 184.55));
$teal-08: light-dark(oklch(0.7211 0.097 183.46), oklch(0.5389 0.087 183.55));
$teal-09: light-dark(oklch(0.6488 0.113 182.01), oklch(0.6488 0.113 182.01));
$teal-10: light-dark(oklch(0.6195 0.11 181.2), oklch(0.6869 0.123 180.32));
$teal-11: light-dark(oklch(0.5296 0.124 179.04), oklch(0.7888 0.147 175.66));
$teal-12: light-dark(oklch(0.3269 0.05 185.02), oklch(0.9051 0.072 175.26));
