$font-body: system-ui, sans-serif;
$font-mono: monospace, m;
$font-serif: Charter, "Sitka Text", Cambria, serif;

$heading-font: $font-serif;
$heading-size-1: 2.5rem;
$heading-size-2: 2.0rem;
$heading-size-3: 1.6rem;
$heading-size-4: 1.3rem;
$heading-size-5: 1.2rem;
$heading-size-6: 1.1rem;
