$brand-primary: #619144;

$padding-base-vertical   : 3px;
$padding-base-horizontal : 5px;
$padding-large-vertical  : 8px;
$padding-large-horizontal: 5px;
$padding-small-vertical  : 1px;
$padding-small-horizontal: 2px;
$padding-xs-horizontal   : 1px;

$border-radius-base : 3px;
$border-radius-large: 5px;
$border-radius-small: 2px;

$input-border-focus: $brand-primary;

$legend-border-color: #777; // $gray-light

$grid-gutter-width: 14px;

$container-desktop      : 952px;
$container-large-desktop: 952px;

$navbar-height       : 65px;
$navbar-margin-bottom: 0px;
$nav-link-padding    : 5px;

$pagination-border: #ddd;
$pagination-disabled-border: #ddd;
$pagination-active-bg    : $brand-primary;
$pagination-active-border: $brand-primary;

$panel-body-padding: 5px;

$breadcrumb-padding-vertical  : 6px;
$breadcrumb-padding-horizontal: 20px;
$breadcrumb-bg                : #FFF;
$breadcrumb-color             : #777; // $gray-light
$breadcrumb-active-color      : #333; // $gray-dark