.template-dir-content.template-name-content {
    & ul.about-login-targets {
        padding: inherit;
        & li {
            list-style-type: inherit;
            margin-left: 1.3em;
        }
    }
}

// Content page styles

.main.template-dir-content.template-name-content,
.main.template-dir-feedcontent.template-name-content {
    & .odd-fluid {
        background: @gray-ultralight;
    }
    & .organisation-list-inner-row > div {
        position: relative;
        & > .organisation-list-beta {
            position: absolute;
            right: 15px;
            top: 0;
            padding: 1px 2px;
            line-height: 1;
            text-transform: uppercase;
            background-color: #13aebe;
            color: #fff;
        }
        & img {
            border: 1px solid @gray-lighter;
        }
        & .organisation-list-header {
            font-weight: bold;
            margin-top: 3px;
            margin-bottom: -4px;
        }
        & .organisation-list-header, .organisation-list-url {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .organisation-list-url:hover {
            text-decoration: underline;
        }
        & a:hover {
            text-decoration: none;
        }
    }
    .organisation-list-header {
        color: @text-color;
    }
    .organisation-list-url {
        color: @link-color;
        margin-bottom: 25px;
    }
    & ul:not(.nav-tabs.help-tabs) li {
        margin-bottom: 3px;
    }
    .organisation-list-item {
        width: 25%;
        float: left;
        padding: 15px;
        @media(max-width: @screen-sm){
            width: 50%;
        }
    }
    .organisation-list-group {
        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}

//== CONTENT PAGES
.content-section {
    padding-bottom: 20px;
    border-bottom: 1px solid @gray-lighter;
}

ul.nav-tabs.help-tabs {
    margin-top: 3em;
    & li {
        color: @header-text-color;
        font-size: 24px;
        font-weight: 500;
        padding: 10px 15px;
        @media(max-width: @screen-lg){
            font-size: 20px;
        }
    }
}

.example-image-area {
    width: 260px;
    margin-left: 25px;
    margin-bottom: 25px;
    @media(min-width: @screen-xs){
        float: right !important;
    }
    & img {
        width: 80%;
        margin-bottom: 5px;
    }
    & p {
        width: 80%;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1 !important;
    }
}

.finna-aboutfinna-panel {
    border: 1px solid @gray-lighter;
    background: @gray-ultralight;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.finna-aboutfinna-nav {
    > li {
        display: inline-block;
        padding-bottom: 0.5em;
        > a {
            color: @brand-primary;
            border: 1px solid @brand-primary;
            padding: 0.5em;        
            &:hover,
            &:focus {
                color: #fff;
                background: @brand-primary;
            }
        }
    }
}