.finna-main-tabs,
.authority-recommend
{
  background-color: transparent;
  padding-bottom: 15px;
  @media(max-width: @screen-sm-max) {
    margin: 0px;
    padding: 0px;
  }
  .container {
    @media(max-width: @screen-xs-max) {
      width: 100%;
    }
    .tabs-table {
      display: table;
      width: 100%;
    }
  }
  ul.nav-tabs {
    display: flex;
    @media(max-width: @screen-xs-max) {
      padding-top: 10px;
    }
    @media(max-width: 390px) {
      &.many-tabs > li {
        max-width: 64px;
        a {
          min-height: 70px;
          padding: 4px 4px;
          font-size: .8em;
        }
      }
    }
    > li {
      color: @body-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-top: 4px solid transparent;
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      @media (max-width: @screen-sm) {
        &:not(.many-tabs) {
          flex-basis: 50%;
        }
      }
      &.active {
        border-top: 4px solid @main-tabs-active-color;
        border-left: 1px solid @main-tabs-border-color;
        border-right: 1px solid @main-tabs-border-color;
        border-bottom: 1px solid @body-bg;
        a:hover {
          border: none;
        }
      }
      > a {
        background-color: @main-tabs-background-color;
        padding: 10px 5px;
        margin-bottom: 0;
        border: 0;
        font-size: 1em;
        font-weight: 600;
        color: @main-tabs-text-color;
        transition: none;
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          word-break: break-word;
        }
      }
      >button {
        opacity: 1;
        padding-left: 0;
        color: @main-tabs-active-color;
        position: inherit;
        z-index: 200;
        background-color: transparent;
        border: none;
        font-size: 18px;
        cursor: pointer;
        i {
          cursor: pointer;
        }
      }
    }
  }
}

.tab-content {
  margin-bottom: 20px;
  div.dataTables_info {
    white-space: normal;
  }
  #commentList {
    margin-bottom: 20px;
  }
  .comment-wrapper {
    background: @body-bg;
    padding: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    .name {
      padding-bottom: 4px;
      border-bottom: 2px solid @gray-lighter;
    }
    .comment-text {
      padding-top: 5px;
    }
    .comment-rating {
      display: inline-block;
    }
    .comment-info {
      display: inline;
      margin-left: 10px;
    }
  }
  .usercomments-tab {
    form.comment .rating-holder .info {
      float: left;
      margin-right: 5px;
    }
  }
  .toc-tab, ul.toc {
    margin-left: 10px;
  }
}

.search-tabs-recommendations {
  border-top: 2px solid @brand-primary;
  border-bottom: 2px solid @brand-primary;
  padding: @padding-large-horizontal 0 0 0;

  a.title {
    font-size: 1.333em;
    line-height: 1.1em;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    .searchterms {
      font-weight: bold;
    }
    @media (max-width: @screen-xs-max) {
      display: block;
    }
  }

  .count {
    color: @text-muted;
  }

  .tab-icon:before {
    color: @gray-mid-light;
    font-size: 2.5em;
  }
}

// add classes when there are too many tabs to fit on the screen
.tabs-responsive {
  width: 100%;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: @screen-xs-max) {
    > .recordTabs {
      width: 150%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid @nav-tabs-border-color;
  // style 5 tabs to make sure they stay as tabs
  > li {
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    > a {
      font-size: 1.1em;
      font-weight: 500;
      background-color: transparent;
      color: @nav-tabs-text-color;
      margin-right: 3px;
      padding: .6em .5em;
      border: 1px solid transparent;
      margin-bottom: 0;
      border-radius: 0;
      transition: none;
      border-top: 4px solid transparent;
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        i {
          display: block;
          text-align: center;
        }
      }
      @media (max-width: @screen-sm-max) {
        font-size: .9em;
      }
      &:hover {
        color: @nav-tabs-link-hover-color;
        border-color: transparent;
      }
    }
    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: @body-bg;
        border: 1px solid @nav-tabs-border-color;
        border-top: 4px solid @nav-tabs-active-color;
        border-bottom-color: transparent;
        transition: border 0.05s linear;
        color: @text-color;
      }
    }
  }
}
// RSS-feed tabs
.feed-tabs .nav-tabs {
  border-bottom: 1px solid @nav-tabs-border-color;
  > li {
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    font-size: 1.1em;
    font-weight: 500;
    background-color: transparent;
    color: @nav-tabs-text-color;
    margin-right: 3px;
    padding: .6em .5em;
    border: 1px solid transparent;
    border-radius: 0;
    transition: none;
    border-top: 4px solid transparent;
    cursor: pointer;
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      i {
        display: block;
        text-align: center;
      }
    }
    @media (max-width: @screen-sm-max) {
      font-size: .9em;
    }
    &:hover {
      color: @nav-tabs-link-hover-color;
      border-color: transparent;
    }

    // Active state, and its :hover to override normal :hover
    &.active {
      cursor: initial;
      &,
      &:hover,
      &:focus {
        background-color: @body-bg;
        border: 1px solid @nav-tabs-border-color;
        border-top: 4px solid @nav-tabs-active-color;
        border-bottom-color: transparent;
        transition: border 0.05s linear;
        color: @text-color;
      }
    }
  }
}


.useraccount-nav.nav-tabs {
  border-bottom: none;
  // style 5 tabs to make sure they stay as tabs
  li:first-child:nth-last-child(5), li:first-child:nth-last-child(5) ~ li {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      max-width: 100%;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      max-width: 100%;
    }
  }
  > li {
    margin-bottom: 0;
    > a {
      border: none;
      font-weight: 400;
      &:hover {
        border-bottom-color: @gray-lighter;
      }
    }
    &:first-child > a {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &:last-child > a {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &.active > a {
      background-color: @gray-ultralight;
      border-color: transparent;
      border-bottom-color: @gray-lighter;
      &,
      &:hover,
      &:focus {
        border: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: auto;
        font-weight: 600;
      }
    }
  }
}

.useraccount-nav .caret {
  float: right;
}

.useraccount-nav .collapsing {
  -webkit-transition-delay: -1s;
  transition-delay: -1s;
  visibility: hidden;
}

.useraccount-nav.nav-tabs .dropdown-menu {
  float: none;
  position: relative;
  top: initial;
  left: initial;
}

.recordTabs.nav {
  margin-top: 20px;
  @media (max-width: @screen-xs-max) {
    margin-left: -15px;
    margin-right: -15px;
  }
  li.tab-right {
    float:right
  }
}

.record .recordTabs.nav > li > a {
  color: @gray;
}

@media (max-width:@screen-xs-max) {
  .nav-tabs {
    text-align: center;
    //border-bottom: 5px solid @gray-lighter;
    #details {
      display: none;
    }
    > li {
      word-wrap: break-word;
    }
    > li > a {
      padding: 0 10px 10px;
      background-color: transparent;
      border: none;
      border-bottom: 5px solid transparent;
      margin:0;
      i {
        display: block;
        min-height: 14px;
      }
    }
    > li.active > a {
      &,
      &:hover,
      &:focus {
        border: none;
        border-bottom: 5px solid @link-color;
      }
    }
  }
}

.mobile-main-tabs {
  width: 100%;
  .dropdown-toggle {
    line-height: 50px;
    margin: 15px 0;
    background-color: @main-tabs-active-color;
    color: mix(@main-tabs-active-color, contrast(@main-tabs-active-color), 5%);
    padding: 0 15px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    .tab-title {
      font-size: @font-size-h2;
      font-weight: 500;
      background: transparent;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex-grow: 1;
      margin-right: 10px;
    }
    .more {
      font-size: 85%;
      padding-left: 10px;
      white-space: nowrap;
      b {
        margin-left: 5px;
        font-size: 20px;
      }
    }
  }
  .tooltip {
    display: none;
  }
}

.loginTabs a {
  cursor: default;
}
