.video-popup {
  max-width: 900px;
  max-height: 768px;
  margin: auto;
  .mfp-close {
    color: #fff;
    background: transparent;
    transition: opacity 1s;
  }
}

#video-player:focus, video:focus {
  outline: none;
}

.video-js {
  width: 100%;
  height: 100%;
}
