legend { margin: 0; }

@media (min-width: 768px) {
  .form-fix-database,
  .form-oai-home,
  .form-search-reserves {
    .control-label {
      width: 200px;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: right;
    }
    .form-control {
      display: inline-table;
      width: 300px;
    }
    .form-group > .btn:first-child { margin-left: 200px; }
  }
}
