@bp3-icon-path: '../../bootprint3/images/icons';

.doi-icon { width: 16px; }

.bp-icon,
[class*="btn-type-"]::before {
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent !important;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-shadow: none;
  vertical-align: text-bottom;
  width: 16px;
}
.fa-x { background-image: url("@{bp3-icon-path}/page_white.png"); &:extend(.bp-icon); }

/**
 * Toolbar Button Icons
 */
[class*="btn-type-"]::before {
  margin-right: .25rem;
}
.btn-type-add::before,
i.fa-plus-circle { background-image: url("@{bp3-icon-path}/add.png"); &:extend(.bp-icon); }
.btn-type-cite::before,
i.fa-asterisk { background-image: url("@{bp3-icon-path}/list.png"); &:extend(.bp-icon); }
.btn-type-delete::before,
i.fa-trash,
i.fa-trash-o { background-image: url("@{bp3-icon-path}/bin.png"); &:extend(.bp-icon); }
.btn-type-email::before,
i.fa-email,
i.fa-envelope,
i.fa-envelope-o { background-image: url("@{bp3-icon-path}/email.png"); &:extend(.bp-icon); }
.btn-type-empty::before,
i.fa-close { background-image: url("@{bp3-icon-path}/cross.png"); &:extend(.bp-icon); }
.btn-type-export::before,
i.fa-external-link { background-image: url("@{bp3-icon-path}/link_go.png"); &:extend(.bp-icon); }
.btn-type-minus::before,
i.fa-minus-circle,
i.fa-minus-sign { background-image: url("@{bp3-icon-path}/delete.png"); &:extend(.bp-icon); }
.btn-type-phone::before,
i.fa-mobile { background-image: url("@{bp3-icon-path}/phone.png"); &:extend(.bp-icon); }
.btn-type-print::before,
i.fa-print { background-image: url("@{bp3-icon-path}/printer.png"); &:extend(.bp-icon); }
.btn-type-save::before,
i.fa-star { background-image: url("@{bp3-icon-path}/star.png"); &:extend(.bp-icon); }

/**
 * Other FontAwesome overrides
 */
i.fa-archive { background-image: url("@{bp3-icon-path}/package.png"); &:extend(.bp-icon); }
i.fa-atlas { background-image: url("@{bp3-icon-path}/map.png"); &:extend(.bp-icon); }
i.fa-bell { background-image: url("@{bp3-icon-path}/bell.png"); &:extend(.bp-icon); }
i.fa-book { background-image: url("@{bp3-icon-path}/book.png"); &:extend(.bp-icon); }
i.fa-bookbag-add { background-image: url("@{bp3-icon-path}/bookbag_add.png"); &:extend(.bp-icon); }
i.fa-bookbag-delete { background-image: url("@{bp3-icon-path}/bookbag_delete.png"); &:extend(.bp-icon); }
i.fa-bookbag-empty { background-image: url("@{bp3-icon-path}/bookbag_empty.png"); &:extend(.bp-icon); }
i.fa-bookmark { background-image: url("@{bp3-icon-path}/bookmark_add.png"); &:extend(.bp-icon); }
i.fa-braille { background-image: url("@{bp3-icon-path}/page_red.png"); &:extend(.bp-icon); }
i.fa-cancel-all-holds { background-image: url("@{bp3-icon-path}/holdCancelAll.png"); &:extend(.bp-icon); }
i.fa-cancel-all-storage-retrieval-requests { background-image: url("@{bp3-icon-path}/holdCancelAll.png"); &:extend(.bp-icon); }
i.fa-cancel-holds { background-image: url("@{bp3-icon-path}/holdCancel.png"); &:extend(.bp-icon); }
i.fa-cancel-storage-retrieval-requests { background-image: url("@{bp3-icon-path}/holdCancel.png"); &:extend(.bp-icon); }
i.fa-cdrom { background-image: url("@{bp3-icon-path}/cd.png"); &:extend(.bp-icon); }
i.fa-chart { background-image: url("@{bp3-icon-path}/chart_bar.png"); &:extend(.bp-icon); }
i.fa-chipcartridge { background-image: url("@{bp3-icon-path}/server.png"); &:extend(.bp-icon); }
i.fa-collage { background-image: url("@{bp3-icon-path}/pictures.png"); &:extend(.bp-icon); }
i.fa-disccartridge { background-image: url("@{bp3-icon-path}/cd.png"); &:extend(.bp-icon); }
i.fa-drawing { background-image: url("@{bp3-icon-path}/photo.png"); &:extend(.bp-icon); }
i.fa-ebook { background-image: url("@{bp3-icon-path}/book_addresses.png"); &:extend(.bp-icon); }
i.fa-edit { background-image: url("@{bp3-icon-path}/edit.png"); &:extend(.bp-icon); }
i.fa-electronic { background-image: url("@{bp3-icon-path}/mouse.png"); &:extend(.bp-icon); }
i.fa-exchange { background-image: url("@{bp3-icon-path}/arrow_refresh.png"); &:extend(.bp-icon); }
i.fa-filmstrip { background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-flag { background-image: url("@{bp3-icon-path}/flag_red.png"); &:extend(.bp-icon); }
i.fa-flashcard { background-image: url("@{bp3-icon-path}/table_lightening.png"); &:extend(.bp-icon); }
i.fa-floppydisk { background-image: url("@{bp3-icon-path}/disk.png"); &:extend(.bp-icon); }
i.fa-globe { background-image: url("@{bp3-icon-path}/world.png"); &:extend(.bp-icon); }
i.fa-grid { background-image: url("@{bp3-icon-path}/view_grid.png"); &:extend(.bp-icon); }
i.fa-heart { background-image: url("@{bp3-icon-path}/heart.png"); &:extend(.bp-icon); }
i.fa-home { background-image: url("@{bp3-icon-path}/house.png"); &:extend(.bp-icon); }
i.fa-inbox { background-image: url("@{bp3-icon-path}/box.png"); &:extend(.bp-icon); }
i.fa-journal { background-image: url("@{bp3-icon-path}/book.png"); &:extend(.bp-icon); }
i.fa-kit { background-image: url("@{bp3-icon-path}/briefcase.png"); &:extend(.bp-icon); }
i.fa-leaf,.fa-sitemap { background-image: url("@{bp3-icon-path}/treeCurrent.png"); &:extend(.bp-icon); }
i.fa-list { background-image: url("@{bp3-icon-path}/view_list.png"); &:extend(.bp-icon); }
i.fa-list-alt,i.fa-export { background-image: url("@{bp3-icon-path}/application_add.png"); &:extend(.bp-icon); }
i.fa-lock { background-image: url("@{bp3-icon-path}/lock.png"); &:extend(.bp-icon); }
i.fa-manuscript { background-image: url("@{bp3-icon-path}/script.png"); &:extend(.bp-icon); }
i.fa-map { background-image: url("@{bp3-icon-path}/map.png"); &:extend(.bp-icon); }
i.fa-microfilm { background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-motionpicture { background-image: url("@{bp3-icon-path}/television.png"); &:extend(.bp-icon); }
i.fa-musicalscore { background-image: url("@{bp3-icon-path}/music.png"); &:extend(.bp-icon); }
i.fa-musicrecording { background-image: url("@{bp3-icon-path}/music.png"); &:extend(.bp-icon); }
i.fa-newspaper { background-image: url("@{bp3-icon-path}/newspaper.png"); &:extend(.bp-icon); }
i.fa-ok { background-image: url("@{bp3-icon-path}/tick.png"); &:extend(.bp-icon); }
i.fa-online { background-image: url("@{bp3-icon-path}/computer.png"); &:extend(.bp-icon); }
i.fa-painting { background-image: url("@{bp3-icon-path}/paintbrush.png"); &:extend(.bp-icon); }
i.fa-photo { background-image: url("@{bp3-icon-path}/photo.png"); &:extend(.bp-icon); }
i.fa-photonegative { background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-physicalobject { background-image: url("@{bp3-icon-path}/box.png"); &:extend(.bp-icon); }
i.fa-plus { background-image: url("@{bp3-icon-path}/add.png"); &:extend(.bp-icon); }
i.fa-qrcode { background-image: url("@{bp3-icon-path}/qrcode.png"); &:extend(.bp-icon); }
i.fa-remove { background-image: url("@{bp3-icon-path}/delete.png"); &:extend(.bp-icon); }
i.fa-renew { background-image: url("@{bp3-icon-path}/renew.png"); &:extend(.bp-icon); }
i.fa-renew-all { background-image: url("@{bp3-icon-path}/renewAll.png"); &:extend(.bp-icon); }
i.fa-report { background-image: url("@{bp3-icon-path}/report.png"); &:extend(.bp-icon); }
i.fa-rss { background-image: url("@{bp3-icon-path}/feed.png"); &:extend(.bp-icon); }
i.fa-search { background-image: url("@{bp3-icon-path}/magnifier.png"); &:extend(.bp-icon); }
i.fa-search-plus { background-image: url("@{bp3-icon-path}/magnifier_zoom_in.png"); &:extend(.bp-icon); }
i.fa-sensorimage { background-image: url("@{bp3-icon-path}/photo.png"); &:extend(.bp-icon); }
i.fa-serial { background-image: url("@{bp3-icon-path}/page_white_stack.png"); &:extend(.bp-icon); }
i.fa-shopping-cart { background-image: url("@{bp3-icon-path}/cart.png"); &:extend(.bp-icon); }
i.fa-sign-in { background-image: url("@{bp3-icon-path}/door_in.png"); &:extend(.bp-icon); }
i.fa-sign-out { background-image: url("@{bp3-icon-path}/door_out.png"); &:extend(.bp-icon); }
i.fa-slide { background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-software { background-image: url("@{bp3-icon-path}/drive_cd.png"); &:extend(.bp-icon); }
i.fa-soundcassette { background-image: url("@{bp3-icon-path}/sound.png"); &:extend(.bp-icon); }
i.fa-sounddisc { background-image: url("@{bp3-icon-path}/cd.png"); &:extend(.bp-icon); }
i.fa-soundrecording { background-image: url("@{bp3-icon-path}/sound.png"); &:extend(.bp-icon); }
i.fa-spinner { background-image: url("@{bp3-icon-path}/ajax_loading.gif"); &:extend(.bp-icon); }
i.fa-status-unknown { background-image: url("@{bp3-icon-path}/bullet_orange.png"); &:extend(.bp-icon); }
i.fa-suitcase { background-image: url("@{bp3-icon-path}/bookbag.png"); &:extend(.bp-icon); }
i.fa-tapecartridge { background-image: url("@{bp3-icon-path}/drive.png"); &:extend(.bp-icon); }
i.fa-tapecassette { background-image: url("@{bp3-icon-path}/drive.png"); &:extend(.bp-icon); }
i.fa-tapereel { background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-transparency { background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-tree { background-image: url("@{bp3-icon-path}/treeCurrent.png"); &:extend(.bp-icon); }
i.fa-tree-muted { background-image: url("@{bp3-icon-path}/treeMuted.png"); &:extend(.bp-icon); }
i.fa-unknown { background-image: url("@{bp3-icon-path}/page_white.png"); &:extend(.bp-icon); }
i.fa-usd { background-image: url("@{bp3-icon-path}/money_dollar.png"); &:extend(.bp-icon); }
i.fa-user { background-image: url("@{bp3-icon-path}/user.png"); &:extend(.bp-icon); }
i.fa-video{background-image: url("@{bp3-icon-path}/television.png"); &:extend(.bp-icon); }
i.fa-videocartridge { background-image: url("@{bp3-icon-path}/television.png"); &:extend(.bp-icon); }
i.fa-videocassette{background-image: url("@{bp3-icon-path}/television.png"); &:extend(.bp-icon); }
i.fa-videodisc{background-image: url("@{bp3-icon-path}/cd.png"); &:extend(.bp-icon); }
i.fa-videoreel{background-image: url("@{bp3-icon-path}/film.png"); &:extend(.bp-icon); }
i.fa-visual { background-image: url("@{bp3-icon-path}/view_visual.png"); &:extend(.bp-icon); }

body.rtl {
  i.fa-external-link { background-image: url("@{bp3-icon-path}/link_go_rtl.png"); }
  i.fa-flag { background-image: url("@{bp3-icon-path}/flag_red_rtl.png"); }
}

#cart-empty-label i.fa-close { background-image: url("@{bp3-icon-path}/briefcase.png"); &:extend(.bp-icon); }
