.bp-icon {
  background-position:center center;
  background-repeat:no-repeat;
  color:transparent;
  content:'';
  display:inline-block;
  height:16px;
  margin:0;
  padding:0;
  text-shadow:none;
  vertical-align:text-bottom;
  width:16px;
}
.fa-x { background-image:url('@{img-path}/icons/page_white.png'); &:extend(.bp-icon); }
i.fa-archive { background-image:url('@{img-path}/icons/package.png'); &:extend(.bp-icon); }
i.fa-asterisk { background-image:url('@{img-path}/icons/list.png'); &:extend(.bp-icon); }
i.fa-atlas { background-image:url('@{img-path}/icons/map.png'); &:extend(.bp-icon); }
i.fa-bell { background-image:url('@{img-path}/icons/bell.png'); &:extend(.bp-icon); }
i.fa-book { background-image:url('@{img-path}/icons/book.png'); &:extend(.bp-icon); }
i.fa-bookbag-add { background-image:url('@{img-path}/icons/bookbag_add.png'); &:extend(.bp-icon); }
i.fa-bookbag-delete { background-image:url('@{img-path}/icons/bookbag_delete.png'); &:extend(.bp-icon); }
i.fa-bookbag-empty { background-image:url('@{img-path}/icons/bookbag_empty.png'); &:extend(.bp-icon); }
i.fa-bookmark { background-image:url('@{img-path}/icons/bookmark_add.png'); &:extend(.bp-icon); }
i.fa-braille { background-image:url('@{img-path}/icons/page_red.png'); &:extend(.bp-icon); }
i.fa-cancel-all-holds { background-image:url('@{img-path}/icons/holdCancelAll.png'); &:extend(.bp-icon); }
i.fa-cancel-all-storage-retrieval-requests { background-image:url('@{img-path}/icons/holdCancelAll.png'); &:extend(.bp-icon); }
i.fa-cancel-holds { background-image:url('@{img-path}/icons/holdCancel.png'); &:extend(.bp-icon); }
i.fa-cancel-storage-retrieval-requests { background-image:url('@{img-path}/icons/holdCancel.png'); &:extend(.bp-icon); }
i.fa-cdrom { background-image:url('@{img-path}/icons/cd.png'); &:extend(.bp-icon); }
i.fa-chart { background-image:url('@{img-path}/icons/chart_bar.png'); &:extend(.bp-icon); }
i.fa-chipcartridge { background-image:url('@{img-path}/icons/server.png'); &:extend(.bp-icon); }
i.fa-collage { background-image:url('@{img-path}/icons/pictures.png'); &:extend(.bp-icon); }
i.fa-close { background-image:url('@{img-path}/icons/cross.png'); &:extend(.bp-icon); }
i.fa-disccartridge { background-image:url('@{img-path}/icons/cd.png'); &:extend(.bp-icon); }
i.fa-drawing { background-image:url('@{img-path}/icons/photo.png'); &:extend(.bp-icon); }
i.fa-ebook { background-image:url('@{img-path}/icons/book_addresses.png'); &:extend(.bp-icon); }
i.fa-edit { background-image:url('@{img-path}/icons/edit.png'); &:extend(.bp-icon); }
i.fa-electronic { background-image:url('@{img-path}/icons/mouse.png'); &:extend(.bp-icon); }
i.fa-email,
i.fa-envelope,
i.fa-envelope-o { background-image:url('@{img-path}/icons/email.png'); &:extend(.bp-icon); }
i.fa-exchange { background-image:url('@{img-path}/icons/arrow_refresh.png'); &:extend(.bp-icon); }
i.fa-external-link { background-image:url('@{img-path}/icons/link_go.png'); &:extend(.bp-icon); }
i.fa-filmstrip { background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-flag { background-image:url('@{img-path}/icons/flag_red.png'); &:extend(.bp-icon); }
i.fa-flashcard { background-image:url('@{img-path}/icons/table_lightening.png'); &:extend(.bp-icon); }
i.fa-floppydisk { background-image:url('@{img-path}/icons/disk.png'); &:extend(.bp-icon); }
i.fa-globe { background-image:url('@{img-path}/icons/world.png'); &:extend(.bp-icon); }
i.fa-grid { background-image:url('@{img-path}/icons/view_grid.png'); &:extend(.bp-icon); }
i.fa-heart { background-image:url('@{img-path}/icons/heart.png'); &:extend(.bp-icon); }
i.fa-home { background-image:url('@{img-path}/icons/house.png'); &:extend(.bp-icon); }
i.fa-inbox { background-image:url('@{img-path}/icons/box.png'); &:extend(.bp-icon); }
i.fa-journal { background-image:url('@{img-path}/icons/book.png'); &:extend(.bp-icon); }
i.fa-kit { background-image:url('@{img-path}/icons/briefcase.png'); &:extend(.bp-icon); }
i.fa-leaf,.fa-sitemap { background-image:url('@{img-path}/icons/treeCurrent.png'); &:extend(.bp-icon); }
i.fa-list { background-image:url('@{img-path}/icons/view_list.png'); &:extend(.bp-icon); }
i.fa-list-alt,i.fa-export { background-image:url('@{img-path}/icons/application_add.png'); &:extend(.bp-icon); }
i.fa-lock { background-image:url('@{img-path}/icons/lock.png'); &:extend(.bp-icon); }
i.fa-manuscript { background-image:url('@{img-path}/icons/script.png'); &:extend(.bp-icon); }
i.fa-map { background-image:url('@{img-path}/icons/map.png'); &:extend(.bp-icon); }
i.fa-microfilm { background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-minus-circle,i.fa-minus-sign { background-image:url('@{img-path}/icons/delete.png'); &:extend(.bp-icon); }
i.fa-mobile { background-image:url('@{img-path}/icons/phone.png'); &:extend(.bp-icon); }
i.fa-motionpicture { background-image:url('@{img-path}/icons/television.png'); &:extend(.bp-icon); }
i.fa-musicalscore { background-image:url('@{img-path}/icons/music.png'); &:extend(.bp-icon); }
i.fa-musicrecording { background-image:url('@{img-path}/icons/music.png'); &:extend(.bp-icon); }
i.fa-newspaper { background-image:url('@{img-path}/icons/newspaper.png'); &:extend(.bp-icon); }
i.fa-ok { background-image:url('@{img-path}/icons/tick.png'); &:extend(.bp-icon); }
i.fa-online { background-image:url('@{img-path}/icons/computer.png'); &:extend(.bp-icon); }
i.fa-painting { background-image:url('@{img-path}/icons/paintbrush.png'); &:extend(.bp-icon); }
i.fa-photo { background-image:url('@{img-path}/icons/photo.png'); &:extend(.bp-icon); }
i.fa-photonegative { background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-physicalobject { background-image:url('@{img-path}/icons/box.png'); &:extend(.bp-icon); }
i.fa-plus { background-image:url('@{img-path}/icons/add.png'); &:extend(.bp-icon); }
i.fa-plus-circle { background-image:url('@{img-path}/icons/add.png'); &:extend(.bp-icon); }
i.fa-print { background-image:url('@{img-path}/icons/printer.png'); &:extend(.bp-icon); }
i.fa-qrcode { background-image:url('@{img-path}/icons/qrcode.png'); &:extend(.bp-icon); }
i.fa-remove { background-image:url('@{img-path}/icons/delete.png'); &:extend(.bp-icon); }
i.fa-renew { background-image:url('@{img-path}/icons/renew.png'); &:extend(.bp-icon); }
i.fa-renew-all { background-image:url('@{img-path}/icons/renewAll.png'); &:extend(.bp-icon); }
i.fa-report { background-image:url('@{img-path}/icons/report.png'); &:extend(.bp-icon); }
i.fa-rss { background-image:url('@{img-path}/icons/feed.png'); &:extend(.bp-icon); }
i.fa-save { background-image:url('@{img-path}/icons/disk.png'); &:extend(.bp-icon); }
i.fa-search { background-image:url('@{img-path}/icons/magnifier.png'); &:extend(.bp-icon); }
i.fa-sensorimage { background-image:url('@{img-path}/icons/photo.png'); &:extend(.bp-icon); }
i.fa-serial { background-image:url('@{img-path}/icons/page_white_stack.png'); &:extend(.bp-icon); }
i.fa-shopping-cart { background-image:url('@{img-path}/icons/cart.png'); &:extend(.bp-icon); }
i.fa-sign-in { background-image:url('@{img-path}/icons/door_in.png'); &:extend(.bp-icon); }
i.fa-sign-out { background-image:url('@{img-path}/icons/door_out.png'); &:extend(.bp-icon); }
i.fa-slide { background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-software { background-image:url('@{img-path}/icons/drive_cd.png'); &:extend(.bp-icon); }
i.fa-soundcassette { background-image:url('@{img-path}/icons/sound.png'); &:extend(.bp-icon); }
i.fa-sounddisc { background-image:url('@{img-path}/icons/cd.png'); &:extend(.bp-icon); }
i.fa-soundrecording { background-image:url('@{img-path}/icons/sound.png'); &:extend(.bp-icon); }
i.fa-spinner { background-image:url('@{img-path}/icons/ajax_loading.gif'); &:extend(.bp-icon); }
i.fa-star { background-image:url('@{img-path}/icons/star.png'); &:extend(.bp-icon); }
i.fa-status-unknown { background-image:url('@{img-path}/icons/bullet_orange.png'); &:extend(.bp-icon); }
i.fa-suitcase { background-image:url('@{img-path}/icons/bookbag.png'); &:extend(.bp-icon); }
i.fa-tapecartridge { background-image:url('@{img-path}/icons/drive.png'); &:extend(.bp-icon); }
i.fa-tapecassette { background-image:url('@{img-path}/icons/drive.png'); &:extend(.bp-icon); }
i.fa-tapereel { background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-transparency { background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-trash,
i.fa-trash-o { background-image:url('@{img-path}/icons/bin.png'); &:extend(.bp-icon); }
i.fa-tree { background-image:url('@{img-path}/icons/treeCurrent.png'); &:extend(.bp-icon); }
i.fa-tree-muted { background-image:url('@{img-path}/icons/treeMuted.png'); &:extend(.bp-icon); }
i.fa-unknown { background-image:url('@{img-path}/icons/page_white.png'); &:extend(.bp-icon); }
i.fa-usd { background-image:url('@{img-path}/icons/money_dollar.png'); &:extend(.bp-icon); }
i.fa-user { background-image:url('@{img-path}/icons/user.png'); &:extend(.bp-icon); }
i.fa-video{background-image:url('@{img-path}/icons/television.png'); &:extend(.bp-icon); }
i.fa-videocartridge { background-image:url('@{img-path}/icons/television.png'); &:extend(.bp-icon); }
i.fa-videocassette{background-image:url('@{img-path}/icons/television.png'); &:extend(.bp-icon); }
i.fa-videodisc{background-image:url('@{img-path}/icons/cd.png'); &:extend(.bp-icon); }
i.fa-videoreel{background-image:url('@{img-path}/icons/film.png'); &:extend(.bp-icon); }
i.fa-visual { background-image:url('@{img-path}/icons/view_visual.png'); &:extend(.bp-icon); }

body.rtl {
  i.fa-external-link { background-image:url('@{img-path}/icons/link_go_rtl.png'); }
  i.fa-flag { background-image:url('@{img-path}/icons/flag_red_rtl.png'); }
}

#cart-empty-label i.fa-close { background-image:url('@{img-path}/icons/briefcase.png'); &:extend(.bp-icon); }