.searchHomeContent {
  float: none;
  margin: 1em auto;
  width: 90%;
}
#advSearchForm .search { margin: 0; }
.group .match { margin-top: .5em; }

/* --- Search form --- */
.searchForm_lookfor,
.searchForm_type { border-color: @brand-primary; }
.searchForm {
  margin: 6px 8px 8px;
  padding: 0;

  .clear-btn,
  .btn-primary,
  .form-control {
    font-size: 14px;
    height: 32px;
    padding: 5px 8px;
  }
  .clear-btn,
  .btn-primary[multiple],
  .form-control[multiple] { height: auto; }
  @media (min-width: 768px) {
    .search-query { width: 400px; }
  }
  .nav-tabs {
    border-bottom: 0;
    padding: 0 6px;
  }
  .nav-tabs li a {
    margin-bottom: -1px;
    border-bottom: 0;
    padding-bottom: 6px;
    &:hover {
      background: 0 0;
      border-color: transparent;
      text-decoration: underline;
    }
  }
  .nav-tabs li.active a,
  .nav-tabs li.active a:hover {
    background: #FFF;
    border-color: @brand-primary;
    border-bottom: 0;
    text-decoration: none;
    z-index: 5;
  }
}

.bulkActionButtons {
  padding: 1rem .5rem;
}
.top-facets,
.search-header {
  margin: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}
.top-facets { margin-top: .5rem; }
.top-facets .facet { padding: .25rem 0; }
.top-facets .facet a { vertical-align: middle; }
.search-header { margin-bottom: .5rem; }
.search-controls label {
  margin: 0;
  vertical-align: middle;
}
.search-stats { color: @gray; }

.result:nth-child(even) { background-color: @gray-lighter; }
.result.embedded .getFull.expanded {
  margin-top: -6px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.result > p {padding:0 1em;}
.result .label {
  display: inline-block;
  margin-bottom: 4px;
}
.result .long-view .tab-content {background: #fff;}
.result .media { margin: 0; }
.result .row { padding: 0; }
.result .savedLists {
  margin: 0 0 4px;
  padding: 4px 0 4px 6px;
}
.result .savedLists ul { padding-left: 18px; }

/* --- Advanced --- */
legend {
  margin-top: 2rem;
  margin-bottom: 0;
}
