body {background:#619144;font-size:12px}
body * {font-size:12px}
body a {color:#0066CC}
body a:hover {color:#0099FF}
body h1 {font-size:36px}
body h2 {font-size:30px}
body h3 {font-size:20px}
.container {background:#FFF;border-radius:5px;margin:18px auto;max-width:952px}
.main {padding:0 1%;width:98%}
@media (max-width:767px) {
  .main {width:98.2%}
}

/* --- Bootstrap MODS ---*/
[class^="icon-"]:before, [class*=" icon-"]:before {text-decoration:none}
.accordion-heading .accordion-toggle {font-size:14px;padding:2px 15px}
.centered-pills .nav-pills > li > a {padding-bottom:4px}
.container a:not(.btn,.text-error) {color:#06C}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus { background:#619144 }
.form-horizontal .controls {margin-left:165px}
.form-horizontal .control-group {margin-bottom:5px}
.form-horizontal input+.help-block {margin-top:5px}
.hero-unit {margin:-5px}
hr {margin:4px 0}
.label {font-size:11px}
mark {background:0;color:inherit;font-weight:bold}
.modal a {color:#08C}
.nav-list li.active > a {border-color:#C6D880;color:#FFF}
.nav-pills > li > a {border-radius:2px;margin:0}
.nav-tabs {margin:0}
.nav-tabs li a {margin:0 4px 0 0;padding:3px 5px}
.nav-tabs li.active a:hover,
.nav-tabs li.active a {color:#555}
p.lead {margin-bottom:10px}
.slider.slider-horizontal .slider-handle {background:#C6D880;border:1px solid #619144;margin-top:-6px}
.tab-container {margin:0}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(97,145,68,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(97,145,68,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(97,145,68,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(97,145,68,0.6);
}

.btn {padding:2px 8px}
.btn.btn-small {height:19px;line-height:12px;padding:3px 4px}
.btn.btn-link {border:0}
select {height:26px}
select, .btn:not(.btn-link){vertical-align:top}
.btn-link {color:#06C;text-shadow:none}
.btn.btn-primary {background:#C6D880;border:1px solid #619144;color:#111;text-shadow:none}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {background:#619144;color:#FFF}
.controls select {margin-top:4px}

/* --- HEADER --- */
#header {border-bottom:1px solid #DDD;color:#000;padding:8px 12px 6px 10px}
.header-right {padding-top:10px}
#langForm,#themeForm,#langForm .control-group,#themeForm .control-group {margin:0}
#langForm_mylang,#themeForm_ui {height:20px;padding:0;width:100px}

/* --- SEARCHBOX --- */
.searchbox {border-bottom:1px solid #DDD;margin:0;padding:3px 3px 1px 1em}
.searchbox .navbar {height:auto;margin:0}
.searchbox .nav-tabs {border:0;margin:0 0 0 4px}
.searchbox .nav-tabs li a {padding:0 5px}
.searchbox .nav-tabs li a.advanced {border:0;font-size:12px}
.searchbox .nav-tabs li a:hover {background:none;border-color:#C6D880}
.searchbox .nav-tabs li.active a:hover,
.searchbox .nav-tabs li.active a {border-color:#619144;border-bottom-color:#FFF}
#searchForm {margin-bottom:2px;vertical-align:bottom}
#searchForm .btn {font-size:14px;height:26px;font-size:14px;margin-top:0;padding:2px 6px;vertical-align:middle}
#searchForm .btn-link {font-size:12px;height:18px}
#searchForm .btn i {font-size:14px}
#searchForm_lookfor {border-radius:5px;font-size:14px;height:22px;margin:0;padding:1px 8px}
#searchForm_type {font-size:14px;height:26px;margin-top:0;padding:2px 4px}

/* --- BREADCRUMBS --- */
.breadcrumb {background:#FFF;border-bottom:1px solid #DDD;border-radius:0;margin:0 0 3px 0;padding:6px 12px}
.breadcrumb li {color:#888;font-size:12px;text-shadow:none}
.breadcrumb .active {color:#000}
.breadcrumb span.divider {color:#888}

/* --- SIDEBAR --- */
.row-fluid .span3.sidebar {margin-left:1%;width:24%}
.sidebar h4 {border-bottom:2px solid #DDD;font-size:14px;font-weight:normal;margin-bottom:4px;margin-right:0}
.sidebar .nav-list .divider {display:none}
.sidebar .nav-list li {border-bottom:1px solid #DDD;margin:0;padding:0}
.sidebar .nav-list li .icon-ok {background-repeat:no-repeat;padding-top:3px}
.sidebar .nav-list li a {margin:0;padding:3px}
.sidebar .nav-list li a:hover {background:none}
.sidebar .nav-list li span.main {width:auto}
.sidebar .nav-list li span.pull-right {display:block;text-align:center;min-width:16px}
.sidebar .nav-list li.active a i.icon-remove {background:url('../images/icons/delete.png')}
.sidebar .nav-list li.active a {background:#FFA500;text-shadow:none}
.sidebar .nav-list li.active a:hover {background:#FFA500}
.sidebar .nav-list li.applied [class*="icon"] {color:transparent;margin-top:1px}
.sidebar .nav-list li.applied {padding-left:3px}
.sidebar .nav-list li.nav-header {background:#EEE;border-color:#DDD;min-height:1px;padding:2px 4px}
.sidebar .nav-list {font-size:12px;margin-bottom:6px;padding:0 0 0 8px}
.sidebar .small {margin-top:10px}
#publishDateFilter {margin:6px 0}
#publishDateFilter .btn {margin-top:.5em;padding:1px 12px}
#publishDateFilter input[type="text"] {border-color:#CCC;padding:0}
#publishDateFilter input[type="text"]:focus {border-color:#999;box-shadow:none}
#publishDateFilter .slider-handle {background:#CCC;border:1px solid #AAA}
.unstyled li {margin-bottom:6px}
.unstyled li a {text-decoration:underline}
#modal .unstyled li {margin-bottom:0}

.filters li a {background:#FFA500;color:#FFF;display:block;padding:2px 0;text-decoration:none;width:100%}

.slider.slider-horizontal .slider-track {margin-left:5%;width:89%}
.filters li a:hover {color:#FFF}
.filters li a i {display:inline-block;margin:2px 0 0 3px;vertical-align:top}

.search-controls [class^=icon-] {background-position:0 0;background-repeat:no-repeat;height:14px;margin-top:1px;width:14px}
.search-controls .icon-list {background:url('../images/view_list.png')}
.search-controls .icon-grid {background:url('../images/view_grid.png')}
.search-controls .pull-right > [class^=icon-] {border:1px solid #FFA500}

/* --- MAIN --- */
.centered-pills {border-bottom:1px solid #DDD;font-size:12px;margin-right:14px}
.nav-pills {margin:3px 0 0 0}

/* --- HOME --- */
.searchHomeContent {margin:2em auto;width:83%}
.searchHomeContent .hero-unit {background:#E6EFC2;border:2px solid #C6D880;border-radius:5px}
.searchHomeContent .nav-tabs {border:0}
.searchHomeContent .nav-tabs li a {border:1px solid transparent;border-bottom:0;font-size:14px}
.searchHomeContent .nav-tabs li a:hover,
.searchHomeContent .nav-tabs>li.active>a {border-bottom:0;border-color:#C6D880}
.searchHomeContent .navbar {background:#FFF;border:1px solid #C6D880;height:auto;margin:0;padding:8px 6px 6px 6px}
.searchHomeContent #searchForm {margin-bottom:2px}
.searchHomeContent #searchForm .btn {height:30px;padding:2px 8px}
.searchHomeContent #searchForm .btn-link {font-size:14px;height:23px;vertical-align:bottom}
.searchHomeContent #searchForm_lookfor {height:30px}
.searchHomeContent #searchForm_type {height:30px}
.searchHomeContent .unstyled li {margin-bottom:0}
@media (max-width: 979px) {
  #searchForm_lookfor { display:block;margin-bottom:3px;width:100%; }
  #searchForm_type { width:50%; }
}
@media (max-width: 600px) {
  #searchForm_type { display:block;margin-bottom:3px;width:100%; }
}

/* --- SEARCH --- */
.bulkActionButtons {border-bottom:1px solid #DDD;margin-top:6px;padding-bottom:6px}
[name="bulkActionForm"] .btn-link { margin:1px 0;padding:2px }
.limitSelect form {margin:0}
.result {border:0;padding:3px 0}
.result:nth-child(odd) {background:#EEE}
.grid .result {background:none}
.result>.checkbox {font-weight:bold;margin:2px 0 2px 1%;max-width:6%}
.result>.checkbox input[type="checkbox"] {margin:3px auto}
.result .left {text-align:center}
.result .middle {margin-left:1%;width:52%}
.result .right {margin-left:0;width:16%}
@media (max-width: 600px) {.result .middle {margin-left:auto;width:75%;}}
.result .savedLists {margin:2px 0;padding:6px}
.result .savedLists ul {margin-bottom:0}
.search-controls {padding:4px 0 4px 4px}
.search-controls form {margin-bottom:0}
.search-controls .help-inline {margin:0;vertical-align:baseline}
.search-controls .pull-right div {margin:5px 0;line-height:15px}
.span9>.noprint>.help-block {margin-bottom:0}
.result .img-polaroid {margin-left:2px;max-width:96px}
.top-row [class*="span"] {min-height:1px;padding:0 3px}

/* --- ADVANCED SEARCH --- */
.group .search {margin:1px 0}
.checkboxFilter {border:1px solid #CCC;display:inline-table;margin-bottom:10px;padding:10px;width:auto}
.checkboxFilter label {display:table}
.sidebar .checkboxFilter {margin-left:8px;padding:0;width:100%;}
.sidebar .checkboxFilter .checkbox {margin:6px}

/* -- MY RESEARCH -- */
.bulkActionForm .btn-link {padding:1px 2px}
#sort_options_1 {height:26px;width:100px}

/* --- VUDL --- */
.btn.grid-btn {height:14px;padding:2px 6px 5px 6px}
.btn.grid-btn i {font-size:14px}
#download-button {background:linear-gradient(to bottom, #D7E991 0%,#B5C770 100%);padding:10px 8px 6px 16px}
#download-button:hover {background:linear-gradient(to bottom, #72A255 0%,#508033 100%);text-shadow:0 1px 0 rgba(0,0,0,.5)}
#download-button:active {background:linear-gradient(to bottom, #508033 0%,#72A255 100%)}
.progress-striped .bar {background-color:#619144}
.inspector_container {margin-top:6px}
.page-link,.page-grid {color:#888;padding:5px}
#side-nav .accordion-inner {padding:4px}
#side-nav .page-link.selected {background:#D7E991}
.page-link.active,.page-grid.active {color:#000}
.page-link.loading,.page-grid.loading {color:#000}
.siblings-form {margin:3px auto}
.table.details {font-size:10px;border-bottom:1px solid #DDD}
#trail {height:26px}

/* --- ChoiceAuth --- */
#authcontainer .authmethod0 {padding-left:25px}
#authcontainer .authmethod1 {border:1px solid #DDD;border-width:0 0 0 1px;margin-left:0;padding-left:25px}
.modal #authcontainer .authmethod0,
.modal #authcontainer .authmethod1 {border:0;float:none;padding:0 0 10px 0;margin:0;width:auto}
#authcontainer .control-label {width:80px}
#authcontainer .controls {margin-left:90px}

/* --- Captcha --- */
#custom_recaptcha_widget { display:table; }
#custom_recaptcha_widget embed { display:none; }
#custom_recaptcha_widget #recaptcha_image { border:1px solid #000;padding:6px;margin:1em 0; }
#custom_recaptcha_widget #recaptcha_response_field { margin:0 .5em }
#custom_recaptcha_widget > div > a { display:inline-block;float:left;margin:5px 10px 5px 0; }

/* --- Random Items (results view) --- */

ul.random {
    list-style: none;
    padding: 0;
    margin: 0px;
    text-align:justified;
}

ul.random li {
    padding-bottom:10px;
}

ul.random li img {
    margin: 0 auto 1em auto;
}

ul.random.image, ul.random.mixed {
    text-align: center;
}

ul.random.image li img {
    margin: 0 auto;
}
