.icon-asterisk,
.icon-book,
.icon-bookmark,
.icon-edit,
.icon-envelope,
.icon-envelope-alt,
.icon-heart,
.icon-inbox,
.icon-leaf,
.icon-list-alt,
.icon-minus-sign,
.icon-ok,
.icon-phone-sign,
.icon-plus-sign,
.icon-remove,
.icon-rss,
.icon-shopping-cart,
.icon-signin,
.icon-signout,
.icon-spinner,
.icon-trash,
.icon-user {
  background-position:center top;
  background-repeat:no-repeat;
  background-size:16px 16px;
  color:transparent;
  content:'';
  display:inline-block;
  height:16px;
  vertical-align:top;
  width:16px;
}
.nav-pills [class^="icon-"] {
  background-position:center top;
  background-repeat:no-repeat;
  background-size:16px 16px;
  content:'';
  display:inline-block;
  height:16px;
  width:16px
}
.small .icon-asterisk,
.small .icon-book,
.small .icon-bookmark,
.small .icon-edit,
.small .icon-envelope,
.small .icon-envelope-alt,
.small .icon-heart,
.small .icon-inbox,
.small .icon-leaf,
.small .icon-list-alt,
.small .icon-minus-sign,
.small .icon-ok,
.small .icon-phone-sign,
.small .icon-plus-sign,
.small .icon-remove,
.small .icon-rss,
.small .icon-shopping-cart,
.small .icon-signin,
.small .icon-signout,
.small .icon-spinner,
.small .icon-trash,
.small .icon-user {
  background-size:13px 13px;
  height:13px;
  width:13px;
}
.icon-asterisk {background:url('../images/icons/list.png')}
.icon-book {background:url('../images/icons/book.png')}
.icon-bookmark {background:url('../images/icons/bookmark_add.png')}
.icon-edit {background:url('../images/icons/edit.png')}
.icon-envelope,
.icon-envelope-alt {background:url('../images/icons/email.png')}
.icon-heart {background:url('../images/icons/heart.png')}
.icon-inbox {background:url('../images/icons/box.png')}
.icon-leaf {background:url('../images/icons/treeCurrent.png')}
.icon-list-alt {background:url('../images/icons/application_add.png')}
.icon-minus-sign {background:url('../images/icons/delete.png')}
.icon-ok {background:url('../images/icons/tick.png')}
.icon-phone-sign {background:url('../images/icons/phone.png')}
.icon-plus-sign {background:url('../images/icons/add.png')}
.icon-remove {background:url('../images/icons/delete.png')}
.icon-rss {background:url('../images/icons/feed.png')}
.icon-shopping-cart {background:url('../images/icons/cart.png')}
.icon-signin {background:url('../images/icons/door_in.png')}
.icon-signout {background:url('../images/icons/door_out.png')}
.icon-spinner {background:url('../images/icons/ajax_loading.gif')}
.icon-trash {background:url('../images/icons/bin.gif')}
.icon-user {background:url('../images/icons/user.png')}