body {background:#619144;font-size:12px}
body * {font-size:12px}
body a {color:#0066CC}
body a:hover {color:#0099FF}
.container {background:#FFF;border-radius:5px;margin-top:18px;max-width:950px}
.main {padding:6px}

/* --- Bootstrap MODS ---*/
.accordion-heading .accordion-toggle {padding:4px 15px}
.btn-link {color:#06C;text-shadow:none}
.container a:not(.btn,.text-error) {color:#06C}
.hero-unit {margin:-5px}
hr {margin:4px 0}
input[type="text"] {border-color:#C6D880;font-size:12px}
input[type="text"]:focus {border-color:rgb(97,145,68);box-shadow:inset 0px 1px 2px rgba(0,0,0,.14)}
.label {font-size:11px}
.modal a {color:#08C}
.nav-list li.active > a {border-color:#C6D880;color:#FFF}
.nav-pills > li > a {padding-bottom:4px}
.nav-tabs {margin:0}
.nav-tabs li a {margin:2px 4px 0 0;padding:3px 5px}
.nav-tabs li.active a:hover,
.nav-tabs li.active a {color:#555}
.tab-container {margin:0}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {height:24px;padding:1px 4px}
select {border:1px solid #7E7E7E;border-radius:2px;vertical-align:top}

/* --- HEADER --- */
.header {border-bottom:1px solid #DDD;color:#000;padding:7px 9px}
#langForm {margin:0}
#langForm_mylang {height:20px;padding:0;width:100px}

/* --- SEARCHBOX --- */
.searchbox {border-bottom:1px solid #DDD;margin:0;padding:3px 3px 1px 1em}
.searchbox .nav-tabs {border:0;margin:0 0 0 4px}
.searchbox .nav-tabs li a.advanced {border:0;font-size:12px}
.searchbox .nav-tabs li a:hover {background:rgba(255,255,255,.3);border-color:#C6D880}
.searchbox .nav-tabs li.active a:hover,
.searchbox .nav-tabs li.active a {border-color:#C6D880;border-bottom-color:#FFF}
#searchForm {margin-bottom:2px}

/* --- BREADCRUMBS --- */
.breadcrumb {background:#FFF;border-bottom:1px solid #DDD;border-radius:0;margin:0;padding:6px 6px 6px 1em}
.breadcrumb li {color:#888;font-size:12px;text-shadow:none}
.breadcrumb .active {color:#000}
.breadcrumb span.divider {color:#888}

/* --- SIDEGROUP --- */
.row-fluid .span3.sidebar {margin-left:1.5%}
.sidegroup {font-size:12px}
.sidegroup dd {border-bottom:1px solid #DDD;margin-left:0;padding:0 6px}
.sidegroup dt {background:#EEE;padding:2px 4px}
.sidegroup h4 {border-bottom:2px solid #DDD;font-size:14px;font-weight:normal;margin-bottom:4px}
#publishDateFilter input[type="text"] {border-color:#CCC;margin-top:.5em;padding:0}
#publishDateFilter input[type="text"]:focus {border-color:#999;box-shadow:none}
#publishDateFilter .slider-handle {background:#CCC;border:1px solid #AAA}
.unstyled li {margin-bottom:6px}
.unstyled li a {text-decoration:underline}

.filters li a {background:#FFA500;color:#FFF;display:block;padding:2px 0;text-decoration:none;width:100%}
.filters li a:hover {color:#FFF}
.filters li a i {display:inline-block;margin:2px 0 0 3px;vertical-align:top}
/* --- MAIN --- */
.centered-pills {border-bottom:1px solid #DDD;font-size:12px}
.nav-pills {margin:0}

/* --- HOME --- */
.searchHomeContent {margin:2em auto;width:80%}
.searchHomeContent .hero-unit {background:#E6EFC2;border:2px solid #C6D880;border-radius:5px}
.searchHomeContent .nav-tabs {border:0}

/* --- SEARCH --- */
.result {padding:6px 2px}
.result:nth-child(odd) {background:#EEE}