body {background:#619144}
body a {color:#6AF}
.container {background:#FFF;border:1px solid #DDD;border-radius:5px;margin-top:18px;max-width:950px}
h1,h2,h3,h4,h5,h6 {font-family:Times New Roman, serif}

/* --- Bootstrap MODS ---*/
.accordion-heading .accordion-toggle {padding:4px 15px}
.btn-link {color:#06C;text-shadow:none}
.container a:not(.btn) {color:#06C}
.hero-unit {margin:-5px}
input[type="text"] {border-color:#C6D880}
input[type="text"]:focus {border-color:rgb(97,145,68);box-shadow:0px 0px 8px rgba(97,145,68,0.6)}
.modal a {color:#08C}
.nav-list li.active > a {border-color:#C6D880;color:#FFF}
.nav-tabs {margin:0}
.nav-tabs li a {margin:2px 4px 0 0;padding:3px 5px}
.nav-tabs li.active a:hover,
.nav-tabs li.active a {color:#555}
.tab-container {margin:0}

/* --- HEADER --- */
.header {border-bottom:1px solid #DDD;color:#000;padding:7px 9px}
#langForm {margin:0}
#langForm_mylang {height:20px;padding:0;width:100px}

/* --- SEARCHBOX --- */
.searchbox {border-bottom:1px solid #DDD;margin:0;padding:3px 3px 3px 1em}
.searchbox .nav-tabs {border:0;margin:0 0 0 4px}
.searchbox .nav-tabs li a.advanced {border:0;font-size:12px}
.searchbox .nav-tabs li a:hover {background:rgba(255,255,255,.3);border-color:#C6D880}
.searchbox .nav-tabs li.active a:hover,
.searchbox .nav-tabs li.active a {border-color:#C6D880;border-bottom-color:#FFF}
#searchForm {margin-bottom:2px}

/* --- BREADCRUMBS --- */
.breadcrumb {background:#FFF;border-bottom:1px solid #DDD;border-radius:0;margin:0;padding:6px 6px 6px 1em}
.breadcrumb li {color:#888;font-size:12px;text-shadow:none}
.breadcrumb .active {color:#000}
.breadcrumb span.divider {color:#888}

/* --- SIDEGROUP --- */
.sidegroup {font-size:12px}
.sidegroup dd {border-bottom:1px solid #DDD;margin-left:0;padding:0 6px}
.sidegroup dt {background:#EEE;padding:2px 4px}
.sidegroup h4 {border-bottom:2px solid #DDD;font-size:14px;font-weight:normal;margin-bottom:4px}
#publishDateFilter input[type="text"] {border-color:#CCC;border-radius:0;display:inline-block;height:20px;padding:0}
#publishDateFilter input[type="text"]:focus {box-shadow:none}
#publishDateFilter .slider-handle {background:#CCC;border:1px solid #AAA}
.unstyled li {margin-bottom:6px}
.unstyled li a {text-decoration:underline}

/* --- MAIN --- */
.centered-pills {border-bottom:1px solid #DDD;font-size:12px}
.nav-pills {margin:0}

/* --- HOME --- */
.searchHome .content {
  background:#E6EFC2;
  border:2px solid #C6D880;
  border-radius:5px;
  margin:2em 0;
  padding:2em;
}
.searchHome .content .nav-tabs li a {padding:4px 8px}
.searchHome .browse .lead {border-bottom:1px solid #619144;font-size:17px;margin:0 0 6px 0}
.searchHome .browse .unstyled {margin:0}
.searchHome .browse .unstyled li a {font-size:12px;line-height:16px}