.record {
  .media-left,
  .media-right {
    width: 25%;
    @media(max-width: @screen-sm) {
      display: block;
      width: 100%;
    }
  }
}


  .record-uniform-titles {
  font-size: 1.05em;
  margin: 0 0 3px;
}
.record-authors, .record-title-alt-script {
  .date-and-year();
}
.record-details {
  & th {
    width: 30%;
  }
}
.record-alt-titles {
  color: @gray-light;
}
.summary {
  color: @gray-light;
  font-size: 1.05em;
  margin-bottom: 10px;
}
.show-details-button, .hide-details-button {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding-left: 0;
  background: @body-bg;
  color: @link-color;
  width: 100%;
  background-color: whitesmoke;
  text-transform: uppercase;
  font-size: .9em;
  &:hover {
    color: @link-color;
  }
}

.show-details
.record-details {
  margin: 10px 0px;
}
.physical-details {
  color: @gray-light;
}
.access-rights {
  color: @gray-light;
  margin-top: 5px;
  padding-top: 5px;
}
.back-to-search a {
  margin: @line-height-computed 0;
  display: block;
  font-size: 1.1em;
  & i {
    vertical-align: text-top;
    font-size: 1.2em;
  }
  & .btn {
    margin-right: 10px;
  }
  .back-to-search-text {
    vertical-align: middle;
  }
}
.dataTables_wrapper {
  width: 100%;
}
.part-authors-padded {
  padding-left: 10px;
}
.rating-symbol-background {
  font-weight: bold;
  margin-right: 1px;
  color: @gray-light;
}
.record .rating-average {
  margin-top: 10px;
  text-align: center;
  .count {
    display: inline-block;
    color: @gray-light;
    &:hover {
      cursor: pointer;
    }
  }
  & .stars {
    display: inline-block;
    &:hover, & .rating-symbol-background:hover {
      cursor: pointer;
    }
  }
  @media(max-width:@screen-sm-max) {
    font-size: .8em;
    & .stars {
      margin-right: -1px;
    }
  }
}
.rating-holder {
  margin-bottom: 5px;
  .info {
    line-height: 2em;
    @media(max-width:@screen-sm-max) {
      line-height: 2.4em;
    }
  }
  .rating-symbol {
    margin-right: 3px;
    font-size: 1.4em;
    @media(max-width:@screen-sm-max) {
      font-size: 1.8em;
    }
  }
}

@media(max-width:@screen-xs-max) {
  .cover-wrapper {
    text-align: center;
  }
  .template-name-view .record .record-title {
    margin-top: 10px;
  }
}

.record-view-header {
  .search-tools{
    display: flex;
    .record-back{
      flex: 1;
    }
  }
}
.record {
  .search-tools {
    @media (min-width: @screen-sm) {
      display: flex;
      flex-direction: row-reverse;
      text-align: right;
      .paginationSimple {
        flex: 1;
        text-align: left;
      }
    }
    @media (max-width: @screen-sm) {
      text-align: center;
    }
  }
}
