;
; VuFind Configuration
;

; Inherit main configuration
[Parent_Config]
relative_path = ../finna/config.ini
override_full_sections = "Languages,AlphaBrowse_Types,SearchTabs"

; This section will need to be customized for your installation
[Site]
email =

[Index]
;url =

[Mail]
default_from = ""

[Shibboleth]
;userattribute_1 = "Shib-Identity-Provider"
;userattribute_value_1 = "https:\\/\\/login\\.xyz\\.fi\\/idp\\/shibboleth"

;provider_id = https://

[OpenURL]
url = "http://"

;[EZproxy]
;host = http://proxy.myuniversity.edu

[Languages]
en-gb = "English"
fi = "Finnish"
;sv = "Swedish"

[Feedback]
recipient_email = ""
recipient_name = ""

[Security]
HMACkey = mySuperSecretValue

[Piwik]
site_id =
token_auth =

[bX]
token =

[Logging]
;file = /var/log/vufind2.log:alert-5,error-5,debug-5,notice
