; Inherit main configuration
[Parent_Config]
relative_path = ../finna/EDS.ini
override_full_sections = "SideRecommendations,TopRecommendations,SpecialFacets,Facets,FacetsTop,Advanced_Facet_Settings,CheckboxFacets,Basic_Searches,Advanced_Searches,Advanced_Operators,Sorting,Institutions"

; IMPORTANT NOTE: By default, VuFind will block access to certain EDS content
; unless it knows which users are authorized (by IP, etc.). Please configure the
; access.EDSExtendedResults permission in permissions.ini to allow users to
; see this content. You are responsible for complying with your license.


; This section represents the EBSCO EDS API Account credentials.
; If using IP Authentication, then the user_id and password should remain blank
; and ip_auth should be set to true.
[EBSCO_Account]
; IP authentication for the API
ip_auth = false
user_name = "USERNAME"
password  = "PASSWORD"
profile   = "PROFILE"
organization_id = "VuFind from MyUniversity"

; This section controls what happens when a record title in a search result list
; is clicked. VuFind can either embed the full result directly in the list using
; AJAX or can display it at its own separate URL as a full HTML page.
; full - separate page (default)
; tabs - embedded using tabs (see record/tabs.phtml)
; accordion - embedded using an accordion (see record/accordion.phtml)
; NOTE: To turn this feature on for favorite lists, see the lists_view setting
; in the [Social] section of config.ini.
; NOTE: This feature is incompatible with SyndeticsPlus content; please use
;       regular Syndetics if necessary.
[List]
view=full
