; Inherit main configuration
[Parent_Config]
relative_path = ../finna/facets.ini
override_full_sections = "Results,ResultsTop,SpecialFacets,CheckboxFacets,Results_Settings,Author,Advanced,Advanced_Settings,HomePage,HomePage_Settings,"

; Add any overrides below