[Parent_Config]
relative_path = "../finna/MultiBackend.ini"
override_full_sections = "Login"

; Add any overrides below

[Login]
default_driver = jykdok
drivers[] = jykdok
drivers[] = alli
drivers[] = tamcat
drivers[] = helka
drivers[] = leevi
drivers[] = tyrni
;drivers[] = vaski
drivers[] = testi
