[Parent_Config]
relative_path = ../finna/OrganisationInfo.ini

[LinkedEvents]
; Publisher id.
; Omit or set to an empty value to not limit events to a publisher.
;publisher_id = 

; Uncomment to enable super events in the results.
; Used for Legacy compatibility
;include_super_events = true

; Default parameters used to fetch results from linked events api
; Default sort used by finna
default_params[sort] = start_time
; Default parameter for including super events. Will override include_super_events
; default_params[super_event_type] = none
; Include sub events from super events with type: umbrella
; default_params[super_event_type] = none,umbrella
default_params[include] = location
