[Parent_Config]
relative_path = "../finna/permissions.ini"
override_full_sections = ""

; Add any overrides below

; Access to Finna API
;[finna.api]
;require = ANY
;role = guest
;ipRange[] = 127.0.0.1
;ipRange[] = ::1
;permission[] = access.api.Search
;permission[] = access.api.Record

; Acess to Staff UI Link
;[access.finna.StaffUiLink]
;require = ANY
;ipRange[] = 127.0.0.1
;ipRange[] = ::1
;role = staff
;permission[] = access.finna.StaffUiLink
