;; Mandatory settings:

; active = [0|1]
; type = "[list|carousel|carousel-vertical|grid]"

; url[language code|*] = "<url>" Feed URL, for example:
;    Absolute URL: http://blogs.helsinki.fi/scriptaselecta/feed/
;    Relative URL: Search/Results?lookfor=finna&type=AllFields&view=rss&lng=fi
;    Local file:   themes/custom/templates/rss/feed.xml
;
; ...OR when an ILS list is used:
;
; ilsList = "[new|mostrequested|mostborrowed|lastreturned]" -- ILS list type, overrides 'url'
; ilsId = "<ILS driver>"


;; Optional settings:

; items = <items> Number of newest items to read from the feed. By default all items are shown.
; visualItems = <visualItems> Number of items to show in carousel/list. Only relevant if
; linkTo = "content-page" is set, to limit the number of items displayed in the
; carousel/list while displaying up to <items> items in the content page. If not set,
; up to <items> items are displayed. In grid visualItems determines the amount of items
; displayed before a "more" button. "More" button displays up to <items> items in the grid.
; title = "[rss|<translation-key>]" Feed title:
;    'rss' = Use <title> element from feed
;    '<translation-key>' = Use local translation
; description = "Feed description|<translation-key>"
;    A free-form description text that may include HTML, or a translation key. Also
;    the translation may include HTML. Description is displayed below the title.

; linkTarget  = "[_blank|_self|_parent|_top|framename]" Link target for item links.

; Item link label. If not defined, the whole element is clickable.

; Same link text for desktops and touch devices:
; linkText = "<translation-key>"

; Different link texts for desktops and touch devices:
; linkText[desktop] = "<translation-key>"
; linkText[touch] = = "<translation-key>"

; When the item is clicked show content:encoded tag in a modal or on a content page.
; linkTo = "content-page|modal"

; Filters for searching item content:encoded tag contents using regular expressions
; (htmlContentSearch) and replacing matches with strings (htmlContentReplace).
; Note: filtering is used only for feed content that is shown in a modal or on a content page
; (see: linkTo).
;
; htmlContentSearch[] = 'search-1'
; htmlContentReplace[] = 'replace-1'
; htmlContentSearch[] = 'search-2'
; htmlContentReplace[] = 'replace-2'
;
; Example: remove links with a specific attribute
; htmlContentSearch[] = '<a rel="nofollow".*?<\/a>'
; htmlContentReplace[] = ''
;
; Item date format on content page or modal
; contentDateFormat = "j.n.Y"
;
; Full date format on content page or modal
; fullDateFormat = "j.n.Y"

; Content elements to hide (by default all elements are shown):

; content[title] = 0
; content[text] = 0
; content[link] = 0
; content[image] = 0
; content[date] = 0
; content[contentDate] = 0
; content[xcal] = 0

;; Optional list settings:

; moreLink = [0|1] Display a "more" link.
; dateFormat = "<format>" Item date format ("j.n." by default, see: http://php.net/manual/en/function.date.php).

;; Optional carousel settings:

; titlePosition = "bottom" Display item title below image.
; height = [pixels] Carousel height
; autoplay = [false|milliseconds] Autoplay slide change interval (autoplay is off by default).
; dots = [0|1] Display current slide indicator (default 1).



; Number of visible items in the carousel

; itemsPerPage[desktop] = 4
; itemsPerPage[desktop-small] = 4
; itemsPerPage[tablet] = 2
; itemsPerPage[mobile] = 1

; Number of items to scroll, defaults to itemsPerPage

; scrolledItems[desktop] = 3
; scrolledItems[desktop-small] = 2
; scrolledItems[tablet] = 2
; scrolledItems[mobile] = 1

; Elements to hide, by default all elements are shown

; content[title] = 0
; content[text] = 0
; content[link] = 0
; content[image] = 0
; content[date] = 0


[carousel]
type = "carousel"
active = 1
url[*]= "https://musasto.wordpress.com/feed/"
title = 'rss'
height = 350

itemsPerPage[desktop] = 4
itemsPerPage[desktop-small] = 3
itemsPerPage[tablet] = 2
itemsPerPage[mobile] = 1

[carousel-small]
type = "carousel"
active = 1
url[*]= "https://musasto.wordpress.com/feed/"
title = 'rss'
height = 150
titlePosition = "bottom"

itemsPerPage[desktop] = 8
itemsPerPage[desktop-small] = 8
itemsPerPage[tablet] = 6
itemsPerPage[mobile] = 2

scrolledItems[desktop] = 8
scrolledItems[desktop-small] = 8
scrolledItems[tablet] = 6
scrolledItems[mobile] = 2

[carousel-vertical]
type = "carousel-vertical"
active = 1
url[*]= "https://musasto.wordpress.com/feed/"
title = 'rss'
height = 200
content[text] = 0

itemsPerPage[desktop] = 2
itemsPerPage[desktop-small] = 2
itemsPerPage[tablet] = 2
itemsPerPage[mobile] = 1

scrolledItems[desktop] = 2
scrolledItems[desktop-small] = 2
scrolledItems[tablet] = 2
scrolledItems[mobile] = 1

[news]
active = 1
url[*]= "https://musasto.wordpress.com/feed/"
type = list
title = "rss"
content[text] = 0
content[image] = 0
linkTarget  = "_blank"

