---
# Override any of the default search settings in local/config/finna/searchspecs.yaml 
# by copying the full section from it to this file and modifying it here. 
# Below is a commented-out example.

#ISN:
#  DismaxFields:
#    - isbn
#    - issn
#    - other_ids_str_mv
#  QueryFields:
#    issn:
#      - [and, 100]
#      - [or, ~]
#    isbn:
#      - [and, 100]
#      - [or, ~]
#    other_ids_str_mv:
#      - [and, 100]
#      - [or, ~]
