/* Bootstrap variable changes */
@brand-primary: @dark-blue;

@btn-default-bg:              @light-gray;
@btn-default-color:           @near-black;
@btn-primary-bg:              @dark-blue;

@input-border-radius:         .25rem;

@autocomplete-hover-bg:     @lightest-blue;
@dropdown-link-hover-bg:    @lightest-blue;
@dropdown-link-hover-color: @black;
@table-bg-hover:            @lightest-blue;

/* Common element changes */
h1, h2, h3, h4 { margin: 1rem 0; }

/* Bootstrap class overrides */
.btn {
  height: 34px;
  border: 0;
  border-radius: .25rem;
}
.btn:hover,
.btn:focus { color: @white; }

.form-control,
.search select.form-control {
  border: 1px solid @light-silver;
  box-shadow: none;
}
.form-control:focus {
  padding-bottom: (@padding-base-vertical - 3px);
  border-bottom: 3px solid @gold;
  box-shadow: none;
}
select.form-control {
  padding-bottom: @padding-base-vertical;
  border: 1px solid @light-silver;
}
.alert {
  border: 0;
  color: @black;
}
.alert-info,
.alert-info:hover {
  color: @navy;
  background-color: @lightest-blue;
  a { color: @blue; }
}
.alert-success,
.alert-success:hover {
  color: @dark-green;
  background-color: @light-green;
  a { color: @green; }
}
.alert-danger,
.alert-danger:hover {
  color: @white;
  background-color: @red;
  a { color: @washed-red; }
}
