/* Border radius changes */
@list-group-border-radius: 0;
@border-radius-large: 0; /* modal */

/* Common element changes */
h1, h2, h3, h4 { margin: 1rem 0; }
table { font-size: @reduced-font-size; }

/* Bootstrap class overrides */

.btn {
  height: 34px;
  border-radius: .25rem;
  border-color: @silver;
}
.btn-default:hover,
.btn-default:focus {
  color: @white;
  border-color: transparent;
}
.btn-link,
.btn-primary { border-color: transparent; }
.btn-primary:hover { border-color: @brand-primary; }
.btn-link { color: @brand-primary; }

.form-control { box-shadow: none; }
.form-control:hover,
.form-control:focus { border-color: @brand-primary; }
.form-control:focus {
  padding-bottom: (@padding-base-vertical - 3px);
  border-bottom: 3px solid @brand-secondary;
  box-shadow: none;
}
select.form-control {
  padding-bottom: @padding-base-vertical;
  border: 1px solid @light-silver;
}

.breadcrumb a { color: @dark-gray; }
.breadcrumb .active { color: @near-black; }

.nav > li > a { color: @brand-primary; }
.navbar-collapse,
.navbar-form { box-shadow: none; }

.alert {
  border: 0;
  color: @black;
}
.alert-info,
.alert-info:hover {
  color: @navy;
  background-color: @lightest-blue;
  a { color: @blue; }
}
.alert-success,
.alert-success:hover {
  color: @dark-green;
  background-color: @light-green;
  a { color: @green; }
}
.alert-danger,
.alert-danger:hover {
  color: @white;
  background-color: @red;
  a { color: @washed-red; }
}

.label { font-weight: 400; }

@pagination-border: transparent;
@pagination-hover-border: transparent;
.pagination {
  &:extend(.clearfix all);
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 13px;
  font-weight: 500;
  line-height: 1rem;

  &.page-prev,
  &.page-next {
    font-size: 1rem;
    font-weight: bold;
    color: @brand-primary;
  }
}
