@mixin plugin-sidebar-filter-hide-checkbox {
  // improve sidebar for tablet devices

  // *****************************************************************
  // ************ General ********************************************
  // *****************************************************************

  .sidebar {
    .facet {
      &.active {
        .text {
          // reduce padding for active filters on tablet devices #22377
          @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
            padding-left: $sidebar-facet-active-text-inside-padding-left-sm;
          }
        }
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        // cut text in sidebar for tablet devices #22377
        .text {
          overflow: hidden;
          text-overflow: ellipsis;

          // hide checkboxes in sidebar for tablet devices #22377
          // Also hide more arrow to match hidden fa-squares
          .fa-square-o {
            display: none;
          }
        }

        // keep this as complicated to overwrite default values
        &.btn {
          // Also hide more arrow to match hidden fa-squares
          i.fa-arrow-down,
          i.fa-arrow-up {
            display: none;
          }
        }
      }
    }
  }

  .facet-group {
    a,
    .text,
    .badge,
    .title,
    .help-link,
    .facet a:not(.exclude):not(:last-of-type) {
      // reduce padding for small devices #22377
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        padding: $sidebar-item-padding-sm;
      }
    }
  }
}
