; This file controls the tab display in the Collection view (as opposed to the
; single record view). The structure is identical to RecordTabs.ini; see the
; comments in that file for details on the meanings of the various settings.
[VuFind\RecordDriver\AbstractBase]
tabs[CollectionList] = CollectionList
tabs[HierarchyTree] = CollectionHierarchyTree
defaultTab = null

[Finna\RecordDriver\SolrEad]
tabs[CollectionList] = CollectionList
tabs[HierarchyTree] = CollectionHierarchyTree
tabs[UserComments] = UserComments
tabs[Details] = StaffViewArray
defaultTab = null

[Finna\RecordDriver\R2Ead3]
tabs[R2CollectionList] = R2CollectionList
tabs[HierarchyTree] = CollectionHierarchyTree
tabs[UserComments] = UserComments
tabs[Details] = StaffViewArray
defaultTab = null
