; Data source configuration

; Each section name corresponds to the data source id
; Available settings are:
; feedbackEmail   Email address for feedback
; mainView        Main view directory
; institution     Institution code
; disablePatronFunctions    Set true if datasource does not have patron functionality, can be left out
;
; This configuration file is compatible with RecordManager's datasources.ini, so the
; same file can be shared by RecordManager and VuFind.

[OJS]
feedbackEmail = email@somewhere.invalid
mainView = web
institution = Library
;disablePatronFunctions = true

; Online payment
onlinePayment['handler'] = ''
onlinePayment['url'] = ''
onlinePayment['merchantId'] = ''
onlinePayment['secret'] = ''
