; Data source configuration

; Each section name corresponds to the data source id
; Available settings are:
; feedbackEmail           Email address for feedback
; mainView                Main view directory
; institution             Institution code
; disablePatronFunctions  Set true if datasource does not have patron functionality, can be left out
; authority[<type>]       Map to authority index sources where <type> is authority record type
;                         (corporateBody, person) or * for any;
; authority_id_regex[<type>] = Regex for whitelisting allowed authority ids.
; authority_external_link_label_regex = Regex for parsing external link label into title and subtitle,
;                                       parts, for example: /^(Verkkosivut|Kotisivut|Wikipedia),\s*(.*)$/
;
; This configuration file is compatible with RecordManager's datasources.ini, so the
; same file can be shared by RecordManager and VuFind.

[OJS]
feedbackEmail = email@somewhere.invalid
mainView = web
institution = Library
;disablePatronFunctions = true
; You can select BTJ, Syndetics, LibraryThing, Summon, Amazon, Booksite, OpenLibrary,
; Contentcafe and/or Google Books. These settings are used in addition to the ones
; defined in config.ini
;coverimages = BTJ:customerId
; Link template for linking to the staff UI. Note that staff UI link is available
; only for users with the access.finna.StaffUiLink permission.
staffUiUrl = "https://server-address/cgi-bin/koha/catalogue/detail.pl?biblionumber=%%id%%"


; Online payment
onlinePayment['handler'] = ''
onlinePayment['url'] = ''
; Paytrail API:
; e2url is optional. Default is https://payment.paytrail.com/e2.
;onlinePayment['e2url'] = '...'
onlinePayment['merchantId'] = ''
onlinePayment['secret'] = ''

; The following settings are mandatory for CPU and optional for Paytrail.
; With Paytrail only a total amount to pay is defined if productCode,
; transactionFeeProductCode and productCodeMappings are undefined, and empty values
; can be defined to make the system use default values.
onlinePayment['paymentDescription'] = 'Finna: verkkomaksuja'
; Default product code
onlinePayment['productCode'] = ''
; Product code for transaction fees
onlinePayment['transactionFeeProductCode'] = 'Transaction'
; Product code mappings from the fine types to product codes
onlinePayment['productCodeMappings'] = 'Overdue=demo_003:Long Overdue=demo_004'
; Mappings to languages supported by the service
;onlinePayment['supportedLanguages'] = 'fi=fi:en=en'
; Product code mappings from organization names or codes to product codes. If there's
; already a product code from other mappings above, this value is prepended to it
; without any delimiter.
;onlinePayment['organizationProductCodeMappings'] = 'Helsinki=demo_003:Tampere=demo_004'
