---
# Listing of configured forms.
#
# Configured forms are listed in the top level 'forms' array and can accessed via the URL:
# /Feedback/Form/<form-id>
#
# The main Feedback form (id: FeedbackSite) can be accessed with a shorter URL /Feedback
#
# Form supports the following options:
#
#   enabled (boolean) Is the form enabled? (default = true)
#   useCaptcha (boolean) Should the form use Captcha validation? Requires the "feedback"
#                        option to be turned on in the config.ini [Captcha] form setting.
#                        (default = true, if Captcha turned on for feedback overall).
#   title (string) Form title (translation key)
#   onlyForLoggedUsers (boolean) Require the user to be logged in to see the form
#                                (default = false)
#   emailSubject (string) Email subject (translation key). (default = email_subject
#                         value from config.ini [Feedback] section, or 'VuFind Feedback')
#                         The subject may contain placeholders (for example %%receiver%%)
#                         that are replaced with submitted form values.
#
#   sendMethod (string) Determines how submitted form data is handled:
#     email    Form data is sent via email to 'recipient'
#     database Form data is saved to the database.
#
#   recipient (needed only when 'sendMethod' is email)
#     name (string)  Recipient name (default = recipient_name setting from config.ini
#                    [Feedback] section)
#     email (string) Recipient email address (default = recipient_email setting from
#                    config.ini [Feedback] section)
#   reminderEmail (string) Email address where reminders about pending feedbacks are sent.
#                          Possible only when 'sendMethod' is 'database'.
#
#   Multiple recipients can be configured using a list:
#
#   recipient:
#     - name: Recipient 1
#       email: recipient1@email
#     - name: Recipient 2
#       email: recipient2@email
#
#   response (string) Reponse after form submit (translation key)
#
#   By default, the form renders input fields for sender name and email address with the
#   following options:
#      senderInfoRequired (boolean)  Require sender to fill out name and email fields 
#      senderInfoHelp (string) Info text for sender name/email (translation key)
#
#   If needed, the default sender fields can be hidden (in case they are not needed
#   or a different set of fields is configured in 'fields' list):
#      hideSenderInfo (boolean) Hide default sender fields (name & email)
#
#   help
#     pre (string)  Help text displayed at the beginning of the form (translation key).
#     post (string) Help text displayed at the end of the form (translation key)
#
#   Help texts may contain HTML-formatting.
#
#   fields (array) List of form elements with the following options:
#
#     name (string)      Element name
#     label (string)     Element label (translation key)
#     required (boolean) Is the element required?
#     settings (array)   HTML attributes as key-value pairs, for example:
#       - [class, "custom-css-class another-class"]
#     type (string)      Element type (text|textarea|email|url|select|radio|checkbox)
#     help (string)      Element help text (translation key).
#                        To include HTML formatting, use a translation key ending
#                        in '_html' here, and define markup in the language files.
#     
#     And for select, radio and checkbox elements:
# 
#     options (array) List of select values (translation keys)
#                     or a list of options with 'value' and 'label' (translation) keys.
#                       Examples:
#                         options:
#                           - option-1
#                           - option-2
#
#                         or
#
#                         options:
#                           - value: value-1
#                             label: label-1
#                           - value: value-2
#                             label: label-2
#
#     or for select elements alternatively:
#
#     optionGroups (array) List of option groups with keys:
#       label (string) Group label (translation key)
#       options (array) List of select values (translation keys)
#
#     placeholder (string) Placeholder label (translation key). Used to instruct or force
#       (when combined with 'required' attribute) the user to make a selection from the
#       options-list. Only select elements with 'options' are supported.
#       For text, textarea, email and url elements, a placeholder text can be configured
#       by adding a HTML-attribute via 'settings', for example:
#       settings:
#         - [placeholder, Please select...]
#
#
#     Only for select-elements:
#
#     recipient (boolean) Use the submitted value of this element as the form recipient.
#                         Each recipient is configured as an option element with
#                         'value' (recipient email address) and 'label', for example:
#                            options:
#                               - value: recipient-1@email.com
#                                 label: Recipient 1
#                               - value: recipient-2@email.com
#                                 label: Recipient 2
#
#                         This overrrides other recipient settings.
#-----------------------------------------------------------------------------------

forms:

  # These forms are reserved for finna internal use and should not be used:
  # - finna_UpdatePersonalInformation
  # - finna_UpdateMessagingSettings

  # Main Feedback form
  FeedbackSite:
    allowLocalOverride: true
    title: Feedback
    enabled: true
    useCaptcha: false
    #recipient:
    #  name: Your Library
    #  email: feedback@myuniversity.edu

    onlyForLoggedUsers: false
    #emailSubject: Palautetta Finnasta
    response: Thank you for your feedback.
    senderInfoRequired: false 
    senderInfoHelp: feedback_info
    hideSenderInfo: false
    sendMethod: email
    #reminderEmail: feedback@myuniversity.edu
    #help:
    #  pre: feedback_help_pre
    #  post: feedback_help_post

    fields:
      # - name: feedback_choose_library
      #   type: select
      #   options:
      #     - 1/Vaski/1/
      #     - 1/Vaski/5/
      #     - 1/Vaski/6/
      #   label: feedback_choose_library
      - name: category
        type: select
        options:
          - feedback_category_general
          - feedback_category_metadata
          - feedback_category_services
          - feedback_category_accessibility
          - feedback_category_usability
          - feedback_category_technical
        label: Subject
      - name: message
        type: textarea
        label: feedback_message
        required: true
        settings:
      - name: url
        type: url
        label: feedback_url
        settings:
          - [placeholder, http://...]
          - [class, 'url']
      - name: need_help
        type: radio
        label: Need Help?
        required: true
        options:
          - Yes
          - No

  # Record feedback form
  FeedbackRecord:
    allowLocalOverride: true
    title: Send feedback on record
    enabled: true
    useCaptcha: false
    #sendMethod: "database"
    
    onlyForLoggedUsers: false
    emailSubject: "Palautetta Finnasta tietueesta: %%record%%"
    response: Thank you for your feedback.
    senderInfoRequired: false 
    senderInfoHelp: feedback_info
    hideSenderInfo: true
    help:
      pre: feedback_record_instructions_html

    fields:
      - name: category
        type: select
        options:
          - feedback_category_general
          - feedback_category_accessibility
        label: Subject
      - name: email
        type: email
        label: email_from
        required: true
      - name: message
        type: textarea
        label: feedback_message
        required: true
