---
# Listing of configured forms.
#
# Configured forms are listed in the top level 'forms' array and can accessed via the URL:
# /Feedback/Form/<form-id>
#
# The main Feedback form (id: FeedbackSite) can be accessed with a shorter URL /Feedback
#
#   enabled (boolean) Is the form enabled? (default = true)
#   useCaptcha (boolean) Should the form use Captcha validation? Requires the "feedback"
#                        option to be turned on in the config.ini [Captcha] form setting.
#                        (default = true, if Captcha turned on for feedback overall).
#                        N.B. In Finna the captcha check is invisible, and this
#                        setting should not be used or set to false.
#   reportReferrer (boolean) Should the form report the page from which it was invoked
#   reportUserAgent (boolean) Should the form report the browser's user agent string
#   title (string) Form title (translation key)
#   onlyForLoggedUsers (boolean) Require the user to be logged in to see the form
#                                (default = false)
#   emailSubject (string) Email subject (translation key). (default = email_subject
#                         value from config.ini [Feedback] section, or 'VuFind Feedback')
#                         The subject may contain placeholders (for example %%receiver%%)
#                         that are replaced with submitted form values.
#   emailFrom (address in email envelope, separate from user's email, useful only
#              when 'sendMethod' is email)
#     name (string)  Sender name (default = sender_name setting from config.ini
#                    [Feedback] section)
#     email (string) Sender email (default = sender_email setting from
#                    config.ini [Feedback] section)
#
#   recipient (needed only when 'sendMethod' is email)
#     name (string)  Recipient name (default = recipient_name setting from config.ini
#                    [Feedback] section)
#     email (string) Recipient email address (default = recipient_email setting from
#                    config.ini [Feedback] section)
#   reminderEmail (string) Email address where reminders about pending feedback are sent.
#                          Possible only when 'sendMethod' is 'database'.
#
#   Multiple recipients can be configured using a list:
#
#   recipient:
#     - name: Recipient 1
#       email: recipient1@email
#     - name: Recipient 2
#       email: recipient2@email
#
#   response (string) Reponse after form submit (translation key)
#
#   primaryHandler (string) Determines how submitted form data is handled (formerly known as sendMethod):
#     email    Form data is sent via email to 'recipient'
#     database Form data is saved to the database.
#     api      Form data is sent as a JSON message to an external API
#
#   apiSettings:
#     url          (string) URL to use with sendMethod api (use "test" to just output the API request)
#     username     (string) Username for API authentication
#     password     (string) Password for API authentication
#     authMethod   (string) Authentication method (basic [default] or digest)
#     headers      (array)  Any extra headers to set in the API request
#     successCodes (array)  HTTP status codes that indicate that the request was
#                           successfully stored.
#
#   By default, the form renders input fields for sender name and email address with the
#   following options:
#      senderEmailRequired (boolean) Require sender to fill out email field
#      senderNameRequired (boolean)  Require sender to fill out name field
#      senderInfoHelp (string) Info text for sender name/email (translation key)
#
#   If needed, the default sender fields can be hidden (in case they are not needed
#   or a different set of fields is configured in 'fields' list):
#      hideSenderInfo (boolean) Hide default sender fields (name & email)
#
#   hideRecipientInfo (boolean) Hide recipient info (default = false)
#   includeBarcode    (boolean) Whether to submit the user's library card barcode along with other form data.
#                               This setting can be enabled only for selected forms.
#                               In addition, the following settings are required:
#                               - sendMethod = database (barcode can not be sent via email)
#                               - onlyForLoggedUsers = true (barcode is available only for logged users)
#   includePatronId   (boolean) Whether to submit the user's identifier in library along with other form data.
#                               This setting can be enabled only for selected forms.
#                               In addition, the following setting is required:
#                               - onlyForLoggedUsers = true (barcode is available only for logged users)
#   help
#     pre (string)  Help text displayed at the beginning of the form (translation key).
#     post (string) Help text displayed at the end of the form (translation key)
#
#     Help texts may contain HTML-formatting.
#
#   prefillFields (array) Fields that could be prefilled by passing parameter to form URL. Could be
#                         used only with hidden, text and textarea types.
#                         Example:
#                           prefillFields:
#                             - siteCode
#                          With configured field 'siteCode' enables prefilling the field with
#                          /Feedback/Form/FeedbackSite?siteCode=website
#
#   fields (array) List of form elements with the following options:
#
#     name (string)        Element name
#     label (string)       Element label (translation key)
#     required (boolean)   Is the element required? (for checkbox elements this means that
#                          all options have to be selected.)
#     requireOne (boolean) Require at least one checkbox option to be selected.
#     settings (array)     HTML attributes as key-value pairs, for example:
#       - [class, "custom-css-class another-class"]
#     type (string)        Element type (text|textarea|date|email|url|select|radio|checkbox|hidden)
#     help (string)        Element help text (translation key) that is displayed before the element.
#                          To include HTML formatting, use a translation key ending
#                          in '_html' here, and define markup in the language files.
#
#     Additional settings for date element:
#
#     format             Date format to use in the resulting message  (default is
#                        displayDateFormat in config.ini). Format of the actual field
#                        displayed on the form is controlled by user's browser.
#     minValue           Minimum acceptable date. A string that PHP's strtotime can
#                        parse (e.g. 'now' or '2021-09-09').
#     maxValue           Maximum acceptable date. A string that PHP's strtotime can
#                        parse (e.g. 'now' or '2021-09-09').
#
#     Additional settings for select, radio and checkbox elements:
#
#     options (array) List of select values (translation keys)
#                     or a list of options with 'value' and 'label' (translation) keys.
#                       Examples:
#                         options:
#                           - option-1
#                           - option-2
#
#                         or
#
#                         options:
#                           - value: value-1
#                             label: label-1
#                           - value: value-2
#                             label: label-2
#
#     Alternative settings for select elements:
#
#     optionGroups (array) List of option groups with keys:
#       label (string) Group label (translation key)
#       options (array) List of select values (see above)
#
#     placeholder (string) Placeholder label (translation key). Used to instruct or force
#       (when combined with 'required' attribute) the user to make a selection from the
#       options-list. Only select elements with 'options' are supported.
#       For text, textarea, email and url elements, a placeholder text (translation key)
#       can be configured by adding a HTML-attribute via 'settings', for example:
#       settings:
#         - [placeholder, Please select...]
#
#
#     Only for select-elements:
#
#     recipient (boolean) Use the submitted value of this element as the form recipient.
#                         Each recipient is configured as an option element with
#                         'value' (recipient email address) and 'label', for example:
#                            options:
#                               - value: recipient-1@email.com
#                                 label: Recipient 1
#                               - value: recipient-2@email.com
#                                 label: Recipient 2
#
#                         This overrrides other recipient settings.
#-----------------------------------------------------------------------------------

forms:

  # These forms are reserved for finna internal use and should not be used:
  # - finna_UpdatePersonalInformation
  # - finna_UpdateMessagingSettings

  # Main Feedback form
  FeedbackSite:
    allowLocalOverride: true
    title: Feedback
    enabled: true
    #recipient:
    #  name: Your Library
    #  email: feedback@myuniversity.edu

    onlyForLoggedUsers: false
    #emailSubject: Palautetta Finnasta
    response: Thank you for your feedback.
    senderInfoRequired: false
    senderInfoHelp: feedback_info
    hideSenderInfo: false
    sendMethod: email
    #reminderEmail: feedback@myuniversity.edu
    #help:
    #  pre: feedback_help_pre
    #  post: feedback_help_post

    fields:
      # - name: feedback_choose_library
      #   type: select
      #   options:
      #     - 1/Vaski/1/
      #     - 1/Vaski/5/
      #     - 1/Vaski/6/
      #   label: feedback_choose_library
      - name: category
        type: select
        options:
          - feedback_category_general
          - feedback_category_metadata
          - feedback_category_services
          - feedback_category_accessibility
          - feedback_category_usability
          - feedback_category_technical
        label: Subject
      - name: message
        type: textarea
        label: feedback_message
        required: true
        settings:
      - name: url
        type: url
        label: feedback_url
        settings:
          - [placeholder, http://...]
          - [class, 'url']
      - name: need_help
        type: radio
        label: feedback_help_label
        required: true
        options:
          - Yes
          - No

  # Record feedback form
  FeedbackRecord:
    allowLocalOverride: true
    title: Send feedback on record
    enabled: true
    #sendMethod: "database"

    onlyForLoggedUsers: false
    emailSubject: "Palautetta Finnasta tietueesta: %%record%%"
    response: Thank you for your feedback.
    senderInfoRequired: false
    senderInfoHelp: feedback_info
    hideSenderInfo: true
    help:
      pre: feedback_record_instructions_html

    fields:
      - name: category
        type: select
        options:
          - feedback_category_general
          - feedback_category_accessibility
        label: Subject
      - name: email
        type: email
        label: email_from
        required: true
      - name: message
        type: textarea
        label: feedback_message
        required: true

  # Repository Library request form
  RepositoryLibraryRequest:
    allowLocalOverride: true
    title: repository_library_request
    enabled: false
    sendMethod: "database"
    includeBarcode: true
    onlyForLoggedUsers: true
    #reminderEmail: feedback@myuniversity.edu
    emailSubject: "Varastokirjastotilaus: %%record%% - %%pickup%%"
    response: repository_library_request_response
    senderInfoRequired: true
    hideSenderInfo: true
    hideRecipientInfo: false
    help:
      pre: repository_library_request_info_html
    fields:
      - name: pickup
        type: select
        options:
          - 2/Vaski/1/1/
          - 2/Vaski/5/100/
          - 2/Vaski/6/110/
        label: preferred_pickup_location
      - name: lastdate
        type: date
        label: hold_required_by
        minValue: now
        required: false
      - name: email
        type: email
        label: feedback_email
        required: true
      - name: message
        type: textarea
        label: feedback_message
        settings:
          - [placeholder, repository_library_request_message]
          - [rows, 3]

# Archive material request form
  ArchiveRequest:
      allowLocalOverride: true
      title: archive_request_reserve_material
      enabled: true
      sendMethod: "email"

      onlyForLoggedUsers: true
      emailSubject: "Varauspyyntö: %%record%%"
      response: archive_request_response
      senderInfoRequired: true
      hideSenderInfo: true
      hideRecipientInfo: false
      help:
        pre: archive_request_pre_information_html
        post: archive_request_post_information_html

      fields:
        - name: name
          type: text
          label: feedback_name
          settings:
            - readonly: true
        - name: email
          type: email
          label: feedback_email
          required: true
        - name: phone
          type: text
          label: Phone
        - name: desiredDateForOrder
          type: textarea
          label: archive_request_request_info
          required: true
          settings:
            - [rows, 3]
        - name: message
          type: textarea
          label: feedback_message
          settings:
            - [rows, 3]
