[Catalog]
host = https://server.address/GeminirestAPI/GeminiRestApi.svc
apikey =


[Loans]
; The renewal limit in order to display the remaining amount of renewals
renewalLimit = 3

[Holds]

; HMACKeys - A list of hold form element names that will be analyzed for consistency
; during hold form processing. Most users should not need to change this setting.
HMACKeys = id:item_id:holdtype:level

; extraHoldFields - A colon-separated list used to display extra visible fields in the
; place holds form. Supported values are "comments", "requiredByDate" and
; "pickUpLocation"
extraHoldFields = pickUpLocation:requestGroup

; A Pick Up Location Code used to pre-select the pick up location drop down list and
; provide a default option if others are not available. Must be one of the following:
; 1) empty string to indicate that the first location is default (default setting)
; 2) "user-selected" to indicate that the user always has to choose the location
; 3) a value within the Location IDs returned by getPickUpLocations()
defaultPickUpLocation = ""

; A request group ID used to pre-select the request group drop down list and
; provide a default option if others are not available. Must be one of the following:
; 1) empty string to indicate that the first group is default
; 2) "user-selected" to indicate that the user always has to choose the group
; 3) a value within the Location IDs returned by getPickUpLocations()
; This setting is only effective if requestGroup is specified in extraHoldFields.
defaultRequestGroup = "user-selected"

[cancelHolds]
HMACKeys = id

; Uncomment the following lines to enable password (PIN) change
[changePassword]
; PIN change parameters.
minLength = 4
maxLength = 4

; Uncomment the following lines to enable update Address
; Select email method and add an emailAddress if you want them to be send via email
; email is the only method currently supported with Gemini
[updateAddress]
method = email
emailAddress =

; Select email method and add an emailAddress if you want them to be send via email
; email is the only method currently supported with Gemini
[updateMessagingSettings]
method = email
emailAddress =
