; Location Service.
; See https://wiki.helsinki.fi/display/kirjastokartta/About+the+Location+Service

[General]
enabled = false
url = "https://kirjastokartta.kansalliskirjasto.fi/LocationHandler?callno={callno}&collection={collection}&lang={lang}&owner={owner}"
modal = true
qr_code_record = false
qr_code_results = false

[jykdok]
owner = "FI-J"

[alli]
owner = "FI-AALTO"

[wilma]
owner = "FI-L"

[helka]
owner = "FI-HELKA"

[oula]
owner = "FI-OULU"

[josku]
url[en-gb] = "https://libapps.uef.fi/sijaintiopas/?infoViewMode=selSignum&language=english&fSignum={callno}"
url[fi] = "https://libapps.uef.fi/sijaintiopas/?infoViewMode=selSignum&language=suomi&fSignum={callno}"

[haltia]
url[en-gb] = "https://haltia.amkit.fi/vwebv/ui/fi_FI/htdocs/libmap/html/Libmap.html?callno={callno}&collection={collection}&status=1&lang=english"
url[fi] = "https://haltia.amkit.fi/vwebv/ui/fi_FI/htdocs/libmap/html/Libmap.html?callno={callno}&collection={collection}&status=1&lang=suomi"

[tria]
url[fi] = "https://tria.linneanet.fi/cgi-bin/getlocfinna.cgi?la=fi&co={collection}&ca={callno}&lo={location}&ti={title}"
url[sv] = "https://tria.linneanet.fi/cgi-bin/getlocfinna.cgi?la=sv&co={collection}&ca={callno}&lo={location}&ti={title}"
url[en-gb] = "https://tria.linneanet.fi/cgi-bin/getlocfinna.cgi?la=en&co={collection}&ca={callno}&lo={location}&ti={title}"
