; National Library of Finland Location Service. 
; See https://wiki.helsinki.fi/display/kirjastokartta/About+the+Location+Service

[General]
enabled = false
url = "https://kirjastokartta.kansalliskirjasto.fi/LocationHandler?callno={callno}&collection={collection}&lang={lang}&owner={owner}"
modal = true
qr_code = false

[jykdok]
owner = "FI-J"

[alli]
owner = "FI-AALTO"

[wilma]
owner = "FI-L"

[helka]
owner = "FI-HELKA"

[oula]
owner = "FI-OULU"

[josku]
url[en-gb] = "https://libapps.uef.fi/sijaintiopas/?infoViewMode=selSignum&language=english&fSignum={callno}"
url[fi] = "https://libapps.uef.fi/sijaintiopas/?infoViewMode=selSignum&language=suomi&fSignum={callno}"

[haltia]
url = "https://haltia.amkit.fi/vwebv/ui/fi_FI/htdocs/libmap/html/Libmap.html?callno={callno}16&collection={collection}&status=1&lang={lang}"