[settings]
;mode - The No ILS Driver Mode - Options are "ils-none" or "ils-offline"
mode = ils-none
;hideLogin - Whether or not to hide the login option; when true, this will override
; the hideLogin setting in the [Authentication] setting of config.ini whenever
; the NoILS driver is active.
hideLogin = true
;useHoldings - The Holdings mode
; none = do not show holdings info in Holdings Tab (see Site/hideHoldingsTabWhenEmpty
;        setting in config.ini to completely disable the Holdings Tab in this case)
; marc = Use information in the Marc Record Mapped from [MarcHoldings]
; custom = use the options in the [Holdings] section below
useHoldings = custom
;useStatus - Whether or not to use the show item statuses
; none = do not show status information
; marc = Use information in the Marc Record Mapped from [MarcStatus]
; custom = use the options in the [Status] section below
useStatus = custom
;idPrefix - Optional - Prefix added to Solr record IDs managed by this instance of
; the NoILS driver; needed when using this driver in combination with the
; MultiBackend driver. When used, the value should usually match one of the keys
; in the [Drivers] section of MultiBackend.ini followed by a dot.
idPrefix = "helka."

[Holdings]
availability = false
status = "ils_temporarily_unavailable"
use_unknown_message = true
location = "check_holdings_in_library_interface"
reserve = "N"
callnumber = ""
barcode = ""
number = " "
locationhref = ""
;summary[]



[Status]
availability = false
status = "ils_temporarily_unavailable"
use_unknown_message = true
location = "check_holdings_in_library_interface"
reserve = "N"
callnumber = ""
locationhref = ""
