[General]
enabled = 0

; Kirjastohakemisto API URL
url = "https://api.kirjastot.fi/"

; Language settings.
; Language codes are given in Kirjastohakemisto format (fi, sv, en...)

; Language version used for translated strings.
; If defined, this overrides the current user language.
; language = fi

; Allowed language versions
languages[] = fi
languages[] = sv
languages[] = en

; Default organisation id
; defaultOrganisation = Vaski

; Optional list of building id's to show from organisation.
; buildings[] = 85141
; buildings[] = 85968

; How long content is cached locally in minutes.
; Set this to false or comment out to disable caching.
cachetime = 1

; URL patterns for map and route instructions
routeUrl = "https://opas.matka.fi/?to={street},%20{city}"
mapUrl = "http://maps.google.com/?q={street}%20{city}"


[OrganisationPage]

; Show consortium info
consortiumInfo = 0

; Page title (translation key)
title = 'organisation_info_page_title';
;title = 'organisation_info_page_title_national';

; Info text on map widget
attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'


[OpeningTimesWidget]

; Show details (pictures, links, services etc)
details = true

; Map of services displayed in the opening times widget
services[wifi] = "55871,55519,55621,55377,55696,55328,55799,55339,55620,55318,55376,55575,55290,55584,55717,55304"
services[print] = "55355,55752,55856,55848,55628,55805,55375,55549,55342,55327,55332,55333,55749"

[MuseumAPI]
; Museoliiton API URL
url = "https://museot.fi/xml"
