; Resource Entitlement Management System (REMS)

[General]
apiUrl = 
apiKey = 
apiAdminUser =

; REMS catalog item id
catalogItem = 

; Resource item id
resourceItem =

; Session maximum age in minutes (R2 index closes the session)
sessionMaxAge = 480
; Show warning X minutes before session expires.
sessionExpirationWarning = 15

; Email address for blocklist inquiries
blocklistEmail =

[RegistrationForm]
id =

; REMS registration form field id's
field[firstname] = firstname
field[lastname] = lastname
field[email] = email
field[usage_purpose] = purposeofuse
field[age] = age
field[license] = agreeterms
field[user_id] = idnum

