# Settings for reservation lists
# To enable lists in your site, see section ReservationList in config.ini.sample
# Enabled key in the root defines if the list functionality is enabled
# Type allows displaying specific translations in ui. Options are research_room,default
# Root key is the identifier of institutions controlling the lists
# Under that is general Information about institution and Lists
# Each list entry has to contain Identifier which should be unique for each list under institution.
# Recipient contains email address(es) where the reservation is to be sent
# Datasources contains record datasources which can be added to the list
# List can contain same information as under institution information to be more specific
# about where the order is being delivered
# LibraryCardSources is used to check for active connection to ILS to be able to use lists
#
# Connection defines how the orders are handled with institutions:
# Type:
# email: Uses email to place orders
#   Sender:
#     name: Name to be shown as the sender of the email
#     email: Email address to be shown as where the email was sent
#   subject: Subject to be shown in the email
# disec: Uses Disec api for sending orders
#   base_url: Api base url
#   secret:   Api specific secret
#   use_cat_id: [Optional] Use catalog id for user instead of firstName, lastName, email. Default false.
# Translations holds values for Title and Description. Supported keys are fi, sv, en-gb and se
# 
# General settings for how to fetch list configurations
# Settings:
# Methods available yaml, api. If yaml is selected, will read list configurations from this file,
# method: [yaml, api]
# url: if api is selected, will fetch configurations from api endpoint
# ttl: How long does cached config live, default is 60 minutes
#
Settings:
  method: yaml
  #url:
  ttl: 60
Institutions:
  Example Institution:
    Information:
      name: Example Institution Name
      address: Example Institution address
      postal: Example Institution postal
      city: Example Institution city
      email: Example Institution email
    Lists:
      - Identifier: unique_identifier_for_this_list
        Enabled: false
        Type: default
        Recipient:
          - name: name_of_the_recipient_1
            email: email_of_the_recipient_1
          - name: name_of_the_recipient_2
            email: email_of_the_recipient_2
        Datasources:
          - datasource_1
          - datasource_2
        Information:
          Address: teststreet 10
          Postal: 000001
          City: Test city
        Forms:
          - PlaceOrder: default
        LibraryCardSources:
          - connection_established_to_use_lists
        Translations:
          Title:
            fi: list title in finnish
            en-gb: list title in english
            sv: list title in swedish
            se: list title in sami
          Description:
            fi: list description in finnish
            en-gb: list description in english
            sv: list description in swedish
            se: list description in sami
        Connection:
          type: email
          Sender:
            name: Service sender
            email: test@noreply.fi
          Subject: Reservation List
Forms:
  PlaceOrder:
    default:
      allowLocalOverride: false
      formActionRoute: reservationlist-placeorder
      title: ReservationList::Send the hold request
      enabled: true
      onlyForLoggedUsers: true
      emailSubject: ReservationList::form_email_subject
      response: ReservationList::form_response
      hideSenderInfo: true
      hideRecipientInfo: true
      senderNameRequired: true
      includePatronId: true
      help:
        pre: ReservationList::request_pre_info_html
        post: ReservationList::request_post_info_html

      fields:
        - name: record_ids_text
          type: textarea
          label: ReservationList::Reservation resources
          settings:
            - [rows, 3]
            - [readonly, true]
        - name: full_name
          type: text
          label: feedback_name
          required: true
        - name: email
          type: email
          label: Email
        - name: phone
          type: text
          label: Phone
        - name: pickup_date
          type: date
          label: ReservationList::Delivery time request
          minValue: now + 2 days
          maxValue: now + 1 year
          required: true
        - name: message
          type: textarea
          label: Message
          settings:
            - [rows, 3]
        - name: card_info
          type: text
          label: Library Card
          settings:
            - readonly: true
    single:
      extends: default
      formActionRoute: reservationlist-placesingleorder
      fields:
        - name: list_title
          type: text
          label: ReservationList::Name of the list
          required: true
