# Key is the field name that can be requested. It has the following subkeys:
# - vufind.method: name to call (either in the SearchApiController class or the record driver)
# - vufind.default: true if the field is displayed by default when the request does not specify fields
# - Swagger specification fields describing the returned data.
#
# See http://swagger.io/specification/ for information on the Swagger-specific fields
#
accessRestrictions:
  vufind.method: getAccessRestrictions
  description: Access restriction notes
  type: array
  items:
    type: string
alternativeTitles:
  vufind.method: getAlternativeTitles
  description: Alternative titles
  type: array
  items:
    type: string
authors:
  vufind.method: getDeduplicatedAuthors
  description: >-
    Deduplicated author information including main, corporate and secondary
    authors
  type: array
  items:
    $ref: '#/definitions/Authors'
awards:
  vufind.method: getAwards
  description: Award notes
  type: array
  items:
    type: string
bibliographicLevel:
  vufind.method: getBibliographicLevel
  description: Bibliographic level
  type: string
  enum:
    - Monograph
    - Serial
    - MonographPart
    - SerialPart
    - Collection
    - CollectionPart
    - Unknown
bibliographyNotes:
  vufind.method: getBibliographyNotes
  description: Bibliography notes
  type: array
  items:
    type: string
buildings:
  vufind.method: getBuilding
  vufind.default: true
  description: Locations (hierarchical)
  type: array
  items:
    $ref: '#/definitions/TranslatedField'
callNumbers:
  vufind.method: getCallNumbers
  description: Call numbers
  type: array
  items:
    type: string
childRecordCount:
  vufind.method: getChildRecordCount
  description: Number of child records
  type: integer
classifications:
  vufind.method: getClassifications
  description: Classifications keyed by source (ykl, udk, nlm etc.)
  type: array
  items:
    type: array
    items:
      type: string
cleanDoi:
  vufind.method: getCleanDOI
  description: First valid DOI
  type: string
cleanIsbn:
  vufind.method: getCleanISBN
  description: First valid ISBN favoring ISBN-10 over ISBN-13 when possible
  type: string
cleanIssn:
  vufind.method: getCleanISSN
  description: Base portion of the first listed ISSN
  type: string
cleanOclcNumber:
  vufind.method: getCleanOCLCNum
  description: First OCLC number
  type: string
collections:
  vufind.method: getCollections
  description: Collections the record belongs to (used in museum material)
  type: array
  items:
    type: string
containerEndPage:
  vufind.method: getContainerEndPage
  description: End page in the containing item
  type: string
containerIssue:
  vufind.method: getContainerIssue
  description: Issue number of the containing item
  type: string
containerReference:
  vufind.method: getContainerReference
  description: Reference to the containing item
  type: string
containerStartPage:
  vufind.method: getContainerStartPage
  description: Start page in the containing item
  type: string
containerTitle:
  vufind.method: getContainerTitle
  description: Title of the containing item
  type: string
containerVolume:
  vufind.method: getContainerVolume
  description: Volume of the containing item
  type: string
corporateAuthors:
  vufind.method: getCorporateAuthors
  description: Main corporate authors
  type: array
  items:
    type: string
dedupIds:
  vufind.method: "Formatter::getDedupIds"
  description: IDs of all records deduplicated with the current record
  type: array
  items:
    type: string
dissertationNote:
  vufind.method: getDissertationNote
  description: Dissertation note
  type: string
edition:
  vufind.method: getEdition
  description: Edition
  type: string
embeddedComponentParts:
  vufind.method: getEmbeddedComponentParts
  description: >
    Embedded component parts (e.g. pieces of music in a recording) -- requesting this
    may slow down the response and increase the response size significantly
  type: array
  items:
    $ref: '#/definitions/ComponentPart'
events:
  vufind.method: getEvents
  description: >
    Events related to museum (LIDO) material. Events include production, printing
    photographing, planning and use. The response may include (depending on metadata)
    names, dates, methods, materials, places, actors, culture and description
  $ref: '#/definitions/Events'
findingAids:
  vufind.method: getFindingAids
  description: Finding aids
  type: array
  items:
    type: string
formats:
  vufind.method: getFormats
  vufind.default: true
  description: Formats
  type: array
  items:
    $ref: '#/definitions/TranslatedField'
fullRecord:
  vufind.method: "Formatter::getFullRecord"
  description: Full metadata record (typically XML)
  type: array
  items:
    type: string
generalNotes:
  vufind.method: getGeneralNotes
  description: General notes
  type: array
  items:
    type: string
genres:
  vufind.method: getGenres
  description: Genres
  type: array
  items:
    type: string
geoCenter:
  vufind.method: getGeoCenter
  description: Geographic center point
  type: object
  properties:
    lon:
      description: Longitude
      type: string
    lat:
      description: Latitude
      type: string
  required:
    - lon
    - lat
geoLocations:
  vufind.method: getGeoLocations
  description: Geographic locations (e.g. points, bounding boxes) in WKT format
  type: array
  items:
    type: string
hierarchicalPlaceNames:
  vufind.method: getHierarchicalPlaceNames
  description: Hierarchical place names concatenated for display
  type: array
  items:
    type: string
hierarchyParentId:
  vufind.method: getHierarchyParentId
  description: Parent record IDs for hierarchical records
  type: array
  items:
    type: string
hierarchyParentTitle:
  vufind.method: getHierarchyParentTitle
  description: Parent record titles for hierarchical records
  type: array
  items:
    type: string
hierarchyTopId:
  vufind.method: getHierarchyTopId
  description: Hierarchy top record IDs for hierarchical records
  type: array
  items:
    type: string
hierarchyTopTitle:
  vufind.method: getHierarchyTopTitle
  description: Hierarchy top record titles for hierarchical records
  type: array
  items:
    type: string
humanReadablePublicationDates:
  vufind.method: getHumanReadablePublicationDates
  description: Publication dates in human-readable format
  type: array
  items:
    type: string
id:
  vufind.method: getUniqueID
  vufind.default: true
  description: Record unique ID (can be used in the record endpoint)
  type: string
identifierString:
  vufind.method: "Formatter::getIdentifier"
  description: >
    Record identifier (e.g. inventory ID in museum material) -- not guaranteed to be
    unique
  type: string
imageRights:
  vufind.method: "Formatter::getImageRights"
  vufind.default: true
  description: Image rights
  type: object
  properties:
    copyright:
      description: License type
      type: string
    link:
      description: Link to license
      type: string
    description:
      description: Description text
      type: string
images:
  vufind.method: "Formatter::getImages"
  vufind.default: true
  description: >
    Links to record images without the domain name -- prepend with the correct
    domain
  type: array
  items:
    type: string
imagesExtended:
  vufind.method: "Formatter::getExtendedImages"
  description: >
    Record images, their descriptions and rights
  type: array
  items:
    $ref: '#/definitions/Image'
inscriptions:
  vufind.method: getInscriptions
  description: Inscriptions
  type: array
  items:
    type: string
institutions:
  vufind.method: "Formatter::getInstitutions"
  description: Institutions the record belongs to (see also **buildings**)
  type: array
  items:
    $ref: '#/definitions/TranslatedField'
isbns:
  vufind.method: getISBNs
  description: ISBNs (see also **cleanIsbn**)
  type: array
  items:
    type: string
isCollection:
  vufind.method: isCollection
  description: Whether the record is a collection node in a hierarchy
  type: boolean
isDigitized:
  vufind.method: isDigitized
  description: Whether the record is digitized
  type: boolean
isPartOfArchiveSeries:
  vufind.method: isPartOfArchiveSeries
  description: Whether the record is part of an archive series
  type: boolean
issns:
  vufind.method: getISSNs
  description: ISSNs (see also **cleanIssn**)
  type: array
  items:
    type: string
languages:
  vufind.method: getLanguages
  vufind.default: true
  description: Languages
  type: array
  items:
    type: string
lccn:
  vufind.method: getLCCN
  description: LCCNs
  type: array
  items:
    type: string
manufacturer:
  vufind.method: getManufacturer
  description: manufacturer
  type: string
measurements:
  vufind.method: getMeasurements
  description: Physical measurements
  type: array
  items:
    type: string
newerTitles:
  vufind.method: getNewerTitles
  description: Successor titles
  type: array
  items:
    type: string
nonPresenterAuthors:
  vufind.method: getNonPresenterAuthors
  vufind.default: true
  description: Non-presenter authors
  type: array
  items:
    $ref: '#/definitions/AuthorWithRoleAndDate'
oclc:
  vufind.method: getOCLC
  description: OCLC numbers
  type: array
  items:
    type: string
onlineUrls:
  vufind.method: "Formatter::getOnlineURLs"
  vufind.default: true
  description: "Online links"
  type: array
  items:
    $ref: '#/definitions/OnlineLink'
openUrl:
  vufind.method: getOpenUrl
  description: OpenURL
  type: string
originalLanguages:
  vufind.method: getOriginalLanguages
  description: Original languages (see also **languages**)
  type: array
  items:
    type: string
otherLinks:
  vufind.method: getOtherLinks
  description: Other links between records
  type: array
  items:
    $ref: '#/definitions/OtherRecordLink'
physicalDescriptions:
  vufind.method: getPhysicalDescriptions
  description: Physical dimensions etc.
  type: array
  items:
    type: string
physicalLocations:
  vufind.method: getPhysicalLocations
  description: Physical locations (archive material)
  type: array
  items:
    type: string
placesOfPublication:
  vufind.method: getPlacesOfPublication
  description: Places of publication
  type: array
  items:
    type: string
playingTimes:
  vufind.method: getPlayingTimes
  description: Playing times (durations)
  type: array
  items:
    type: string
presenters:
  vufind.method: getPresenters
  vufind.default: true
  description: Presenters
  type: array
  items:
    $ref: '#/definitions/AuthorWithRoleAndDate'
previousTitles:
  vufind.method: getPreviousTitles
  description: Predecessor titles
  type: array
  items:
    type: string
primaryAuthors:
  vufind.method: getPrimaryAuthors
  description: Primary authors
  type: array
  items:
    type: string
productionCredits:
  vufind.method: getProductionCredits
  description: Production credits
  type: array
  items:
    type: string
projectedPublicationDate:
  vufind.method: getProjectedPublicationDate
  description: Projected (estimated) publication date
  type: string
publicationDates:
  vufind.method: getPublicationDates
  description: Publication dates
  type: array
  items:
    type: string
publicationEndDate:
  vufind.method: getPublicationEndDate
  description: End date of publication (continuing publication often marked as 9999)
  type: string
publicationFrequency:
  vufind.method: getPublicationFrequency
  description: Publication frequency
  type: string
publicationInfo:
  vufind.method: getPublicationInfo
  description: Publication information
  type: array
  items:
    type: string
publishers:
  vufind.method: getPublishers
  description: Publishers
  type: array
  items:
    type: string
rating:
  vufind.method: getAverageRating
  vufind.default: true
  $ref: '#/definitions/AverageRating'
rawData:
  vufind.method: "Formatter::getRawData"
  description: All data in the index fields
  type: string
recordLinks:
  vufind.method: "Formatter::getRecordLinks"
  description: Links to other related records
  type: array
  items:
    $ref: '#/definitions/RecordLink'
recordPage:
  vufind.method: "Formatter::getRecordPage"
  description: Link to the record page in the UI
  type: string
relationshipNotes:
  vufind.method: getRelationshipNotes
  description: Notes describing relationships to other items
  type: array
  items:
    type: string
secondaryAuthors:
  vufind.method: getSecondaryAuthors
  description: Secondary authors
  type: array
  items:
    type: string
sectors:
  vufind.method: "Formatter::getSectors"
  description: Record sector (archive, museum, library and library sector)
  type: array
  items:
    $ref: '#/definitions/TranslatedField'
series:
  vufind.method: getSeries
  vufind.default: true
  description: Series
  type: array
  items:
    type: string
sfxObjectId:
  vufind.method: "getSfxObjectId"
  description: ID of the record in SFX (only for records from SFX)
  type: string
shortTitle:
  vufind.method: getShortTitle
  description: Short title (title excluding any subtitle)
  type: string
source:
  vufind.method: "Formatter::getSources"
  description: Record sources
  type: array
  items:
    $ref: '#/definitions/TranslatedField'
subjectActors:
  vufind.method: getSubjectActors
  description: Subject actors
  items:
    type: array
    items:
      type: string
subjectDetails:
  vufind.method: getSubjectDetails
  description: Detailed subject descriptions
  items:
    type: array
    items:
      type: string
subjectPlaces:
  vufind.method: getSubjectPlaces
  description: Subject places
  items:
    type: array
    items:
      type: string
subjects:
  vufind.method: getAllSubjectHeadings
  vufind.default: true
  description:  >
    Subject headings as an array from the least specific to the most specific
  type: array
  items:
    type: string
subjectsExtended:
  vufind.method: "Formatter::getExtendedSubjectHeadings"
  description: Subject headings with type and source information
  type: array
  items:
    $ref: '#/definitions/Subject'
subTitle:
  vufind.method: getSubTitle
  description: Subtitle
  type: string
summary:
  vufind.method: getSummary
  description: Summary
  type: array
  items:
    type: string
systemDetails:
  vufind.method: getSystemDetails
  description: Technical details on the represented item
  type: array
  items:
    type: string
targetAudienceNotes:
  vufind.method: getTargetAudienceNotes
  description: Notes about the target audience
  type: array
  items:
    type: string
title:
  vufind.method: getTitle
  vufind.default: true
  description: Title including any subtitle
  type: string
titleSection:
  vufind.method: getTitleSection
  description: Part/section portion of the title
  type: string
titleStatement:
  vufind.method: getTitleStatement
  description: Statement of responsibility that goes with the title
  type: string
toc:
  vufind.method: getTOC
  description: Table of contents
  type: array
  items:
    type: string
uniformTitles:
  vufind.method: getUniformTitles
  description: Uniform titles
  type: array
  items:
    type: string
unitId:
  vufind.method: getUnitID
  description: Archival unit ID
  type: string
urls:
  vufind.method: "Formatter::getURLs"
  vufind.default: true
  description: URLs contained in the record
  type: array
  items:
    $ref: '#/definitions/Url'
year:
  vufind.method: getYear
  description: >
    Main year (publication, production etc.) -- used also in main_date_str facet
  type: string
