// -component suffix added to avoid problems with non-component finna-navbar class.
.finna-navbar-component {
  @media(max-width: $grid-float-breakpoint-max) {
    .navbar-header {
      display: flex;
      align-items: center;
      flex: 1;
    }
    .navbar-toggler {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar-brand {
      flex-grow: 1;
      height: auto;
      max-width: none;
      line-height: normal;
      text-decoration: none;
    }
    .navbar-collapse {
      .dropdown-toggle {
        width: 100%;
      }
      & > ul > li {
        border-bottom: 1px solid $gray-lighter;
      }
      .dropdown-menu {
        border: 0;
        box-shadow: none;
        margin-top: 0;

        > li {
          border: 0;
        }

        .dropdown-item {
          border: 0;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
    .navbar-nav {
      margin: 0;

      & > li > a {
        margin-top: 0;
        margin-bottom: 0;
        padding: 16px;
      }
    }
  }
}

.finna-navbar-icon-caret {
  font-family: finnaicons;
  font-style: normal;
  &::after {
    content: '\e612';
  }
  .finna-navbar-component .navbar-toggler.collapsed &::after {
    content: '\e613';
  }
}

// Content navbar variation with own variables for customization.

$finna-navbar-content-color:             mix($primary, contrast($primary), 5%) !default;
$finna-navbar-content-bg:                $primary !default;
$finna-navbar-content-border:            $finna-navbar-content-bg !default;

// Navbar links
$finna-navbar-content-link-color:                $finna-navbar-content-color !default;
$finna-navbar-content-link-hover-color:          $finna-navbar-content-link-color !default;
$finna-navbar-content-link-hover-bg:             $finna-navbar-content-bg !default;
$finna-navbar-content-link-active-color:         $finna-navbar-content-link-color !default;
$finna-navbar-content-link-active-bg:            $finna-navbar-content-bg !default;
$finna-navbar-content-link-disabled-color:       $finna-navbar-content-link-color !default;
$finna-navbar-content-link-disabled-bg:          $finna-navbar-content-bg !default;

// Navbar brand label
$finna-navbar-content-brand-color:               $finna-navbar-content-color !default;
$finna-navbar-content-brand-hover-color:         $finna-navbar-content-brand-color !default;
$finna-navbar-content-brand-hover-bg:            $finna-navbar-content-bg !default;

// Navbar toggle
$finna-navbar-content-toggle-hover-bg:           $finna-navbar-content-bg !default;
$finna-navbar-content-toggle-icon-bar-bg:        $finna-navbar-content-bg !default;
$finna-navbar-content-toggle-border-color:       $finna-navbar-content-border !default;

.finna-navbar-content {
  background-color: $finna-navbar-content-bg;
  border-color: $finna-navbar-content-border;

  .navbar-brand,
  .navbar-brand > a {
    color: $finna-navbar-content-brand-color;
    &:hover,
    &:focus {
      color: $finna-navbar-content-brand-hover-color;
      background-color: $finna-navbar-content-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $finna-navbar-content-color;
  }

  .navbar-nav {
    > li > a {
      color: $finna-navbar-content-link-color;

      &:hover,
      &:focus {
        color: $finna-navbar-content-link-hover-color;
        background-color: $finna-navbar-content-link-hover-bg;
      }
    }
    > .active > a, a.active {
      &,
      &:hover,
      &:focus {
        color: $finna-navbar-content-link-active-color;
        background-color: $finna-navbar-content-link-active-bg;
      }
    }
    > .disabled > a, a.disabled {
      &,
      &:hover,
      &:focus {
        color: $finna-navbar-content-link-disabled-color;
        background-color: $finna-navbar-content-link-disabled-bg;
      }
    }

    // Dropdown menu items
    // Remove background color from open dropdown
    > .open > a, a.open {
      &,
      &:hover,
      &:focus {
        color: $finna-navbar-content-link-active-color;
        background-color: $finna-navbar-content-link-active-bg;
      }
    }
  }

  .navbar-toggler {
    border-color: $finna-navbar-content-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $finna-navbar-content-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $finna-navbar-content-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $finna-navbar-content-border;

    // Finna-specific custom display when collapsed
    @media (max-width: $grid-float-breakpoint-max) {
      color: $dropdown-link-color;
      background-color: $dropdown-bg;
      .navbar-nav,
      .navbar-nav > .dropdown,
      .open .dropdown-menu,
      // This last selector is a non-component CSS compatibility hack
      .open:not(.logoutOptions):not(.browsebar-dropdown):not(#language_menu) .dropdown-menu {
        > li > a {
          color: $dropdown-link-color;
          background-color: $dropdown-bg;
          &:hover,
          &:focus {
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
          }
        }
        > .active > a, a.active {
          &,
          &:hover,
          &:focus {
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
          }
        }
        > .disabled > a, a.disabled {
          &,
          &:hover,
          &:focus {
            color: $dropdown-link-color;
            background-color: $dropdown-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $finna-navbar-content-link-color;
    &:hover {
      color: $finna-navbar-content-link-hover-color;
    }
  }

  .btn-link {
    color: $finna-navbar-content-link-color;
    &:hover,
    &:focus {
      color: $finna-navbar-content-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $finna-navbar-content-link-disabled-color;
      }
    }
  }
}
