/* Version 1.3b */

.jquery_inspector {
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none
}
.jquery_inspector .loading {
  display:table;
  position:absolute;
  top:10px;
  left:50%;
  width:100px;
  margin-left:-50px;
  color:#FFF;
  font:10pt Tahoma,Verdana,Arial;
  text-align:center;
}

.jquery_inspector .turn_left,
.jquery_inspector .turn_right {
  z-index:1;
  position:absolute;
  top:4px;
  width:32px;
  height:32px;
  cursor:pointer;
}
.jquery_inspector .turn_left {
  left:5px;
}
.jquery_inspector .turn_right {
  right:5px;
}

.jquery_inspector .zoom_level { 
  z-index:1;
  font:14px Verdana;
  color:#FFF;
  text-align:center;
  position:absolute;
  bottom:10px;
  left:50%;
  margin:0 0 0 -50px;
  padding:3px 2px 3px 3px;
  width:80px;
  cursor:pointer;
  background:rgba(0,0,0,.5);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#88000000', EndColorStr='#88000000'); 
  border-radius:4px;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none
}
.jquery_inspector .zoom_level span {
  display:inline-block;
  width:41px
}
.jquery_inspector .zoom_level .plus,
.jquery_inspector .zoom_level .minus {
  color:#FFF;
  text-decoration:none
}

/* -- MAP -- */
.jquery_inspector .doc_map {
  position:absolute;
  bottom:0;
  right:0;
  width:150px;
  height:150px;
  border:1px solid #DDD;
  border-width:1px 0 0 1px;
  z-index:1;
  background:#000;
  background:rgba(0,0,0,.7);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#AA000000', EndColorStr='#AA000000'); 
  box-shadow:0 0 10px #000;
}
.jquery_inspector .doc_map img {
  position:absolute;
  z-index:1;
}
.jquery_inspector .doc_map .pane {
  display:block;
  position:absolute;
  left:10px;
  top:10px;
  border:2px solid #E00;
  background:url('../images/trans.png');
  overflow:hidden;
  width:130px;
  height:130px;
  cursor:move;
  z-index:2;
}

/* -- ZOOM SET BUBBLES -- */
.jquery_inspector .zoom-set {
  position:absolute;
  left:50%;
  margin:0 0 0 -58px;
  bottom:42px;
  width:95px;
  background:#FFF;
  border:1px solid #000;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:4px 5px;
  text-align:right;
}
.jquery_inspector .zoom-set input {
  font:12px Verdana
}
.jquery_inspector .zoom-set button {
  font:11px Verdana;
  vertical-align:top
}
.jquery_inspector .zoom-set:before,
.jquery_inspector .zoom-set:after {
  content:"";
  display:block;
  position:absolute;
  left:50%;
  width:0;
  bottom:-8px;
  margin-left:-6px;
  border-color:#000 transparent;
  border-style:solid;
  border-width:8px 8px 0
}
.jquery_inspector .zoom-set:after {
  bottom:-7px;
  margin-left:-5px;
  border-color:#FFF transparent;
  border-width:7px 7px 0
}