@CHARSET "UTF-8";

#headerRight, .searchbox, .breadcrumbs, .authorbox, .resulthead, #tabnav, .main .span-5, .result .span-4, .searchtools, .toolbar, .footer, .pagination, .offscreen, .checkbox {
    display: none;
}

body {
    margin-top:0;
}
.container, .main .span-18 {
    width:100%;
}

.result .span-9 {
    width: 810px;
    margin-right: 0;
}
