@CHARSET "UTF-8";

/** General ***/

body {
    margin: 1.5em 0;
    /*background:url("../images/bg_body.jpg") no-repeat scroll center top;*/
    background: #619144;
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.sidebarOnLeft .sidegroup {
    margin-left: 10px;
}

/* adjust some default blueprint styles */
p,ul,dl,form,input,textarea,select,label { margin-bottom: 0.2em; }
h1 { font-size: 1.5em; margin-top: 0.5em; margin-bottom: 0.5em; }
h2 { font-size: 1.4em; margin-top: 0.5em; margin-bottom: 0.5em; }
h3 { font-size: 1.3em; margin-top: 0.5em; margin-bottom: 0.5em; }
h4 { font-size: 1.2em; margin-top: 0.5em; margin-bottom: 0.5em; }
h5 { font-size: 1.1em; font-weight: bold; margin-bottom: 0.5em; }
h6 { font-size: 1em; font-weight: bold; margin-bottom: 0.4em; }
fieldset { padding:0 .4em .8em 1em;}
legend { font-size:100%;}
fieldset, #IE8#HACK { padding-top:0.4em; }

.container {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow:0 4px 8px #111;
}

.searchbox,.breadcrumbs,.main,.footer {
    border-top: 1px solid #ddd;
}

.header,.searchbox,.breadcrumbs,.main,.footer {
    padding: .8em;
}

.clearer {
    clear: both;
}

#logo {
    background:url("../images/vufind_logo.jpg") no-repeat scroll left center transparent;
    float:left;
    height:65px;
    width:300px;
}

#headerRight {
    width: 400px;
    float: right;
    text-align: right;
}

#langForm {
    margin-top: .3em;
}

label.invalid {
    background:url("../images/unchecked.gif") no-repeat scroll 0 0 transparent;
    color:#EA5200;
    font-weight:bold;
    padding-bottom:2px;
    padding-left:16px;
    margin-left: 5px;
}

/** class to make stuff "invisible" but still readable by screen readers */
.offscreen {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    display:inline;
}

div.dialogLoading {
    background: url(../images/dialog_loading.gif) no-repeat center center;
    height:100%;
}

.ajax_availability, .ajax_hold_availability {
    background: url(../images/ajax_loading.gif) no-repeat left top;
    padding:0 .5em .5em 20px;
}
.highlight {
    font-weight: bold;
    background: none;
}
.floatleft { float:left; }
.floatright { float:right; }
img.alignright {
    float: right;
    margin: 0 0 0 10px;
}
img.alignleft {
    float: left;
    margin: 0 10px 0 0;
}

p.listDescription {
    padding: .4em .4em 1em .4em;
}

/** Buttons to do "bulk" actions **/

div.bulkActionButtons {
    border-bottom: 1px solid #eee;
    padding: 1em 0;
}
div.bulkActionButtons input, div.bulkActionButtons label, div.bulkActionButtons span {
    margin-right: 10px;
}

div.bulkActionButtons a {
    padding-bottom: 0.2em;
}

div.bulkActionButtons input.button {
    background-color:transparent;
    background-position: 2px center;
    text-decoration: underline;
    border:0 none;
    cursor:pointer;
    padding:0 0 0 20px;
    vertical-align: top;
    color: #06C;
}
div.bulkActionButtons input.button:hover {
    color: #09D;
}

div.bulkActionButtons input.button {
    width: 0;  /* IE table-cell margin fix */
    overflow: visible;
}

div.bulkActionButtons input.button[class] {  /* IE < 7 ignores [class] */
    width: auto;  /* cancel margin fix for other browsers */
}

div.bulkActionButtons input.checkbox {
    vertical-align: top;
}
input.smallButton {
    background-position: 2px center;
    padding: 2px 2px 2px 22px;
}
a.smallButton {
    background-color:#EEE;
    background-position: 2px center;
    border:2px outset #DDD;
    color:#000;
    display:inline-block;
    font-size:10pt;
    padding: 1px 4px 1px 26px;
    text-decoration:none;
}
a.smallButton:active {
    border:2px inset #EEE;
}

/** Cart **/
.cartSummary {
    float:left;
}
.header .cartSummary {
    float:right;
}
ul.cartContent {
    list-style-type:none;
    margin:0;
    padding:0;
}

/** Alphabetic browse **/
.alphaBrowseResult {
    padding: 0 0.5em 0.5em 0.5em;
}

.alphaBrowseEntry {
    padding: 0.25em 0.5em;
    background-color: #eee;
    zoom: 1;
}

.alphaBrowseEntry.alt, .alphaBrowseEntry.alt * {
    background-color: #fff;
}

.alphaBrowseExtra {
    display: block;
    float: left;
    padding-left: .75em;
    line-height: 1.31em;
}

.alphaBrowseForm {
    zoom: 1;
}

.alphaBrowseHeading {
    float: left;
    width: 650px;
    line-height: 1.31em;
}

.alphaBrowseSource_dewey .alphaBrowseHeading {
    width: 200px;
    padding-right: .5em;
}

.alphaBrowseSource_dewey .alphaBrowseColumn_title {
    width: 450px;
}

.alphaBrowseSource_lcc .alphaBrowseHeading {
    width: 200px;
    padding-right: .5em;
}

.alphaBrowseSource_lcc .alphaBrowseColumn_title {
    width: 450px;
}

.alphaBrowseSource_title .alphaBrowseHeading {
    width: 300px;
    padding-right: .5em;
}

.alphaBrowseSource_title .alphaBrowseColumn_author {
    width: 200px;
}

.alphaBrowseSource_title .alphaBrowseColumn_format {
    width: 100px;
}

.alphaBrowseSource_title .alphaBrowseColumn_publishDate {
    width: 45px;
}

.alphaBrowseCount {
    float: right;
}

.alphaBrowseHeader {
    text-align: right;
    clear: both;
    font-weight: bold;
    zoom: 1;
}

.alphaBrowsePageLinks {
    margin: 1em;
    font-weight: bold;
    background-color: #fff;
}

.alphaBrowsePrevLink {
    float: left;
}

.alphaBrowseNextLink {
    float: right;
}

.alphaBrowseRelatedHeading {
    clear: left;
}

.alphaBrowseRelatedHeading .title {
    font-weight: bold;
    font-size: 90%;
    margin-left: 2em;
}

.alphaBrowseRelatedHeading li {
    margin-left: 4em;
}

.browseAlphabetSelectorItem {
    float: left;
    margin-right:5px;
    margin-left:5px;
}

.browseJumpTo {
    float: right;
    margin-right:5px;
    margin-left:5px;
}

/** Autocomplete */
.ui-autocomplete {
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
}

/** Publication Year facet */
fieldset.pubyearLimit {
    padding: 0;
    border: 0;
}
fieldset.publishDateLimit .ui-slider {
    clear: both;
    margin: .5em;
}


/*****************Breadcrumbs*******************/
div.breadcrumbs {
    overflow:hidden;
    padding:0;
    height:30px;
    line-height:30px;
    /* background-color:#ddd; */
}
div.breadcrumbs a, div.breadcrumbs em, div.breadcrumbs span {
    float:left;
    overflow:hidden;
    height:30px;
    padding:0 8px;
    font-style:normal;
    font-size: 90%;
}
div.breadcrumbs span {
    background:url(../images/bg_breadcrumb.png) no-repeat left center;
    overflow:hidden;
    padding:0;
    width:10px;
    font-size: 0pt;
    line-height: 0px;

    filter:alpha(opacity=40);
    opacity:0.4;
}
div.breadcrumbinner {
    margin:0 .4em;
}

/*****************Homepage*******************/
.searchHomeContent {
    padding:5em 0;
    margin:0 auto;
    width:800px;
    text-align:left;
}
.searchHomeForm {
    background-color: #E6EFC2;
    padding:2em;
    text-align:left;
    margin-top:.5em;
    font-size: 12pt;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #C6D880;
    color: #264409;
}
div.searchHomeForm div.searchform {
    width:600px;
    margin-left: auto;
    margin-right: auto;
}

.searchHomeForm a, .searchHomeForm a:hover {
    color:#264409;
}
.searchHomeBrowse {
    margin-left:auto;
    margin-right:auto;
    padding: .4em;
    width:800px;
}
.searchHomeBrowse h2 {
    border-bottom: 1px solid #94c632;
}

.searchHomeBrowse ul {
    list-style-type: none;
    padding:0;
}

#searchForm_type {
    padding:2px;
}

/******** Result List ***/

ul.recordSet {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.recordSet li {
    padding: .4em;
}

ul.recordSet li.alt {
    background-color: #eee;
}
ul.recordSet input.checkbox {
    display:block;
    float: left;
    margin-top: .2em;
    margin-left: 0;
    margin-right: .4em;
}
ul.recordSet .recordNumber {
    display:table;
    float: left;
    font-weight: bold;
    margin: 0;
    min-width:40px;
    text-align:right;
}
ul.recordSet .recordNumber .checkbox_ui {
    vertical-align:bottom;
    margin:0 3px 3px 2px;
}
ul.recordSet .addToFavLink {
    float: right;
    text-align: right;
}
.summcover {
    min-height: 1px; /* Chrome display glitch workaround */
    max-width: 70px;
    padding:0;
    margin:0;
}
.authorbox, .authorbio, .authoritybox {
    padding:0 0 .4em .4em;
    border-bottom: 1px #eee solid;
    margin-bottom:.5em;
    background-image:url(../images/bg_authorbox.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}
.authorBox .span-5 {white-space:nowrap;}
.authorbio .providerLink {
    margin-top: 1em;
    margin-bottom: .4em;
}
.searchtools {
    /*background-color: #f5f5f5;*/
    border-top: #eee solid 1px;
    padding: 1em;
    font-size: 90%;
}
.resulthead {
    padding:.4em .4em 0em .4em;
    border-bottom: 1px #eee solid;
    position: relative;
}
.savedLists {
    margin-top: .4em;
    padding-bottom:0.4em;
    padding-top:0.4em;
}
.savedLists ul { margin-top: 0; }
.savedLists ul li { padding:0; }

li.result blockquote {
  margin:0;
}
.groupCallnumber {
    margin-left: 18px;
}
.result .qrcodeHolder, .recordsubcontent  .qrcodeHolder {
    border: 1px solid #cfcfcf;
    position: absolute;
    display: none;
}

/** Side facets */

ul.filters {
    background-color: orange;
    color: white;
    list-style-type:none;
    margin:0;
    padding:0.2em 0.4em;
}
ul.filters img {
    vertical-align: top;
}
ul.filters a {
    color: white;
    text-decoration: none;
}
div.sidegroup h4 {
    border-bottom:2px solid #ddd;
}
dl.narrowList img {
    vertical-align: top;
}
dl.narrowList a:hover {
    /*text-decoration: underline;*/
}
dl.narrowList a {
    text-decoration: none;
}
.keywordFilterForm {
    margin: 5px 0px 5px 0px;
}
.navmenu dd {
    padding: 0.1em 0 0.1em 0.4em;
    list-style-type: none;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
}
.navmenu dt {
    margin-top:.75em;
    font-weight:bold;
    padding:0.2em 0.4em;
    background-color: #eee;
}

/* Icon Classes */

.bookbag {
    background-image:url(../images/fugue/bookbag.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}

input.bookbagView,
input.bookbagAdd,
input.bookbagDelete,
input.bookbagEmpty {
    background-color:transparent;
    display:inline;
    border:0;
    color:#06C;
    font:8pt Arial;
    text-decoration:underline;
    cursor:pointer;
    padding:0 .5em .5em 16px;
}
.bulkActionButtons input.bookbagView,
.bulkActionButtons input.bookbagAdd,
.bulkActionButtons input.bookbagDelete,
.bulkActionButtons input.bookbagEmpty {
    font-size:10pt;
}
.bookbagView:hover,
.bookbagAdd:hover,
.bookbagDelete:hover,
.bookbagEmpty:hover {
    color:#09f;
}

.bookbagView {
    background-image:url(../images/fugue/bookbag.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}

.bookbagAdd {
    background-image:url(../images/fugue/bookbagAdd.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.bookbagDelete {
    background-image:url(../images/fugue/bookbagDelete.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}

.bookbagEmpty {
    background-image:url(../images/fugue/bookbagEmpty.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}

.print {
    background-image:url(../images/silk/printer.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}

.login {
    background-image:url(../images/silk/user.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
}
.logout {
    background-image:url(../images/silk/door_out.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
}
.account {
    background-image:url(../images/silk/user.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
}
.new_account {
    background-image:url(../images/silk/user_add.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
}
.cite {
    background-image:url(../images/silk/report.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.export {
    background-image:url(../images/silk/application_add.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.sms {
    background-image:url(../images/silk/phone.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.tag {
    background-image:url(../images/silk/tag_blue.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.mail {
    background-image:url(../images/silk/email.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.fav {
    background-image:url(../images/silk/heart.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.edit {
    background-image:url(../images/silk/edit.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em 0 .5em 18px;
    margin-right:.7em;
}
.save {
    background-image:url(../images/silk/disk-black.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em 0 .5em 18px;
    margin-right:.7em;
}
.delete {
    background-image:url(../images/silk/delete.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 18px;
    margin-right:0;
}
.feed {
    background-image:url(../images/silk/feed.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-left:1em;
}
.list {
    background-image:url(../images/silk/list.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    /*margin-left:1em;*/
}
h3.list {
    padding-bottom:0;
    margin-bottom:0;
}
.add {
    background-image:url(../images/silk/add.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 18px;
    margin-right:0;
}
.available {
    background-image:url(../images/silk/bullet_green.png);
    background-repeat:no-repeat;
    color:#009900;
    padding-left:18px
}
.availableLoc {
    background-image:url(../images/fugue/tick-small.png);
    background-repeat:no-repeat;
    padding-left:18px
}
.checkedout {
    background-image:url(../images/silk/bullet_red.png);
    background-repeat:no-repeat;
    color:#cc0000;
    padding-left:18px
}
.checkedoutLoc {
    background-image:url(../images/fugue/cross-small.png);
    background-repeat:no-repeat;
    padding-left:18px
}
.cd {
    background-image:url(../images/silk/cd.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.dvd {
    background-image:url(../images/silk/dvd.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.electronic {
    background-image:url(../images/tango/www.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.map {
    background-image:url(../images/silk/map.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.globe {
    background-image:url(../images/silk/world.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.slide {
    background-image:url(../images/silk/photo.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.microfilm {
    background-image:url(../images/silk/film.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.photo {
    background-image:url(../images/silk/picture.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.video {
    background-image:url(../images/tango/video.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.kit {
    background-image:url(../images/silk/package.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.musicalscore {
    background-image:url(../images/silk/music.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.sensorimage {
}
.audio {
    background-image:url(../images/tango/audio-volume-high.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.physicalobject {
}
.manuscript {
    background-image:url(../images/silk/report_edit.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.ebook {
    background-image:url(../images/ebook.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.book {
    background-image:url(../images/silk/book.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.journal {
    background-image:url(../images/silk/report.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.newspaper {
    background-image:url(../images/silk/newspaper.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.qrcodeLink {
    background-image:url(../images/fugue/qrcode.png);
    background-repeat:no-repeat;
    padding:0 .5em .5em 20px;
    display: block;
}
.software {
    background-image:url(../images/silk/disk_multiple.png);
    background-repeat:no-repeat;
    background-position: left top;
    padding:0 .5em .5em 20px;
    margin-right:1em;
}
.iconlabel {
    line-height: 16px;
    font-size: 8pt;
    font-weight: bold;
}
.addThis {
    background-image:url(../images/silk/tag_yellow.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.holdPlace {
    background-image:url(../images/fugue/holdPlace.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.holdCancel {
    background-image:url(../images/fugue/holdCancel.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.holdCancelAll {
    background-image:url(../images/fugue/holdCancelAll.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.renew {
    background-image:url(../images/fugue/renew.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.renewAll {
    background-image:url(../images/fugue/renewAll.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}
.checkRequest {
    background-image:url(../images/fugue/checkRequest.png);
    background-repeat:no-repeat;
    padding-left:18px;
}
.holdBlocked {
    background-image:url(../images/fugue/holdBlocked.png);
    background-repeat:no-repeat;
    padding-left:18px;
}
.unknown {
    background-image:url(../images/silk/bullet_orange.png);
    background-repeat:no-repeat;
    color:#ff890f;
    padding-left:18px;
}

/***** Pagination *****/

.pagination {
    font-size:90%;
    padding:1em 0 1em 0;
    margin:1.5em 0;
    text-align:center;
}
.pagination a {
    padding: .2em .3em;
    margin-right:.5em;
    border: 1px solid #fff;
}
.pagination a:hover {
    border: 1px solid #cccccc;
}
.pagination span {
    padding: .2em .3em;
    margin-right:.5em;
    font-weight:bold;
}

/*** Record Page */
div.record {
    padding:0 1.5em;
}
div.recordsubcontent {
    padding:1em 1.5em 1em 1.5em;
}
.recordcover {
    display: block;
    padding:3px;
    background-color:#eee;
    border:1px solid #cfcfcf;
    margin: 1em auto 0;
    max-width: 120px;
}

div.record img.qrcode {
    display: block;
    margin: 1em auto 0;
    border:1px solid #cfcfcf;
}
.holdsMessage {
    margin-top: 1em;
}

/* hack to hide redundant titles introduced by syndetics plus */
#syn_nyreview .syn_title,
#syn_chreview .syn_title,
#syn_dbchapter .syn_title,
#syn_anotes .syn_title,
#syn_video_clip .syn_title {
    display:none;
}

/***** Citation Table *****/
.citation {
    font-size:90%;
}
.citation th {
    text-align:left;
    color:#666;
    padding:.3em 0 .3em 0;
    border-bottom: 1px solid #f3f3f3;
    vertical-align: top;
}
.citation tr {
    border-collapse: collapse;
}
.citation td {
    padding:.3em 0 .3em 1em;
    border-bottom: 1px solid #f3f3f3;
}
.citation tr, .citation td {
    vertical-align:top;
}

.citation tbody tr td {
    background:none repeat scroll 0 0 white;
}

div.recordsubcontent table.citation {
    width: auto;
}

table.authors th {
    font-size:120%;
    padding:0 0.8em;
}

/************* Tabs (Record Page) *****************/

#tabnav {
    font-size:90%;
    margin-top:1em;
    padding:0 0 0 1em;
    background-color:#fafafa;
    border-top:1px #eee solid;
    border-bottom: 1px #dcdcdc solid;
}
#tabnav ul {
float: left;
    margin:0;
    padding:0px 5px 0 0;
    list-style:none;
}
#tabnav li {
    float:left;
    margin:0 0 0 0px;
    padding:0 0 0 10px;
}
#tabnav a {
    float:left;
    display:block;
    padding:18px 10px 10px 5px;
    text-decoration:none;
    font-weight:normal;
    color:#000;
}
/* Commented Backslash Hack
    hides rule from IE5-Mac \*/
#tabnav a {float:none;}
/* End IE5-Mac hack */
#tabnav a:hover {
    color:#000;
}
#tabnav .active {
    background:url(../images/subnavTab_left.jpg) no-repeat left top;
    margin-bottom:-1px;
}
#tabnav .active a {
    background:url(../images/subnavTab_right.jpg) no-repeat right top;
    color:#000;
    padding:18px 10px 12px 0px;
}

/** Similar Items (record view) **/

ul.similar {
    list-style: none;
    padding: 0 13px 0 0;
    margin: 0px;
    text-align:justified;
}

ul.similar li {
    padding-bottom:10px;
}

/*********** Toolbar (Record View) ************/
.toolbar {
    border-bottom:1px solid #eee;
    text-align:right;
    font-size:90%;
    min-height:2em;
    padding-left:1em;
    margin-bottom:1em;
}
.toolbar ul {
    display:inline;
    height:23px;
    list-style-type:none;
}
.toolbar ul li {
    float:left;
    margin-left:.5em;
}
.toolbar ul.menu {
    display:block;
    margin-top: 0;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    position:absolute;
    background:white;
    height:auto;
    padding: 0;
}
.toolbar ul.menu li {
    border-bottom: 1px solid #cccccc;
    padding:5px;
    clear: left;
    position:block;
    width:100px;
    text-align: left;
    background:white;
    margin: 0px;
}

/*********** Toolbar (Favorites View) ************/
.toolbar ul li input.button {
    background-color:transparent;
    background-position: 2px center;
    border:0 none;
    cursor:pointer;
    margin-right:0;
    padding:0 0 0 23px;
    vertical-align: top;
    color: #06C;
}

.toolbar ul li input.button {
    width: 0;  /* IE table-cell margin fix */
    overflow: visible;
}

.toolbar ul li input.button[class] {  /* IE < 7 ignores [class] */
    width: auto;  /* cancel margin fix for other browsers */
}

.toolbar ul li input.checkbox {
    vertical-align: top;
}

/*** MARC view (Record page) **/

table.marc th {
    text-align: right;
    vertical-align: top;
}

/** tag list */
#tagList {
    width: 350px;
}

/***** Data Grid (Holdings) ******/

table.datagrid {
    width:100%;/*oringinally set to auto*/
    border-collapse: collapse;
    margin-bottom:1.5em;
}

table.datagrid th {
    color: #003366;
    background-color: #DDEEFF;
    border: solid 1px #99CCFF;
    text-align: left;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 5px 15px 5px 15px;
}

table.datagrid th a {
    color: #336699;
}

table.datagrid td {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 5px 10px 5px 10px;
}

table.datagrid td a {
    color: #003366;
}

table.datagrid tr.evenrow {
    background-color: #EEEEEE;
}

table.datagrid tr.oddrow {
    background-color: #DDDDDD;
}

.qrcodeHoldings {
    float: right;
    text-align: left;
}

.qrcodeHoldings a {
    float: none;
}

/* Comments */

ul.commentList {
    margin-bottom: 1em;
    list-style-type:none;
}
ul.commentList li {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    margin-bottom:1em;
}
ul.commentList li div.posted {
    color:#666;
    font-size: 80%;
    margin-top:1em;
    width:100%;
}

form#commentRecord {
    padding-left: 1.5em;
}
form#commentRecord #comment {
    vertical-align: middle;
}

/** Forms **/

label.displayBlock {
    display:block;
    font-weight:bold;
}
input.button {
}
#listForm fieldset {
    width: 400px
}

/** Citation **/

p.citationText {
    padding-left:25px;
    text-indent:-25px;
    width:95%;
}

/* Tag cloud */

.cloud1 {
    font-size: .8em;
}
.cloud2 {
    font-size: 1em;
}
.cloud3 {
    font-size: 1.2em;
}
.cloud4 {
    font-size: 1.4em;
}
.cloud5 {
    font-size: 1.6em;
}

/* New advanced search screen stuff */
.advSearchContent {
    /* Needed for IE7 compatibility: */
    width: 96%;
}
.groupSearchHolder {
    clear: both;
    padding: 10px 10px 5px;
}
.groupSearchHolder .advRow {
    padding: 1px 0px;
    clear:both;
}
.groupSearchHolder .advRow div {
    float: left;
    padding: 0px 5px;
}
.groupSearchHolder span.clearer {
    display: block;
    clear: left;
}
.groupSearchDetails .join {
    padding-right: 5px;
    float: left;
}
.groupSearchHolder .label, .groupSearchHolder .join {
    width: 140px;
    text-align: right;
}
.addSearch {
    padding: 0px 0px 4px 165px;
}
.groupSearchHolder .terms {
    width: 250px;
}
.groupSearchHolder .terms input {
    width: 100%;
}
.groupSearchHolder .field {
}
.group .groupSearchDetails {
    float: right;
    text-align: right;
    padding: 3px 5px;
}
.group0 .groupSearchDetails {
    border: 1px solid #D8D7D8;
    border-top: 0px;
}
.group1 .groupSearchDetails {
    border: 1px solid #94C632;
    border-top: 0px;
}
#searchHolder .group0 {
    border-top : 1px solid #D8D7D8;
    background:url(../images/gradient_grey.gif) repeat-y;
}
#searchHolder .group1 {
    border-top: 1px solid #94C632;
    background:url(../images/gradient_green.gif) repeat-y;
}
#searchHolder .group {
    margin-bottom: 10px;
}
.searchGroups {
    margin-bottom: 10px;
    font-size: 125%;
}
.searchGroups .searchGroupDetails {
    float: right;
}


/* Browse Lists */
.browseNav {
    font-size:90%;
    background-color:#fff;
    width: 215px;
    border: 1px solid;
    height: 300px;
    overflow: scroll;
}
.browseNav ul {
    width: 100%;
    display:block;
    list-style:none;
    margin: 0;
    padding: 0;
}
.browseNav li {
    width: 100%;
    display:block;
}
.browseNav a {
    display:block;
    background:url(../images/tabs_bg.jpg) repeat-x right top;
    padding:.7em 1em .7em 1em;
    text-decoration:none;
    /*
    border-top: 1px solid #ccc;
    border-left: 1px solid #eee;
    border-right: 1px solid #ccc;
    */
    color:#333;
}
.browseNav a:hover {
    color: #0066CC;
    background:url(../images/tabs_hover_bg.jpg) repeat-x right top;
}
.browseNav .active a:hover {
    background:url(../images/tab_active_bg.jpg) repeat-x right top;
}
.browseNav a.first {
 border-left: 1px solid #ccc;
}
.browseNav .active a {
    background-image:url(../images/tab_active_bg.jpg);
    color:#000;
}
.browseNav a.viewRecords {
    float:right;
    display:table;
    font-size:80%;
    height:100%;
    padding:5px 8px;
    background:rgba(255,255,255,.3);
    margin-left:3px;
}
.browseNav a.viewRecords:hover {
    background:rgba(255,255,255,.6);
}

/** Google search **/
#searchcontrol .gsc-control {
    width: 100%;
}

/** Solr record editor */
div.fieldValue {
    width: 500px;
    overflow: auto;
}

/** system unavailable and other fatal error pages */
div.unavailable, div.fatalError {
    width: 65%;
    margin:5em auto 5em auto;
    padding: 2em 5em;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    font-size:125%;
}
div.debug code {
    font-size: x-small;
}

/** Open Library Subjects **/
.olSubjectImage {
    width:36px;
    border: 1px solid black
}

.olSubjectCover {
    float:left;
    margin-right: 10px;
}

.olSubjectAuthor {
    color:black;
    display:block;
}

.olSubjectMore {
    text-align:right;
    text-decoration:none;
}

/* Grid View */

.hitCount {
    position: absolute;
    bottom: 0px;
}

.viewButtons {
    text-align: right;
}
.viewButtons a {
    text-decoration:none;
}
.viewButtons img {
    border:1px solid transparent;
    border-radius:3px;
}
.viewButtons .selected {
    border-color:orange;
}

.gridImageBox {
    text-align:center;
    width:155px;
    height:130px;
    overflow:hidden;
    display:block;
}

.gridImage{
    height:130px;
}

.gridTitleBox {
    height:55px;
    display:block;
    text-align:center;
    font-size:86%;
    width:155px;
}

.gridTitle {
    display:block;
    height:40px;
    overflow:hidden;
    line-height:1.2em;
}

td.gridCell {
    width: 25%;
}

tr:nth-child(even) td.gridCell {background-color:white;}

/* These two separate styles cannot be combined; they are both needed for
   cross-browser support. */
tr:nth-child(even) td.gridMouseOver {
    background-color:#f5f5f5;
}
.gridMouseOver {
    background-color:#f5f5f5;
}

/* Result Limit */
#limit {
    margin-bottom: 2px;
}

.limitSelect {
    text-align: right;
}

/* Lightbox-specific tweaks */
#modalDialog div.record {
    padding:0;
}
#modalDialog .hideinlightbox {
    display: none;
}

/************************* COLLECTIONS PAGE ************************/
.disambiguationDiv {
    background-color: #FFF;
    padding: 20px;
}

.disambiguationDiv h1 {
    font-size: 2em;
}

#disambiguationItemsDiv {
    padding: 5px;
    margin-bottom: 30px;
}

.disambiguationItem {
     background-color: #EEEEEE;
}

.disambiguationItem.alt {
     background-color: #FFF;
}

.collectionDetails {
    background-color: #FFF;
    padding:20px 1em 1em 1em;
    border: 2px solid #EEEEEE;
    margin-top: -2px;
    margin-bottom: 20px;
}

.collectionDetails form {
    border: 1px solid #EEEEEE;
}

.collectionDetails .sortSelector {
    border: 0px solid #FFF;
    float: right;
}

.collectionDetails li.result {
    background-color: #EEEEEE;
    margin-bottom: 0px;
}

.collectionDetails li.result.alt {
    background-color: #FFF;
    margin-bottom: 0px;
}

.collectionDetails .pagination span {
    border: 1px solid #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
}

.collectionDetails .paginationTop .pagination {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-bottom: 0;
    padding-top: 0;
}

.collectionDetails .paginationTop .pagination span {
    border: 1px solid #EEEEEE;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
}

.collectionDetails .paginationTop .pagination a:hover {
    border: 1px solid #EEEEEE;
}

.collectionDetails .paginationTop .pagination a {
    border: 1px solid #FFF;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
}

.collectionDetails .viewButtons {
    float:right;
    margin-right:10px;
}

.collectionBrowseResult {
    padding: 0 0.5em 0.5em;
    border-top: solid 1px #EEEEEE;
}

.collectionBrowseEntry.listBrowse.alt {
    background-color:#EEEEEE;
}

.collectionBrowseHeading {
    float: left;
    width: 80%;
    padding: 0.5em;
}

.collectionBrowseCount {
    padding: 0.5em;
    float: right;
}

/* Rss Recommendations */
div.suggestionHeader {
    min-height:30px;
    padding-top: 5px;
    border: 2px solid #EEE;
}

div.submenuSuggestion {
    margin-top: 10px;
}

.submenuSuggestion h4 {
    font-family: Georgia,"Times New Roman",Serif;
    color: #7c1416;
    padding-top:12px;
}

.suggestionLogo {
    float:right;
    margin-bottom:2px;
}
.suggestionWhatsThis {
    color: #7C1416;
    font-family: Georgia,"Times New Roman",Serif;
    font-size: 10px;
    float:right;
    clear:right;
}
.suggestedResult {
    background-color:#EEEEEE;
    padding:10px 0px 10px 0px;
}
.suggestedResult.alt {
    background-color:#FFF;
}

ul.suggestion {
    border: 0px solid #EEE;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
ul.suggestion li{
    padding-left: 4px;
    padding-right: 4px;
}

/* Europeana recommendation images */
.europeanaImage {
    width:65px;
    border: 1px solid white;
}

.europeanaImg {
    float:left;
    margin-right: 10px;
}

/* Google map */
.mapClusterToggle{
    position: relative;
    float: right;
    top: -474px;
  left: -92px;
    width: 63px;
    height: 19px;
  background-color: #FFF;
    padding: 0px 4px 0px 4px;
  border:1px solid #CDF;
  border-radius:1px;
  box-shadow:2px 2px 3px #788;
  background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
}
.mapClusterToggle input {
  vertical-align:top;
}
.mapClusterToggle label {
  vertical-align:middle;
}
.mapInfoWrapper{
    min-width: 450px;
    max-width: 450px;
    overflow: hidden;
    display: block;
    max-height: 275px;
}
.mapInfoResult {
    min-width: 440px;
    max-width: 440px;
    background-color:#EEEEEE;
    padding:2px 2px 2px 2px;
}
.mapInfoResult.alt {
    background-color:#FFF;
}
.mapSeeAllDiv{
    font-size:1.2em;
    font-weight: bold;
    text-align:center;
}
.mapInfoResults{
    float: left;
    border:1px solid #EEEEEE;
}
.mapInfoResultThumb {
    float: right;
}
.mapInfoResultThumbImg {
    height: 32px;
    width: 32px;
}
/************pubdate_vis timeline**********/
.dateVisClear {
    background-color: #FFF;
    border: 2px solid #545454;
    position: absolute;
    left: 6px; top: 6px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/* table for displaying full status in result list */
table.summHoldings {
    font-size: smaller;
    margin-bottom: .5em;
}
table.summHoldings th {
    padding: 0;
    color: #666666;
    border-bottom: 1px solid #999999;
}
table.summHoldings td {
    background: inherit !important;
    padding: 0;
}
table.summHoldings .locationColumn {
    width: 50%;
}
table.summHoldings .callnumColumn {
    width: 30%;
}
table.summHoldings .statusColumn {
    width: 20%;
}
a.summHoldings {
    font-size: smaller;
}
/*****************contextHelp*******************/

table#contextHelp td, table#contextHelp tr {
    padding: 0;
}

table#contextHelp {
    z-index: 1;
    display: none;
    position: absolute;
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 400px;
    top: 0;
}
table#contextHelp tr.top td, table#contextHelp tr.bottom td {
    background-image: url(../images/contextHelp.png);
    background-repeat: repeat-x;
    height: 9px;
}
table#contextHelp tr.top td.left {
    background-position: 0 0;
    width: 4px;
}
table#contextHelp tr.top td.center {
    background-position: 0 100%;
}
table#contextHelp tr.top td.right {
    background-position: -4px 0;
    width: 4px;
}
table#contextHelp tr.bottom td.left {
    background-position: -12px 0;
    width: 4px;
}
table#contextHelp tr.bottom td.center {
    background-position: 0 -9px;
}
table#contextHelp tr.bottom td.right {
    background-position: -8px 0;
    width: 4px;
}
table#contextHelp tr.middle td{
    background: #ededed;
}
table#contextHelp td.body {
    padding: 12px 10px;
    background: #ededed;
}
table#contextHelp td.body h2 {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #2D4687;
    font-weight: bold;
}
table#contextHelp a {
    color: #04778E;
    /*border-bottom: solid 1px #ACD4DB;*/
    text-decoration: underline;
    font-weight: bold;
}
table#contextHelp a:hover {
    color: #024A59;
    /*border-color: #82A1A5;*/
}
table#contextHelp div.arrow {
    height: 6px;
    background-image: url(../images/contextHelp-arrow.png);
    background-repeat: no-repeat;
    margin: 0 15px;
}
table#contextHelp div.arrow.down {
    background-position: 0 -6px;
    margin-top: 3px;
}
table#contextHelp div.arrow.up {
    background-position: 0 0;
    margin-bottom: 3px;
}
table#contextHelp p {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
}
table#contextHelp p.separator {
    background: url(../images/dashed-line-grey.gif) 0 top repeat-x scroll;
    margin-top:15px;
    padding-top:15px;
}
div#closeContextHelp {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: -6px;
    margin-right:-4px;
    background: url(../images/cross-stack.png) 0 0;
    cursor: pointer;
}
div#closeContextHelp:hover {
    background-position: 0 -16px;
}
div#closeContextHelp:active {
    background-position: 0 -32px;
}

.sysInfo {
    margin: 0 auto;
    padding: 1em;
    background-color: #FFEF8F;
    border: 2px solid #F9DD34;
    border-radius: 5px 5px 5px 5px;
}
.confirmDialog {
    margin: auto;
}
.confirmDialog form {
    display:inline-block;
    float: center;
}

.mobileViewLink {
    width:100%;
    padding:10px;
    background-color: #FDD5A3;
    border: solid 2px #E77825;
    font-size:24px;
}

/* Make sure COinS information is invisible */
.Z3988 {
    display: none;
}

#hierarchyTreeHolder, #hierarchyRecordHolder {
    background-color: #FFF;
    padding: 0.5em;
}

#hierarchyTreeHolder {
    border: 1px solid #DCDCDC;
}

.collectionDetailsTree #hierarchyTreeHolder, .collectionDetailsTree #hierarchyRecordHolder {
    border-top: 0;
}

#hierarchyTree, #hierarchyRecord {
    padding: 0.5em 0.5em 0.5em 0;
    max-height:375px;
    min-height:375px;
    overflow: hidden;
    overflow-y: auto;
}

#hierarchyRecord {
    overflow: auto;
}

#hierarchyRecord th {
   width: 12em;
}

#treeSearch {
    display:none;
    float: right;
    width: 100%;
    border: 1px solid  #DCDCDC;
}

#treeSearch #treeSearchText{
    display:block;
    float:right;
    margin: 1px 0px 0px 0px;
}

#treeSearch #search {
    display:block;
    float:right;
    margin-bottom: 0px;
}

#treeSearch #treeSearchType {
    display:block;
    float:right;
    margin:2px 4px 0px 4px;
}

#treeSearch #treeSearchNoResults {
    display:none;
    float:left;
    color: #AF1B0A;
    margin:3px 0px 0px 5px;
}

#treeSearch #treeSearchLoadingImg {
    display:none;
    float:right;
    margin:3px 4px 4px 5px;
}

#treeSearchLimitReached {
    display:none;
    color: #AF1B0A;
    margin:3px 0px 0px 5px;
}

#modalDialog #hierarchyTree {
    max-height: 100%;
    min-height: 100%;
    overflow: auto;
    overflow-y: auto;
}

#hierarchyTree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree {
    background-image:url(../images/fugue/tree.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}

.currentTree, .hierarchyTreeLinkText {
    background-image:url(../images/fugue/treeCurrent.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}

#hierarchyTree #treeList li {
    background-image:url(../images/fugue/treeItem.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.currentRecord {
    background-image:url(../images/fugue/treeItemCurrent.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.hierarchy {
    background-image:url(../images/fugue/collection.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.currentHierarchy {
    background-image:url(../images/fugue/collectionCurrent.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.currentHierarchy > a, #hierarchyTree #treeList li.currentRecord > a {
    color: #000;
    font-weight: bold;
}

#toggleTree {
    background-image:url(../images/fugue/treeCurrent.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#treeSelector {
    background-color: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-bottom: 0 none;
    padding: 0.25em;
}

.collectionDetailsTree #treeSelector {
    background-color: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-top: 0 none;
    padding: 0.25em;
}

#treeSelector a {
    margin-right: 1em;
}

.jstree-highlight {
    font-weight: bold;
}

/* hides the div so that only people with JavaScript will see the tab */
div.slideOutForm {
    display: none;
}

/* stylizes the feedback tab div */
.slide-out-div {
  padding: 20px;
  width: 270px;
  height: 300px;
  background: #6B8F25;
  border: 1px solid #000000;
  z-index: 9;
  color: white;
}

/* larger font size for "send us your feedback" */
p.feedbackHeader {
    font-size: 1.4em;
}

/* this is used to change the properties of errors in the feedback tab */
#contact_form .error {
  padding: .1em;
  line-height: 2.5;
}

#contact_form .invalid {
  background-color: white;
}

/* changes the text on the feedback home page */
.feedbackPageLabel {
    color: black;
}

/* These two sections change the colors of the selected and unselected text fields */
.feedbackSelect {
    background: #D6FFAD;
}

.feedbackDeselect {
    background: #FFFFFF;
}

/* Creates and positions the new handle on the feedback form */
div.handle {
    cursor:pointer;
    text-decoration: none;
}

#feedbackTabBox {
    margin-top: 0px;
    margin-left: 0px;

    width:30px;
    height:86px;
    background-color:#6B8F25;
    overflow: visible;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-top: solid 1px black;

    padding: 0;
    position: relative;
}

#feedbackTabText {
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    -moz-transform: rotate(-90deg); /*Firefox*/
    width: 86px;
    height: 30px;
    margin-top: -58px;
    margin-left: -28px;
    position: relative;
    text-indent: 0;
    text-align: center;
    color: white;
    font: bold 15px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    z-index: 10;
}

.searchTabNav {
    border-bottom:1px solid #619144;
    display:table;
    list-style:none;
    padding:0 10px 1px 10px;
}
.searchTabNav li {
    background:#EFD;
    border:1px solid #619144;
    display:inline;
    font-size:10pt;
    margin:0 1px;
    padding:3px 6px;
    text-align:center;
    width:60px;
}
.searchTabNav li.active {
    background:#FFF;
    border-bottom:1px solid #FFF;
}
.searchTabNav li.active a {
    color:#000;
    text-decoration:none;
}

.combinedResult {
    width: 47%;
    margin: 5px;
    padding: 5px;
    float: left;
    border: 1px solid #eee;
}

.combinedResult .span-4, .combinedResult ul.recordSet .recordNumber {
    display: none;
}

.combinedResult .span-9 {
    width: 330px;
}

.combinedResult .span-2 {
    clear: left;
    float: left;
}

.combinedResult .more_link {
    text-align: center;
    border-top: 1px solid #eee;
}