.browsebar {
  width: 100%;
  background-color: $finna-browsebar-background;
  bottom: 0;
  color: $finna-browsebar-link-color;
  padding-top: 2px;
}
.browsebar .nav>li .iconlabel:before,
.browsebar .nav-dropdown-label.iconlabel:before,
.browsebar .dropdown-menu a.iconlabel:before{
  vertical-align: center;
  font-size: 1.3em;
  margin-right: 0.5em;
}
.browsebar .navbar {
  border-radius: 0;
  border: none;
  max-width: none;
  background-color: transparent;

  .nav-wrapper:not(.priority-nav) .nav-ul,
  .navbar-nav.nav-ul {
    flex-wrap: wrap;
    flex-direction: initial;
  }
}
.browsebar .nav>li {
  line-height: normal;
}
.browsebar .navbar {
  --#{$prefix}navbar-padding-y: 0;

  .navbar-nav {
    margin: 0;
    & > li > a {
      color: $finna-browsebar-link-color;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 1.1em;
      height: 60px;
      line-height: 60px;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: inline-flex;
      align-items: baseline;
      gap: 0.2rem;
    }
  }
}
.browsebar button .iconlabel {
  color: $finna-browsebar-link-color;
}
.browsebar .nav>li>a:hover, .browsebar .nav>li>a:focus {
  background-color: darken($finna-browsebar-background, 5%);
}
.browsebar-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  padding-right: 25px;
  line-height: 60px;
  float: left;
}
@include media-breakpoint-down(sm) {
  .browsebar {
    .dropdown-menu {
      position: absolute;
      background: $body-bg;
    }
    .navbar {
      min-height: 40px;
    }
  }
}

.browsebar {
  .priority-nav__dropdown {
    left: 0;
    top: 45px;
    li > a.iconlabel {
      margin: 0px;
    }
  }
  .dropdown-menu-wrapper {
    display: inline-flex;
  }
  .nav-dropdown-toggle {
    height: 60px;
    line-height: 60px;
    font-size: 1.1em;
    border: none;
    background-color: transparent;
    color: $finna-browsebar-link-color;
    padding: 0;
    padding-left: 1em;
    &:before {
      content: "\e00d";
      font-family: finnaicons;
      font-size: 1.3em;
      margin-right: 0.5em;
      padding-right: 3px;
    }
    &:after {
      font-family: finnaicons;
      content: "\e613";
      vertical-align: middle;
      margin-left: 5px;
    }
    &:hover {
      background-color: darken($finna-browsebar-background, 5%);
    }
    .nav-dropdown-label {
      min-width: 200px;
      line-height: 64px;
      .caret {
        margin-left: 5px;
      }
    }
  }
  nav.navbar {
    // `display: block` required for priority-nav
    display: block;
    width: 100%;
    float: left;
    .nav-wrapper {
      margin-left: 75px;
    }
  }
}

.browsebar .browse-link {
  width: 30%;
  float: right;
  background: $finna-browsebar-highlight-background;
  padding: 0px 10px;
  line-height: 64px;
  a {
    display: inline-block;
    color: $finna-browsebar-link-color;
    font-size: 1.1em;
    i {
      font-style: normal;
      font-size: 1.1em;
      line-height: 1.5em;
      vertical-align: middle;
      color: $finna-browsebar-link-color;
    }
  }
  & ~ nav.navbar {
    @include media-breakpoint-only(sm) {
      width: 65%;
    }
    @include media-breakpoint-up(md) {
      width: 70%;
    }
  }
  @include media-breakpoint-down(md) {
    width: 35%;
  }
}
