.collection-list-controls {
  display: flex;
  margin-bottom: 0.5em;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    .sort-and-view-buttons {
      margin-top: 10px;
    }
  }
  @include media-breakpoint-up(xs) {
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .sort-and-view-buttons {
    display: flex;
    flex-direction: row;
  }
  .filter-input {
    flex-grow: 1;
    white-space: nowrap;
    .input-group {
      width: 250px;
      display: flex;
      align-items: normal;
      #keywordFilter_lookfor {
        height: 40px;
        border-right: none;
        border-radius: 4px 0 0 4px;
      }
    }
  }
  button.btn-primary {
    width: auto;
    height: 40px;
    padding: 0 10px;
    font-size: $font-size-base;
    font-weight: $btn-font-weight;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view-option-container, .sort-option-container {
    margin: auto 0 auto 5px;
  }
}

.template-dir-collection .mobile-navigation {
  bottom: 44px;
}

.collectionlist-tab .finna-filters {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 0.5em;
}

.template-dir-collection .record-accordions.record-tabs {
  width: 100%;
  padding: 0;
}
