.combined-list {
    margin-top: 1em;
    @include media-breakpoint-up(sm) {
        margin-top: 70px;
    }
    .combined-titles {
        border-bottom: 4px solid $gray-lighter;
        padding-bottom: 10px;

        @include media-breakpoint-up(sm) {
            margin-top: -50px;
        }
    }
    .combined-list-title {
        padding-bottom: 5px;
        display: inline;
    }
    .combined-search-results {
        margin: 10px 0 15px;
    }
    & .result .combined-save-record {
        margin-top: 10px;
        font-size: 1.05em;
    }
    & h4 {
        display: inline;
    }
    .show-list-details {
        line-height: 25px;
        margin: 0px;
        color: $link-color;
        &:hover {
            cursor: pointer;
        }
    }
    .sub-label {
        margin-top: 10px;
    }
    & .filters-active {
        & .fa {
            float: right;
        }
    }
}

/* ------ COMBINED ------ */
@include media-breakpoint-up(sm) {
    .combined-search-container {
        display: flex;
        .result { margin-left: 0; }
        .result-body {
            float: none;
            width: auto;
        }
        .result-links { display: none; }
    }
    .combined-column {
        flex: 0 1 100%;
        padding-left: 1rem;
        &:first-child {
            border-right: 4px solid $gray-lighter;
            padding-right: 1rem;
            @include media-breakpoint-down(sm) {
                border-right: none;
                & .combined-titles {
                    margin-top: 20px;
                    border-bottom: none;
                }
            }
        }
        &:last-child {
            border-left: 4px solid $gray-lighter;
            margin-left: -4px;
            @include media-breakpoint-down(sm) {
                border-left: none;
                border-top: 4px solid $gray-lighter;
                margin-left: 0px;
                & .combined-titles {
                    margin-top: 20px;
                    border-bottom: none;
                }
            }
        }
    }
    .combined-column:last-child { padding-right: 1rem; }
}
