/* --- Staff View Highlight --- */
.hljs-pi {
	  color: $gray-light;
}
.hljs-tag {
	  color: $primary;
}
.hljs-title {
	  color: $primary;
}
.hljs-attribute {
	  color: #1d3e81;
}
.hljs-value {
	  color: #df5000;
}
