.swipe-arrow-navigation {
  position: fixed;
  width: 50px;
  height: 50px;
  background: $link-color;
  top: 50%;
  color: $body-bg;
  border-radius: 50%;
  &.arrow-navigation-left {
    left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &.arrow-navigation-right {
    right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
  }
  .fa-arrow-right, .fa-arrow-left {
    color: $body-bg;
    top: 10px;
    left: 8px;
    position: absolute;
    font-size: 30px;
  }
}

@include media-breakpoint-down(md) {
  .finna-navbar {
    min-height: 64px;

    .nav > li > a {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

// fix navbar for logoutoptions
.finna-navbar .navbar-nav .logoutOptions {
  @include media-breakpoint-down(sm) {
    margin: 0;
  }
  .dropdown-menu {
    left: auto;
    > li {
      > a {
        width: 250px;
        .icon {
          padding-top: 3px;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      right: -30px;
    }
  }
  .username {
    display: inline-block;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    @include media-breakpoint-down(md) {
      max-width: 80px;
    }
    @include media-breakpoint-down(xs) {
      @include visually-hidden();
    }
  }
  .description {
    font-size: 0.9em;
    line-height: 1.2em;
  }
}

@media(max-width: $grid-float-breakpoint) {
  #loginOptions button {
    background-color: $body-bg;
    a {
      color: $action-link-color;
    }
  }

  .finna-navbar .navbar-collapse {
    .dropdown-toggle {
      width: 100%;
    }
    & > ul > li {
      border-bottom: 1px solid $gray-lighter;
    }
    .dropdown-menu {
      border: 0;
      box-shadow: none;
      margin-top: 0;

      & > li {
        border-bottom: none;
      }
      .dropdown-item {
        border: 0;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}

// content-navigation-menu
.main.template-dir-content.template-name-content .content-navigation-menu {
  margin: 20px 0px;
}

.finna-navbar {
  // #loginOptions.btn-uppercase included for back-compatibility
  .login-button, #loginOptions .btn-uppercase {
    display: block;
    text-transform: uppercase;
  }
  .nav-item > .nav-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    --#{$prefix}nav-link-color: #{$header-text-color};
    --#{$prefix}nav-link-hover-color: #{$header-text-hover-color};
    --#{$prefix}navbar-active-color: #{$header-text-active-color};
  }
  .dropdown-menu > li > .dropdown-item.active:not(:hover) {
    font-weight: bold;
    color: var(--#{$prefix}dropdown-link-color);
    background-color: var(--#{$prefix}dropdown-link-bg);
  }
}

/* Finna breadcrumbs */

.breadcrumbs {
  background-color: $breadcrumb-bg;
  display: none;
}
.template-name-cites, .template-name-citedby {
  .breadcrumbs {
    display: block;
    font-weight: 600;
    .breadcrumb {
      padding-left: 0;
    }
  }
}
/* #SCSS> */
@if ($breadcrumbs == true) {
  .breadcrumbs {
    display: block;
  }
  .record.record-row {
    margin-top: 0;
  }
}
/* <#SCSS */

.breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
}

/* End of Finna breadcrumbs */

#my-info-dropdown-menu {
  width: 280px;
  background-color: $body-bg;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, .275));

  .card-selection {
    @include media-breakpoint-down(md) {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      max-height: 200px;
    }
    p {
      padding-left: 15px;
      margin-bottom: 0px;
    }
    #select-card-label-dropdown {
      display: none;
    }
    .library-card {
      display: flex;
      flex-direction: row;
      padding: 0 15px;
      white-space: wrap;
      word-wrap: anywhere;
      min-height: 35px;
      .selected-icon {
        padding-right: 15px;
        width: 10px;
        align-self: center;
        color: $primary;
      }
      > a, .barcode-container {
        border-bottom: 1px solid $gray-lighter;
        color: $text-color;
        span {
          padding: 3px 0px;
        }
      }
      .card-name span {
          display: inline-flex;
          line-height: 1.5;
          align-items: center;
      }
      .barcode-container {
        height: auto;
        display: flex;
        align-items: center;
        width: 20%;
        a {
          justify-content: center;
        }
        .barcode-icon {
          margin-left: 0;
          color: $text-color;
          font-size: 20px;
        }
      }
    }
    > :last-child a, > :last-child .barcode-container {
      border-bottom: 0;
    }
    > a {
      justify-content: left;
    }
    > a:not(.card-header) {
      padding-left: 2rem;
    }
    .icon {
      color: $primary;
    }
  }
  > li {
    border-bottom: 1px solid $gray-lighter;
    cursor: pointer;

    > ul {
      line-height: 20px;
      > li > a {
        text-indent: 5%;
        li {
          height: 25px;
        }
      }
    }
    a {
      width: 100%;
      &:hover {
        text-decoration: none;
      }
      .sign-out-icon {
        font-size: 1.2em;
        line-height: 1em;
      }
    }
  }

  > li:last-child > a, li:last-child {
    border-bottom: none;
  }
}

// Default styling of Finna Jump menus
.jumpMenuForm {
  height: 38px;
  label {
    font-weight: normal;
    margin-left: 10px;
  }
}
.jump-menu-style {
  padding: 0;
  position: relative;
  width: auto;
  z-index: 1;
  display: inline-block;
  min-width: 60px;
  select {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    display: block;
    font-size: 100%;
    font-weight: 600;
    line-height: 1em;
    margin: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  option {
    background: $body-bg;
    color: $gray;
    padding: 5px;
    &:hover {
      background-color: $gray-light;
    }
  }

  &:before {
    display: block;
    font-size: 1em;
    height: 100%;
    padding: 0 20px 0px 2px;
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    width: 1em;
    z-index: -1;
  }
  &.controls {
    border-radius: $finna-button-radius;
    background-color: $primary;
    padding-top: 0px;
    transition: background-color .1s linear;
    option:checked {
      background: $btn-primary-bg;
      color: $body-bg;
    }
  }
  &.controls:before {
    transition: background-color .1s linear;
    background: $btn-primary-bg;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: $body-bg;
    line-height: 40px;
  }
  &.disabled {
    @include opacity(0.5);
  }
}
.jump-menu-style select::-ms-expand {
  display: none; /* to ie 10 */
}
:-moz-any(.prefilter-select,.jump-menu-style.controls):before {
  background-color:  $body-bg; /* this is necessary for overcome the caret default browser */
  pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
  z-index: 1; /* this is necessary for overcome the pseudo element */
}

header {
  box-shadow : 0 1px 0 1px rgba(0,0,0,0.1);
  z-index: $zindex-header;
  position: relative;
}
