//== PCI
.primo-available-online {
  p {
    margin: 0px;
  }
  a:not(.icon-link) {
    display: inline-block;
    line-height: 1em;
  }
}
.primo-available-online {
  & .host {
    font-size: 0.9em;
    color: $gray-light;
  }
  & .fulltext-available .more-options {
    display: none;
  }
}
.primo-available-online-record {
  & .more-options {
    display: none;
    margin: 5px 0px;
    font-size: 1.08em;
  }

  & .online-source {
    color: $gray-light;
    font-size: .9em;
  }
}
