//== Styling Finna sidebar checkbox filters
#sidebar .checkbox-filters {
  padding: 0px;
  margin: 10px 0 15px;

  @extend .checkbox-container;

  .checkbox {
    margin: 8px 0px;
    &.disabled label > span {
      @include opacity(0.5);
      cursor: $cursor-disabled;
    }
    &.blender-backend-secondary {
      margin-bottom: 1.5em;
    }
  }
  label {
    margin-left: 0px;
    line-height: 1em;
  }
  label:before {
    margin-right: 5px;
    margin-left: -22px;
  }
  .badge {
    margin-top: 4px;
    @include media-breakpoint-between(sm, md) {
      max-width: 56px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 6px;
    }
  }
}

.sidebar {
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    clear: both;
  }
}

.sidebar :not(.recordProvidedBy) h1,
.sidebar > h1,
.sidebar :not(.recordProvidedBy) h2,
.sidebar > h2 {
  padding: 15px;
  background: $sidebar-background;
  color: $sidebar-header-text-color;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  word-wrap: break-word;
  .icon {
    color: $sidebar-header-icon-color;
  }
}

.sidebar :not(.recordProvidedBy) .side-facets-header-container,
.sidebar > h1,
.sidebar > h2 {
  margin-bottom: 5px;
  @include media-breakpoint-down(sm) {
    position: sticky;
    top:0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    .finna-toggletip {
      margin-right: auto;
      padding-left: 10px;
    }
  }
}
.sidebar .side-facets-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $sidebar-background;
  color: $sidebar-header-text-color;
  padding: 10px 15px;
  align-items: baseline;
  h1 {
    padding: 0;
  }
  button {
    background-color: $sidebar-background;
    color: $sidebar-header-text-color;
    border: none;
    font-size: 1.2rem;
  }
}

.list-group {
  margin-bottom: 5px;
}

.list-group-item,
button.list-group-item {
  position: relative;
  font-size: 1em;
  vertical-align: middle;
  border: none;
  &:first-child {
    @include border-top-radius(0px);
  }
  &:last-child {
    @include border-bottom-radius(0px);
  }
  // title custom coloring
  &.title {
    background: $facet-header-background;
    color: $facet-text-color;
    &:hover,
    &:focus {
      background: $facet-header-background;
      color: $facet-text-color;
    }
  }
}

.list-group {
  &.record-organisation {
    padding: 3px 15px 10px;
    margin-bottom: 0px;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    a {
      font-weight: bold;
    }
  }
  &.organisations {
    padding: 0px;
    margin-bottom: 10px;
    background: $list-group-bg;
    .record-organisation {
      background: $body-bg;
      padding: 5px 10px;
    }
    .other-organisation-links a {
      padding: 5px 10px;
      font-weight: bold;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      }
    h5 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 10px;
      font-weight: normal;
    }
    a {
      line-height: 1em;
    }
    .more-link, .less-link, .less-link-top {
      padding-left: 10px;
    }
    .more-link {
      margin-top: 0.5rem;
    }
  }
}

.similar-records,
.related-records,
.work-expressions {
  .list-group-item {
    border: $sidebar-border;
  }
  .details {
    color: $text-color;
  }
  i {
    margin-right: 0;
    font-style: normal;
    top: 0.35em;
    position: relative;
  }
  @media print {
    display: none;
  }

  .list-group {
    .more-link, .less-link, .show-all-link {
      display: block;
      margin: 0;
      padding-top: 5px;
      color: $gray;

      i {
        top: 0
      }
    }
  }
}
.related-records {
    .list-sub-group li {
        margin-top: 0.6em;
    }
}
.work-expressions {
  margin-bottom: 10px;
}

#side-collapse-first_indexed {
  > a {
    display: inline-block;
    min-width: 51%;
  }
}
.form-control.date-picker-field {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
}

#first_indexedFilter {
  margin-top: 10px;
  margin-bottom: 20px;
  .form-group {
    display: flex;
    align-items: flex-end;
    .finna-dateinput {
      flex: 0;
      label > .dateformat-hint {
        font-size: 10px;
      }
    }
    button[type=submit] {
      margin-left: 10px;
      padding: $padding-base-vertical $padding-base-horizontal;
      height: $input-height-base;
    }
  }
}
