.terms-of-service-logo {
   width: 5rem;
   margin: 0 0.5rem 1rem 0;
   float: left;
}

.terms-of-service {
    margin-bottom: 1rem;

    & label {
        font-weight: initial;
    }

    ul {
        margin-bottom: 0;
    }

    // Hacks to make the dialog fit the screen since scrolling a modal is erratic
    // with Safari on iOS
    @media only screen and (-webkit-min-device-pixel-ratio: 1) {
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid $modal-content-border-color;
        padding: 0.1em;
        @media (min-device-width: 768px) {
            max-height: 460px;
        }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        max-height: 150px;
        overflow-y: auto;
        border: 1px solid $modal-content-border-color;
        padding: 0.1em;
        @media (min-device-width: 375px) {
            max-height: 240px;
        }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        max-height: 360px;
        overflow-y: auto;
        border: 1px solid $modal-content-border-color;
        padding: 0.1em;
    }
}

.terms-of-service-title {
   font-size: 18px;
}

.terms-of-service__text {
   background-color: $info-bg-subtle;
   padding: 0.5rem;
   min-height: 100px;
}
