.tf-row-home {
  background: transparent url(/themes/ixtheo2/images/searchbar.jpg) no-repeat;
  background-position: center center;
}

.panel-default, .panel-inverse, .panel-buttons {
  border: 5px solid @tf-background-body-color;
  -webkit-box-shadow: none;
}

.panel-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;

  .searchbox {
    .title {
      display: none;
    }
  }
}

.ix2-searchForm {
  input {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 48px;
    border-radius: 0 0 0 7px;
  }

  .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .type-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    min-width: 180px;
    max-width: 180px;
    height: 48px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
  }

  .search-button {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
  }

  .search-button:hover {
    background-color: @brand-primary;
    color: @body-bg;
  }

  .ix-searchbox-adv-search {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #fff;
  }
}

/*.navbar-brand:hover {
    color: @body-bg !important;
}*/

.navbar {
  margin-bottom: initial;
}

.ix-news-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.ix-news-container {
    &:extend(.tf-row);
}

.ix-news-container-footer {
    color: white;
    bottom: 0;
    background-color: #707070;
    width: 100%;
    line-height:26px;
}

.ix-news-panel {
    &:extend(.tf-col-xs-6);
    min-height: 100px;
    height: 187px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ix-news-panel-1 { background-color: #EEEEEE; }
.ix-news-panel-2 { background-color: #CCCCCC; }
.ix-news-panel-3 { background-color: #CCCCCC; }
.ix-news-panel-4 { background-color: #EEEEEE; }

@media (max-width: 479px) {
    .ix-news-panel-1 { background-color: #EEEEEE; }
    .ix-news-panel-2 { background-color: #CCCCCC; }
    .ix-news-panel-3 { background-color: #EEEEEE; }
    .ix-news-panel-4 { background-color: #CCCCCC; }
}

.ix-result-links-items {
  display: flex;
  justify-content: flex-end;
}

.ix-result-list-actions {
  vertical-align: top;
}

.ix-footer {
    width: 100%;
    padding: initial;
}

.ix-footer-section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h5 {
        color: #32414B;
    }
}

.ix-journals-table {
  width: 100%;
}

.ix-journals-table h3 {
  color: black;
  font-weight: bold;
}

.ix-journals-table .img-td {
  width: 25%;
  vertical-align: top;
  padding: 10px;
  text-align: center;
}

.ix-journals-table .text-td {
  padding-left: 10px;
}

.ix-networking-block {
  padding-bottom: 170px;
  padding-top: 115px;
}
