@import "../../ixtheo/less/compiled";
@import "variables";

/* jqcloud */
div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #094C0E; }
div.jqcloud span.w10 { color: #88CB8D; }
div.jqcloud span.w9 { color: #56995B; }
div.jqcloud span.w8 { color: #236628; }
div.jqcloud span.w7 { color: #88CB8D; }
div.jqcloud span.w6 { color: #56995B; }
div.jqcloud span.w5 { color: #236628; }
div.jqcloud span.w4 { color: #88CB8D; }
div.jqcloud span.w3 { color: #56995B; }
div.jqcloud span.w2 { color: #236628; }
div.jqcloud span.w1 { color: #094C0E; }