// Minimal settings to allow old views to compile without errors
@body-bg: #fff;
@link-color:  #007c90;
@finna-searchbox-link-color: @body-bg;

@gray: #2b2b2b;

@gray-darker:            darken(@gray, 40%);
@gray-dark:              darken(@gray, 10%);
@gray-light:             lighten(@gray, 18%);
@gray-mid-light:         lighten(@gray, 40%);
@gray-lighter:           lighten(@gray, 65%);
@gray-ultralight:        lighten(@gray, 80%);

@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;

@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;

@screen-md:                  992px;
@screen-md-min:              @screen-md;

@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;

@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
