<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="bootstrap.php"
         strict="true">
  <testsuites>
    <testsuite name="VuFindTheme">
      <directory>src</directory>
    </testsuite>
  </testsuites>
  <php>
    <includePath>../../../../vendor/zendframework/zendframework/library</includePath>
  </php>
</phpunit>
